Repository toggl/mobileapp, pull requests merged in 2018-10, with the labels that each got.

#3284 Track selected text extension
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation/ApplicationUrls.cs
  Toggl.Foundation/Extensions/TimeEntryExtensions.cs
  Toggl.Giskard/Startup/SplashScreen.cs
Labels: android

#3320 Fix glitch in the select calendar cells
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.cs
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.designer.cs
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.xib
Labels: ios

#3326 Safer diffutil callbacks again
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
Labels: android, crash

#3329 Fix the Wheel view displaying glitch when opening from the start view
  Toggl.Daneel/ViewControllers/EditDurationViewController.cs
Labels: glitch, ios

#3332 Fix tags not being copied when continuing a TE
  Toggl.PrimeRadiant.Realm/Models/RealmConstructors.cs
Labels: bug, ios

#3333 Consider status bar height in iPhones without a notch
  Toggl.Daneel/ViewControllers/EditDurationViewController.cs
Labels: glitch, ios

#3316 Daneel 1.12 - Sirius
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.cs
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.designer.cs
  Toggl.Daneel/Cells/Calendar/SelectableUserCalendarViewCell.xib
  Toggl.Daneel/Info.plist
  Toggl.Daneel/ViewControllers/EditDurationViewController.cs
  Toggl.PrimeRadiant.Realm/Models/RealmConstructors.cs
Labels: ios, release

#3331 Fix headers timezones
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
  Toggl.Daneel/Views/Log/TimeEntriesLogHeaderView.cs
  Toggl.Foundation.MvvmCross/Transformations/DateToTitleString.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/Transformations/DateToTitleStringTests.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/ViewHolders/MainLogSectionViewHolder.cs
Labels: android, bug, ios

#3289 Enable 1-year reports
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/ReportsCalendarViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsCalendarViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
Labels: android, foundation, ios

#3311 👩‍🏫 no running te returns a success instead of an err
  Toggl.Daneel.IntentBinding/ApiDefinition.cs
  Toggl.Daneel.IntentBinding/StructsAndEnums.cs
  Toggl.Daneel.IntentCodeGen/Toggl.Daneel.IntentCodeGen/Intents.intentdefinition
  Toggl.Daneel.IntentStaticLib/Toggl.Daneel.IntentStaticLib/StopTimerIntent.h
  Toggl.Daneel.IntentStaticLib/libToggl.Daneel.IntentStaticLib.a
  Toggl.Daneel.SiriExtension/StopTimerIntentHandler.cs
Labels: ios

#3344 Fix headers timezones sodium
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
  Toggl.Daneel/Views/Log/TimeEntriesLogHeaderView.cs
  Toggl.Foundation.MvvmCross/Transformations/DateToTitleString.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/Transformations/DateToTitleStringTests.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/ViewHolders/MainLogSectionViewHolder.cs
Labels: android, glitch

#3351 Fix crash caused by invalidated layout
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: ios

#3366 Fix crash in onboarding step
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
Labels: ios

#3312 📐 Add Siri UI for ready state
  Toggl.Daneel.SiriExtension.UI/IntentViewController.cs
  Toggl.Daneel.SiriExtension.UI/IntentViewController.designer.cs
  Toggl.Daneel.SiriExtension.UI/MainInterface.storyboard
  Toggl.Daneel.SiriExtension.UI/Toggl.Daneel.SiriExtension.UI.csproj
  Toggl.Daneel.SiriExtension.UI/Views/ConfirmationView.cs
  Toggl.Daneel.SiriExtension.UI/Views/ConfirmationView.designer.cs
  Toggl.Daneel.SiriExtension.UI/Views/EntryInfoView.cs
  Toggl.Daneel.SiriExtension.UI/Views/EntryInfoView.designer.cs
  Toggl.Daneel/EntryInfoView.xib
Labels: ios

#3353 ⚙️ fix Siri crash when invoking intent with empty desc
  Toggl.Daneel/Startup/AppDelegate.cs
Labels: ios

#3346 Fix sodium scroll crashes on Android 5.x.x
  Toggl.Giskard/Activities/MainActivity.Onboardings.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Extensions/OnboardingExtensions.cs
  Toggl.Giskard/Extensions/Reactive/RecyclerViewExtensions.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/SimpleRecyclerViewScrollChangeListener.cs
Labels: android, bug, crash

#3373 Invalidate the current time indicator when the view appears
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: ios

#3286 Giskard 1.5 - Sodium
  Toggl.Foundation.MvvmCross/ViewModels/TimeEntryViewModel.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Extensions/OnboardingExtensions.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Multivac/Extensions/EnumerableExtensions.cs
Labels: android, release

#3258 Fix some navigation problems on Giskard
  Toggl.Giskard/Activities/EditProjectActivity.cs
  Toggl.Giskard/Presenters/TogglPresenter.cs
Labels: android, bug

#3369 📐 Fix undo button size
  Toggl.Daneel/Views/SnackBar.cs
Labels: ios

#2804 Add IQ/Realm docs
  docs/realm/realm.md
Labels: wip

#3305 🚧 Project creating suggestion obey workspace settings
  Toggl.Foundation.MvvmCross/ViewModels/EditProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectWorkspaceViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectWorkspaceViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Multivac.Tests/Extensions/WorkspaceExtensionsTest.cs
  Toggl.Multivac/Extensions/WorkspaceExtensions.cs
Labels: foundation

#3387 Add Diagnostics infrastructure
  Toggl.Daneel/Services/IosFirebaseStopwatchFactory.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.Tests/Diagnostics/BaseStopwatchFactoryTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Diagnostics/BaseStopwatchFactory.cs
  Toggl.Foundation/Diagnostics/IStopwatch.cs
  Toggl.Foundation/Diagnostics/IStopwatchFactory.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Services/AndroidFirebaseStopwatchFactory.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, foundation, ios

#3343 Giskard 1.5.2 - Sodium Hotfix 2
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
  Toggl.Daneel/Views/Log/TimeEntriesLogHeaderView.cs
  Toggl.Foundation.MvvmCross/Transformations/DateToTitleString.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/Transformations/DateToTitleStringTests.cs
  Toggl.Giskard/Activities/MainActivity.Onboardings.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Extensions/OnboardingExtensions.cs
  Toggl.Giskard/Extensions/Reactive/RecyclerViewExtensions.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/SimpleRecyclerViewScrollChangeListener.cs
  Toggl.Giskard/ViewHolders/MainLogSectionViewHolder.cs
Labels: android, release

#3401 Add two RX methods to simplify code
  Toggl.Multivac/Extensions/ReactiveExtensions.cs
  Toggl.Multivac/Extensions/RxAction/UIAction.cs
Labels: refactoring

#3379 Filter out ghost entities
  Toggl.Foundation/DataSources/DataSource.cs
  Toggl.Foundation/DataSources/Interfaces/IDataSource.cs
Labels: foundation

#3428 Fix tests on other locales
  Toggl.Foundation/Extensions/TimeSpanExtensions.cs
Labels: foundation

#3430 RxFactor the BrowserViewModel
  Toggl.Foundation.MvvmCross/ViewModels/BrowserViewModel.cs
  Toggl.Giskard/Activities/BrowserActivity.cs
Labels: foundation

#3436 Add schedule clean up state
  Toggl.Foundation.Tests/Sync/States/CleanUp/ScheduleCleanUpStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/ScheduleCleanUpState.cs
Labels: sync

#3396 Consider ghost-ness in edit view
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.Tests/Mocks/MockTimeEntry.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditTimeEntryViewModelTests.cs
Labels: foundation, ios

#3447 Add missing stopwatch factory assignment
  Toggl.Foundation/TogglFoundation.cs
Labels: foundation

#3330 ♻️ reload report if user has not looked at it for some minutes
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
Labels: foundation

#3451 🚧Detect lose of access to workspaces
  Toggl.Foundation.Tests/Sync/States/Pull/DetectLosingAccessToWorkspacesStateTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Sync/States/Pull/DetectLosingAccessToWorkspacesState.cs
Labels: sync

#3456 RXFactor TermsOfService
  Toggl.Daneel/ViewControllers/TermsOfServiceViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/TermsOfServiceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TermsOfServiceViewModelTests.cs
  Toggl.Giskard/Fragments/TermsOfServiceFragment.ViewBinds.cs
  Toggl.Giskard/Fragments/TermsOfServiceFragment.cs
  Toggl.Giskard/Resources/layout/TermsOfServiceFragment.axml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, foundation, ios, refactoring

#3449 Sanic tapes: Open start view
  Toggl.Foundation.MvvmCross/ViewModels/MainTabBarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
Labels: foundation

#3459 Disable UI elements when the time entry is ghost
  Toggl.Daneel/LinkerPleaseInclude.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.designer.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.xib
  Toggl.Foundation.MvvmCross/Combiners/ShowTagsValueCombiner.cs
  Toggl.Foundation.MvvmCross/Helper/Color.cs
Labels: ios

#3460 Sanic tapes: Open edit view
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainTabBarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
Labels: foundation

#3435 Show error message when editing ghost time entries
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
Labels: foundation

#3463 Disable UI elements when the time entry is ghost
  Toggl.Giskard/Converters/BoolToConstantOverrides.cs
  Toggl.Giskard/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Giskard/Startup/TogglBindingBuilder.cs
Labels: android

#3462 Sanic tapes: Open giskard reports
  Toggl.Foundation.MvvmCross/ViewModels/MainTabBarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Giskard/Activities/ReportsActivity.cs
Labels: android, foundation

#3464 Sanic tapes: Open add project view from edit te view
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectProjectViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectProjectViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
Labels: foundation

#3465 Sanic tapes/open create project view
  Toggl.Foundation.MvvmCross/ViewModels/EditProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditProjectViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
Labels: foundation

#3466 Sanic tapes: Open Select Tags view
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectTagsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectTagsViewModelTests.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
Labels: foundation

#3476 Add state to delete synced ghost time entries
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteInaccessibleTimeEntriesStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteInaccessibleTimeEntriesState.cs
Labels: sync

#3478 Consider ghostness edit view
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Giskard/Converters/BoolToConstantOverrides.cs
  Toggl.Giskard/Resources/layout/EditTimeEntryActivity.axml
Labels: android, foundation, ios

#3472 Ask user to pick default workspace
  Toggl.Foundation.MvvmCross/Services/ErrorHandlingService.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectDefaultWorkspaceViewModel.cs
  Toggl.Foundation.Tests/Interactors/Workspace/SetDefaultWorkspaceInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectDefaultWorkspaceViewModelTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/NoDefaultWorkspaceDetectingStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/NoDefaultWorkspaceTrackingStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/TrySetDefaultWorkspaceStateTests.cs
  Toggl.Foundation/Exceptions/NoDefaultWorkspaceException.cs
  Toggl.Foundation/Exceptions/NoWorkspaceException.cs
  Toggl.Foundation/Interactors/IInteractorFactory.cs
  Toggl.Foundation/Interactors/InteractorFactory.Workspace.cs
  Toggl.Foundation/Interactors/Workspace/SetDefaultWorkspaceInteractor.cs
  Toggl.Foundation/Models/User.cs
  Toggl.Foundation/Services/IErrorHandlingService.cs
  Toggl.Foundation/Sync/States/Pull/NoDefaultWorkspaceDetectingState.cs
  Toggl.Foundation/Sync/States/Pull/NoDefaultWorkspaceTrackingState.cs
  Toggl.Foundation/Sync/States/Pull/TrySetDefaultWorkspaceState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: blocking, foundation

#3482 Rx Refactor OutdatedAppViewModel
  Toggl.Daneel/ViewControllers/OutdatedAppViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/OutdatedAppViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/OutdatedAppViewModelTests.cs
  Toggl.Giskard/Activities/OutdatedAppActivity.ViewBinds.cs
  Toggl.Giskard/Activities/OutdatedAppActivity.cs
  Toggl.Giskard/Resources/layout/OutdatedAppActivity.axml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: foundation

#3479 Sanic boosters: Remove easy overdraw
  Toggl.Giskard/Resources/layout/AboutActivity.axml
  Toggl.Giskard/Resources/layout/MainActivity.axml
  Toggl.Giskard/Resources/layout/ReportsActivity.axml
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
  Toggl.Giskard/Resources/values/Styles.xml
Labels: android

#3493 Sanic boosters: Remove settings ws recyclerview inner scroll
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
Labels: android

#3506 Only delete synced unreferenced entities
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTagsStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteInaccessibleEntityState.cs
Labels: sync

#3505 Delete inaccessible tasks
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleEntityTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTagsStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTasksStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTasksState.cs
Labels: sync

#3520 Sanic tapes: Add trace for MainActivity onCreate
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Giskard/Activities/MainActivity.cs
Labels: android

#3508 Add helpers to create mock entities
  Toggl.Foundation.Tests/Mocks/MockProject.cs
  Toggl.Foundation.Tests/Mocks/MockTag.cs
  Toggl.Foundation.Tests/Mocks/MockTask.cs
  Toggl.Foundation.Tests/Mocks/MockTimeEntry.cs
  Toggl.Foundation.Tests/Mocks/MockWorkspace.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteInaccessibleTimeEntriesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleEntityTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTagsStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTasksStateTests.cs
Labels: refactoring

#3509 Add state to delete unneeded projects
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleProjectsStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteNonReferencedInaccessibleProjectsState.cs
Labels: sync

#3510 Add state to delete unneeded clients
  Toggl.Foundation.Tests/Mocks/MockClient.cs
  Toggl.Foundation.Tests/Mocks/MockProject.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleClientsStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleProjectsStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleTasksStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteNonReferencedInaccessibleClientsState.cs
Labels: sync

#3513 🚧 Fix updating of TEs in the tableView crash
  Toggl.Daneel/Extensions/Binders/ReactiveTableViewBinder.cs
Labels: crash, ios

#3523 Add state to delete unneeded workspaces
  Toggl.Foundation.Tests/Sync/States/CleanUp/DeleteNonReferencedInaccessibleWorkspacesStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/DeleteNonReferencedInaccessibleWorkspacesState.cs
Labels: sync

#3522 Specify user ID for bar chart reports
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation/Reports/IReportsProvider.cs
  Toggl.Foundation/Reports/ReportsProvider.cs
  Toggl.Ultrawave.Tests.Integration/TimeEntriesReportsApiTests.cs
  Toggl.Ultrawave/ApiClients/Interfaces/ITimeEntriesReportsApi.cs
  Toggl.Ultrawave/ApiClients/TimeEntriesReportsApi.cs
Labels: bug

#3507 🚧🐛Refresh UI after losing access to WS
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TimeEntriesViewModel.cs
  Toggl.Foundation/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: foundation, ios

#3518 Sanic tapes: Main log create/bind ViewHolders
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Extensions/TracingExtensions.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android

#3540 Put SendFeedbackActivity back in place
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, crash

#3457 Sanic tapes: Start Time Entry suggestions
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.cs
  Toggl.Daneel/ViewSources/StartTimeEntryTableViewSource.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Giskard/Activities/StartTimeEntryActivity.ViewBinds.cs
  Toggl.Giskard/Activities/StartTimeEntryActivity.cs
  Toggl.Giskard/Resources/layout/StartTimeEntryActivity.axml
Labels: foundation

#3541 Firebase.Perf fix
  Toggl.Giskard/Services/AndroidFirebaseStopwatchProvider.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/Xamarin.Firebase.Perf.dll
Labels: android

#3512 Implement 24 hours mode switch on Giskard
  Toggl.Daneel/ViewControllers/Settings/SettingsViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Giskard/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
Labels: android

#3544 Fix a crash when stopping a running inaccessible time entry
  Toggl.Foundation.Tests/Interactors/TimeEntry/StopTimeEntryInteractorTests.cs
  Toggl.Foundation.Tests/Mocks/MockTimeEntry.cs
  Toggl.Foundation/Interactors/TimeEntry/StopTimeEntryInteractor.cs
Labels: foundation

#3400 App Diagnostics
  Toggl.Daneel/Services/IosFirebaseStopwatchProvider.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/MainTabBarController.cs
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.cs
  Toggl.Daneel/ViewSources/StartTimeEntryTableViewSource.cs
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainTabBarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectTagsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/Diagnostics/BaseStopwatchProviderTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectTagsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Diagnostics/BaseStopwatchProvider.cs
  Toggl.Foundation/Diagnostics/IStopwatch.cs
  Toggl.Foundation/Diagnostics/IStopwatchProvider.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Activities/ReportsActivity.cs
  Toggl.Giskard/Activities/StartTimeEntryActivity.ViewBinds.cs
  Toggl.Giskard/Activities/StartTimeEntryActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Extensions/TracingExtensions.cs
  Toggl.Giskard/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Giskard/Services/AndroidFirebaseStopwatchProvider.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/Xamarin.Firebase.Perf.dll
Labels: android, foundation, ios

#3551 Sanic boosters: Improve mainlog section cell
  Toggl.Giskard/Resources/layout/MainLogHeader.axml
Labels: android

#3546 Delete inaccessible running time entry
  Toggl.Foundation.Tests/Sync/States/Pull/DeleteInaccessibleRunningTimeEntryStateTests.cs
  Toggl.Foundation/Sync/States/Pull/DeleteInaccessibleRunningTimeEntryState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3567 Fix Firebase calls on develop
  Toggl.Daneel/Services/IosFirebaseStopwatchProvider.cs
  Toggl.Giskard/Services/AndroidFirebaseStopwatchProvider.cs
Labels: android, ios

#3511 RX Refactor: Token Reset ViewModel
  Toggl.Daneel/Extensions/Reactive/UIBarButtonItemExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UITextFieldExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/TokenResetViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/TokenResetViewModel.cs
  Toggl.Foundation.Tests/Extensions/ITestableObserverExtensions.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TokenResetViewModelTests.cs
  Toggl.Giskard/Activities/TokenResetActivity.ViewBinds.cs
  Toggl.Giskard/Activities/TokenResetActivity.cs
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Multivac/Extensions/FunctionalExtensions.cs
  Toggl.Multivac/Extensions/ReactiveExtensions.cs
Labels: android, foundation, ios, refactoring

#3557 Add key in Info.plist to avoid ASC asking if we use encryption
  Toggl.Daneel/Info.plist
Labels: ios

#3496 ♻️ Rx Refactor NoWorkspaceViewModel
  Toggl.Foundation.MvvmCross/ViewModels/NoWorkspaceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/NoWorkspaceViewModelTests.cs
Labels: foundation

#3556 Make datepicker use correct beginning of week
  Toggl.Foundation.MvvmCross/Parameters/SelectTimeParameters.cs
  Toggl.Foundation.MvvmCross/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectTimeViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectTimeViewModelTests.cs
  Toggl.Giskard/Fragments/SelectTimeFragment.cs
  Toggl.Giskard/Views/TogglDroidDatePicker.cs
Labels: android

#3552 Sanic boosters: cache time entries duration sums
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/TimeEntryCollectionViewModel.cs
  Toggl.Giskard/ViewHolders/MainLogSectionViewHolder.cs
Labels: android

#3530 Rx Refactor SuggestionsViewModel
  Toggl.Daneel/Converters/CollectionSizeToHeightConverter.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/Views/Suggestions/SuggestionsView.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/ViewHolders/MainLogSuggestionsListViewHolder.cs
Labels: android, foundation, ios, refactoring

#3562 Add no default workspace view for droid
  Toggl.Foundation.MvvmCross/Services/ErrorHandlingService.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectDefaultWorkspaceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/Services/ErrorHandlingServiceTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/NoWorkspaceViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectDefaultWorkspaceViewModelTests.cs
  Toggl.Giskard/Fragments/SelectDefaultWorkspaceFragment.ViewBinds.cs
  Toggl.Giskard/Fragments/SelectDefaultWorkspaceFragment.cs
  Toggl.Giskard/Resources/layout/SelectDefaultWorkspaceFragment.axml
  Toggl.Giskard/Resources/layout/SelectDefaultWorkspaceFragmentCell.axml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/SelectDefaultWorkspaceViewHolder.cs
  Toggl.PrimeRadiant/Settings/IAccessRestrictionStorage.cs
  Toggl.PrimeRadiant/Settings/SettingsStorage.cs
Labels: android

#3561 Add new state to detect gaining access to workspaces
  Toggl.Foundation.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Foundation/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
Labels: sync

#3563 Add method to reset SinceParameterStorage
  Toggl.PrimeRadiant.Realm/SinceParameterStorage.cs
  Toggl.PrimeRadiant/ISinceParameterRepository.cs
Labels: sync

#3568 Add state to persist new workspaces
  Toggl.Foundation.Tests/Sync/States/Pull/PersistNewWorkspacesStateTests.cs
  Toggl.Foundation/Sync/States/Pull/PersistNewWorkspacesState.cs
Labels: sync

#3532 🔍Track inaccessible data before and after clean up
  Toggl.Foundation.Tests/Sync/States/CleanUp/TrackInaccessibleDataAfterCleanUpStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/TrackInaccessibleWorkspacesAfterCleanUpStateTests.cs
  Toggl.Foundation.Tests/Toggl.Foundation.Tests.csproj
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Sync/States/CleanUp/TrackInaccessibleDataAfterCleanUpState.cs
  Toggl.Foundation/Sync/States/CleanUp/TrackInaccessibleWorkspacesAfterCleanUpState.cs
Labels: sync

#3576 Revert adding sync transitions for detecting losing access to workspace
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3549 Improve the perceived sluggishness when logging in
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
Labels: foundation

#3579 Fix key value storage for dates
  Toggl.Daneel/Services/UserDefaultsStorage.cs
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation/Services/KeyValueStorage.cs
  Toggl.Giskard/Services/SharedPreferencesStorage.cs
  Toggl.PrimeRadiant.Tests/Settings/SettingsStorageTests.cs
  Toggl.PrimeRadiant.Tests/Toggl.PrimeRadiant.Tests.csproj
  Toggl.PrimeRadiant/Settings/IKeyValueStorage.cs
  Toggl.PrimeRadiant/Settings/IOnboardingStorage.cs
  Toggl.PrimeRadiant/Settings/SettingsStorage.cs
Labels: android, crash, ios

#3573 Test marking workspaces as inaccessible
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/WorkspacesAndRelatedEntitiesAreMarkedAsInaccessible.cs
Labels: sync

#3593 🚧📐 Remove old Suggestion views before adding new ones
  Toggl.Daneel/Views/Suggestions/SuggestionsView.cs
Labels: ios

#3587 Reload main log when workspaces are created
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
Labels: foundation

#3584 Track event when detecting new workspaces
  Toggl.Foundation.Tests/Interactors/Sync/HasFinsihedSyncBeforeInteractorTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Interactors/IInteractorFactory.cs
  Toggl.Foundation/Interactors/InteractorFactory.Sync.cs
  Toggl.Foundation/Interactors/Sync/HasFinsihedSyncBeforeInteractor.cs
  Toggl.Foundation/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
Labels: sync

#3574 Add "Ios" suffix to iOS services
  Toggl.Daneel/Services/AnalyticsServiceIos.cs
  Toggl.Daneel/Services/BrowserServiceIos.cs
  Toggl.Daneel/Services/CalendarServiceIos.cs
  Toggl.Daneel/Services/DialogServiceIos.cs
  Toggl.Daneel/Services/FirebaseStopwatchProviderIos.cs
  Toggl.Daneel/Services/GoogleServiceIos.cs
  Toggl.Daneel/Services/IntentDonationServiceIos.cs
  Toggl.Daneel/Services/LicenseProviderIos.cs
  Toggl.Daneel/Services/MailServiceIos.cs
  Toggl.Daneel/Services/NotificationServiceIos.cs
  Toggl.Daneel/Services/OnePasswordServiceIos.cs
  Toggl.Daneel/Services/PermissionsServiceIos.cs
  Toggl.Daneel/Services/PrivateSharedStorageServiceIos.cs
  Toggl.Daneel/Services/RatingServiceIos.cs
  Toggl.Daneel/Services/RemoteConfigServiceIos.cs
  Toggl.Daneel/Services/UserDefaultsStorageIos.cs
  Toggl.Daneel/Startup/AppDelegate.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  docs/style-guide.md
Labels: ios, refactoring

#3601 Fix failing sync tests
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Helpers/Tests/ServerTests.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/WorkspacesAndRelatedEntitiesAreMarkedAsInaccessible.cs
Labels: blocking, sync

#3578 Add Android suffixes to Android services
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Services/AnalyticsServiceAndroid.cs
  Toggl.Giskard/Services/BrowserServiceAndroid.cs
  Toggl.Giskard/Services/CalendarServiceAndroid.cs
  Toggl.Giskard/Services/DialogServiceAndroid.cs
  Toggl.Giskard/Services/FirebaseStopwatchProviderAndroid.cs
  Toggl.Giskard/Services/GoogleServiceAndroid.cs
  Toggl.Giskard/Services/LicenseProviderAndroid.cs
  Toggl.Giskard/Services/MailServiceAndroid.cs
  Toggl.Giskard/Services/NoopIntentDonationServiceAndroid.cs
  Toggl.Giskard/Services/NoopPrivateSharedStorageServiceAndroid.cs
  Toggl.Giskard/Services/NotificationServiceAndroid.cs
  Toggl.Giskard/Services/PermissionsServiceAndroid.cs
  Toggl.Giskard/Services/RatingServiceAndroid.cs
  Toggl.Giskard/Services/RemoteConfigServiceAndroid.cs
  Toggl.Giskard/Services/SharedPreferencesStorageAndroid.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  build.cake
Labels: android, refactoring

#3603 Slow down HTTP requests for syncing tests to make the tests run faster
  Toggl.Foundation.Sync.Tests/BaseComplexSyncTest.cs
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Helpers/SlowApiClient.cs
  Toggl.Foundation.Sync.Tests/Helpers/Tests/ServerTests.cs
  Toggl.Foundation/Exceptions/NoDefaultWorkspaceException.cs
  Toggl.Ultrawave.Tests.Integration/Helper/TogglApiFactory.cs
  Toggl.Ultrawave/Properties/AssemblyInfo.cs
Labels: sync
