Repository toggl/mobileapp, pull requests merged in 2018-11, with the labels that each got.

#3607 Gain access to workspace transitions
  Toggl.Foundation.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Foundation/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3605 Add Close extension method
  Toggl.Daneel/ViewControllers/Calendar/CalendarPermissionDeniedViewController.cs
  Toggl.Daneel/ViewControllers/Settings/UpcomingEventsNotificationSettingsViewController.cs
  Toggl.Daneel/ViewControllers/TermsOfServiceViewController.cs
  Toggl.Foundation.MvvmCross/Extensions/ViewModelExtensions.cs
  Toggl.Foundation.MvvmCross/ViewModels/BrowserViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarPermissionDeniedViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/UpcomingEventsNotificationSettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TermsOfServiceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarPermissionDeniedViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TermsOfServiceViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/UpcomingEventsNotificationSettingsViewModelTests.cs
  Toggl.Giskard/Activities/BrowserActivity.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Fragments/TermsOfServiceFragment.cs
Labels: foundation, refactoring

#3613 Add test to verify inaccessible entities out of sync are not deleted in a clean up
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/InaccessibleEntitiesOutOfSyncAreNotDeletedInCleanUpLoop.cs
Labels: sync

#3617 Revert ":sparkles: Add sync transition for detecting losing access to workspace...
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: android

#3592 🚧 Update suggestions when data changes
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
Labels: foundation

#3604 iOS setup improvements
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Giskard/Startup/Setup.cs
Labels: ios

#3619 Setup schedule cleanup
  Toggl.Foundation.Tests/Sync/States/CleanUp/ScheduleCleanUpStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/DetectLosingAccessToWorkspacesStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/ScheduleCleanUpState.cs
  Toggl.Foundation/Sync/States/Pull/DetectLosingAccessToWorkspacesState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: sync

#3636 Remove unnecessary sync test which was used as an example
  Toggl.Foundation.Sync.Tests/PullUserTest.cs
Labels: sync

#3634 Fix failing sync test because we now have a clean-up loop
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/WorkspacesAndRelatedEntitiesAreMarkedAsInaccessible.cs
Labels: sync

#3639 Make inaccessible time entry error message in edit view more descriptive
  Toggl.Foundation/Resources.resx
Labels: sync

#3638 Remove private classes from sync tests extensions
  Toggl.Foundation.Sync.Tests/Extensions/IClientExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/IPreferencesExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/IProjectExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/ITagExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/ITaskExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/ITimeEntryExtensions.cs
  Toggl.Foundation.Sync.Tests/Extensions/IUserExtensions.cs
Labels: sync

#3633 Fix and test deleting inaccessible running TE during sync
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/DeleteRunningTimeEntryWhenItBecomesInaccessible.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3637 Sync tests - server push functionality upgrade
  Toggl.Foundation.Sync.Tests/Exceptions/CannotDeleteDefaultWorkspaceException.cs
  Toggl.Foundation.Sync.Tests/Exceptions/SyncProcessFailedException.cs
  Toggl.Foundation.Sync.Tests/Extensions/IWorkspaceExtensions.cs
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Helpers/Tests/ServerTests.cs
  Toggl.Ultrawave.Tests.Integration/Helper/WorkspaceHelper.cs
  Toggl.Ultrawave.Tests.Integration/WorkspacesApiTests.cs
  Toggl.Ultrawave/Models/Workspace.cs
Labels: sync

#3570 Giskard 1.6: Magnesium
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
Labels: android, release

#3648 Clean up TimeEntriesLogViewSource
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
Labels: ios

#3608 📅 Add Calendar App Shortcut to Daneel
  Toggl.Daneel/ApplicationShortcutCreator.cs
  Toggl.Daneel/Startup/AppDelegate.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
  Toggl.Foundation/Shortcuts/BaseApplicationShortcutCreator.cs
  Toggl.Foundation/Shortcuts/ShortcutType.cs
  Toggl.Giskard/ApplicationShortcutCreator.cs
Labels: ios

#3646 Fix crash when deleting time entries
  Toggl.Daneel/Extensions/Binders/ReactiveTableViewBinder.cs
  Toggl.Daneel/ViewSources/Generic/SectionedListTableViewSource.cs
Labels: crash, ios

#3555 Daneel 1.13 — Mnemon
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel.SiriExtension/StartTimerIntentHandler.cs
  Toggl.Daneel/Info.plist
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: ios, release

#3656 Fix sync graph dead ends
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: bug, sync

#3589 Fix no (default) workspace view presentation
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/NoWorkspaceViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectDefaultWorkspaceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/NoWorkspaceViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectDefaultWorkspaceViewModelTests.cs
Labels: foundation

#3596 Rxfactor the MainViewModel
  Toggl.Daneel/Extensions/IThreadSafeTimeEntryExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIButtonExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIViewExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewControllers/MainViewController.designer.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Giskard/Activities/MainActivity.ViewBinds.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Converters/BoolToConstantOverrides.cs
  Toggl.Giskard/Extensions/Reactive/ViewExtensions.cs
  Toggl.Giskard/Resources/layout/MainActivity.axml
  Toggl.Giskard/Resources/layout/MainLogFooter.axml
  Toggl.Giskard/Resources/layout/MainRunningTimeEntry.axml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, foundation, ios

#3580 Remove Mvx Inflator from ReactiveActivity
  Toggl.Giskard/Activities/ReactiveActivity.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Activities/SignUpActivity.cs
Labels: android

#3602 Use native HTTP handlers instead of managed ones
  Toggl.Daneel.SiriExtension/Helper/APIHelper.cs
  Toggl.Daneel.SiriExtension/Toggl.Daneel.SiriExtension.csproj
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation/Login/ApiFactory.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Ultrawave.Tests.Integration/Helper/TogglApiFactory.cs
  Toggl.Ultrawave/TogglApi.cs
Labels: android, ios

#3631 The Wheel rendering refactoring
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/Views/EditDuration/BaseWheelView.cs
  Toggl.Daneel/Views/EditDuration/Shapes/Arc.cs
  Toggl.Daneel/Views/EditDuration/Shapes/Caps/Cap.cs
  Toggl.Daneel/Views/EditDuration/Shapes/Caps/EndCap.cs
  Toggl.Daneel/Views/EditDuration/Shapes/Caps/StartCap.cs
  Toggl.Daneel/Views/EditDuration/Shapes/Wheel.cs
  Toggl.Daneel/Views/EditDuration/WheelBackgroundView.cs
  Toggl.Daneel/Views/EditDuration/WheelForegroundView.cs
Labels: ios

#3657 Add a new state to handle api errors
  Toggl.Foundation.Tests/Sync/States/Pull/EnsureFetchListSucceededStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/EnsureFetchSingletonSucceededStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/PersistListStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/PersistSingletonStateTests.cs
  Toggl.Foundation/Sync/States/Pull/CreateArchivedProjectPlaceholdersState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchListSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchSingletonSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/IPersistState.cs
  Toggl.Foundation/Sync/States/Pull/PersistListState.cs
  Toggl.Foundation/Sync/States/Pull/PersistSingletonState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3668 Split detect losing access to workspaces
  Toggl.Foundation.Tests/Sync/States/Pull/DetectLosingAccessToWorkspacesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/MarkWorkspacesAsInaccessibleStateTests.cs
  Toggl.Foundation/Sync/States/Pull/DetectLosingAccessToWorkspacesState.cs
  Toggl.Foundation/Sync/States/Pull/MarkWorkspacesAsInaccessibleParams.cs
  Toggl.Foundation/Sync/States/Pull/MarkWorkspacesAsInaccessibleState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3669 Split persist new workspaces
  Toggl.Foundation.Tests/Sync/States/Pull/PersistNewWorkspacesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/ResetSinceParamsStateTests.cs
  Toggl.Foundation/Sync/States/Pull/PersistNewWorkspacesState.cs
  Toggl.Foundation/Sync/States/Pull/ResetSinceParamsState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3681 Simon/fix activating pricing plans
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Helpers/Tests/ServerTests.cs
Labels: sync

#3686 Revert HTTP handler PR
  Toggl.Daneel.SiriExtension/Helper/APIHelper.cs
  Toggl.Daneel.SiriExtension/Toggl.Daneel.SiriExtension.csproj
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation/Login/ApiFactory.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Ultrawave.Tests.Integration/Helper/TogglApiFactory.cs
  Toggl.Ultrawave/TogglApi.cs
Labels: api

#3661 Fix cursor issue in start view
  Toggl.Foundation.MvvmCross/Extensions/AutocompleteExtensions.cs
Labels: ios

#3651 Enable auto correct in start view
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.xib
Labels: ios

#3489 Losing and gaining access to workspaces
  Toggl.Foundation.Sync.Tests/BaseComplexSyncTest.cs
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Helpers/Tests/ServerTests.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/DeleteRunningTimeEntryWhenItBecomesInaccessible.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/InaccessibleEntitiesOutOfSyncAreNotDeletedInCleanUpLoop.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/WorkspacesAndRelatedEntitiesAreMarkedAsInaccessible.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/WorkspacesAndRelatedInSyncInaccessibleEntitiesAreDeletedInCleanUpLoop.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/ScheduleCleanUpStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/DetectLosingAccessToWorkspacesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/EnsureFetchListSucceededStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/EnsureFetchSingletonSucceededStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/MarkWorkspacesAsInaccessibleStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/PersistListStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/PersistNewWorkspacesStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/PersistSingletonStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/ResetSinceParamsStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/ScheduleCleanUpState.cs
  Toggl.Foundation/Sync/States/Pull/CreateArchivedProjectPlaceholdersState.cs
  Toggl.Foundation/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
  Toggl.Foundation/Sync/States/Pull/DetectLosingAccessToWorkspacesState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchListSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchSingletonSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/EnsureFetchSucceededState.cs
  Toggl.Foundation/Sync/States/Pull/IPersistState.cs
  Toggl.Foundation/Sync/States/Pull/MarkWorkspacesAsInaccessibleParams.cs
  Toggl.Foundation/Sync/States/Pull/MarkWorkspacesAsInaccessibleState.cs
  Toggl.Foundation/Sync/States/Pull/PersistListState.cs
  Toggl.Foundation/Sync/States/Pull/PersistNewWorkspacesState.cs
  Toggl.Foundation/Sync/States/Pull/PersistSingletonState.cs
  Toggl.Foundation/Sync/States/Pull/ResetSinceParamsState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: foundation, sync, wip

#3645 Daneel 1.13.1 - Mnemon Hotfix
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel/Extensions/Binders/ReactiveTableViewBinder.cs
  Toggl.Daneel/Info.plist
  Toggl.Daneel/ViewSources/Generic/SectionedListTableViewSource.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
Labels: release

#3693 Remove empty space in start view
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.xib
Labels: ios

#3698 Show projects/tags when user taps on a suggestion cell
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
Labels: ios

#3700 Sanic boosters: Run suggestions query in the background
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
Labels: foundation

#3610 🚧 Fix Outdated Modal view crash
  Toggl.Daneel/ViewControllers/OutdatedAppViewController.cs
  Toggl.Daneel/ViewControllers/OutdatedAppViewController.xib
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Foundation.Tests/MvvmCross/AppStartTests.cs
Labels: bug, ios

#3697 Show task name in start view
  Toggl.Daneel/Autocomplete/AutocompleteExtensions.cs
Labels: ios

#3701 🆙Gaining access to workspace
  Toggl.Foundation.Sync.Tests/GainingAccessToWorkspace/FetchesEntitiesOlderThanSinceDate.cs
  Toggl.Foundation.Sync.Tests/GainingAccessToWorkspace/GainAccessToAWorkspaceForTheFirstTimeTest.cs
  Toggl.Foundation.Sync.Tests/GainingAccessToWorkspace/GainingAccessToAPreviouslyInaccessibleWorkspaceTest.cs
  Toggl.Foundation.Sync.Tests/LosingAccessToWorkspace/InaccessibleEntitiesOutOfSyncAreNotDeletedInCleanUpLoop.cs
  Toggl.Foundation.Sync.Tests/Toggl.Foundation.Sync.Tests.csproj
Labels: sync

#3704 Sync tests cleanup
  Toggl.Foundation.Sync.Tests/ComplexSyncTest.cs
  Toggl.Foundation.Sync.Tests/Extensions/IWorkspaceExtensions.cs
  Toggl.Foundation.Sync.Tests/Helpers/Server.cs
  Toggl.Foundation.Sync.Tests/Scenarios/GainingAccessToWorkspace/FetchesEntitiesOlderThanSinceDate.cs
  Toggl.Foundation.Sync.Tests/Scenarios/GainingAccessToWorkspace/GainAccessToAWorkspaceForTheFirstTimeTest.cs
  Toggl.Foundation.Sync.Tests/Scenarios/GainingAccessToWorkspace/GainingAccessToAPreviouslyInaccessibleWorkspaceTest.cs
  Toggl.Foundation.Sync.Tests/Scenarios/LosingAccessToWorkspace/DeleteRunningTimeEntryWhenItBecomesInaccessible.cs
  Toggl.Foundation.Sync.Tests/Scenarios/LosingAccessToWorkspace/InaccessibleEntitiesOutOfSyncAreNotDeletedInCleanUpLoop.cs
  Toggl.Foundation.Sync.Tests/Scenarios/LosingAccessToWorkspace/WorkspacesAndRelatedEntitiesAreMarkedAsInaccessible.cs
  Toggl.Foundation.Sync.Tests/Scenarios/LosingAccessToWorkspace/WorkspacesAndRelatedInSyncInaccessibleEntitiesAreDeletedInCleanUpLoop.cs
  Toggl.Foundation.Sync.Tests/Scenarios/ServerHelper/ServerTests.cs
  Toggl.Foundation.Sync.Tests/State/ServerState.cs
  Toggl.Foundation.Sync.Tests/Toggl.Foundation.Sync.Tests.csproj
Labels: sync

#3480 Sanic boosters: Even less overdraw + TextView optimizations
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Resources/layout/MainLogCell.axml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/CopyLessSpannableFactory.cs
  Toggl.Giskard/ViewHelpers/MainRecyclerViewTouchCallback.cs
  Toggl.Giskard/ViewHelpers/TimeEntryViewData.cs
  Toggl.Giskard/ViewHolders/MainLogCellViewHolder.cs
Labels: android

#3550 Performance Improvements
  Toggl.Daneel/Extensions/IThreadSafeTimeEntryExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIButtonExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIViewExtensions.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/MainViewController.cs
  Toggl.Daneel/ViewControllers/MainViewController.designer.cs
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Giskard/Activities/MainActivity.ViewBinds.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Activities/ReactiveActivity.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Activities/SignUpActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Converters/BoolToConstantOverrides.cs
  Toggl.Giskard/Extensions/Reactive/ViewExtensions.cs
  Toggl.Giskard/Resources/layout/AboutActivity.axml
  Toggl.Giskard/Resources/layout/MainActivity.axml
  Toggl.Giskard/Resources/layout/MainLogCell.axml
  Toggl.Giskard/Resources/layout/MainLogFooter.axml
  Toggl.Giskard/Resources/layout/MainLogHeader.axml
  Toggl.Giskard/Resources/layout/MainRunningTimeEntry.axml
  Toggl.Giskard/Resources/layout/ReportsActivity.axml
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
  Toggl.Giskard/Resources/values/Styles.xml
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/CopyLessSpannableFactory.cs
  Toggl.Giskard/ViewHelpers/MainRecyclerViewTouchCallback.cs
  Toggl.Giskard/ViewHelpers/TimeEntryCollectionViewModel.cs
  Toggl.Giskard/ViewHelpers/TimeEntryViewData.cs
  Toggl.Giskard/ViewHolders/MainLogCellViewHolder.cs
  Toggl.Giskard/ViewHolders/MainLogSectionViewHolder.cs
Labels: android, foundation, ios, on-hold

#3706 Remove CTO abbreviations from RatingViewModel
  Toggl.Daneel/Views/Rating/RatingView.cs
  Toggl.Foundation.MvvmCross/ViewModels/RatingViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/RatingViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
Labels: foundation, refactoring

#3710 Fix TrackInaccessibleDataAfterCleanUpState
  Toggl.Foundation.Tests/Sync/States/CleanUp/TrackInaccessibleDataAfterCleanUpStateTests.cs
  Toggl.Foundation.Tests/Sync/States/CleanUp/TrackInaccessibleWorkspacesAfterCleanUpStateTests.cs
  Toggl.Foundation/Sync/States/CleanUp/TrackInaccessibleDataAfterCleanUpState.cs
Labels: sync

#3708 ✨ Add analytics to clean state
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3721 Make sync graph prettier
  Toggl.Foundation/Properties/AssemblyInfo.cs
  Toggl.Tools/SyncDiagramGenerator/DotFileWriter.cs
  Toggl.Tools/SyncDiagramGenerator/Node.cs
  Toggl.Tools/SyncDiagramGenerator/SubGraph.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: sync

#3600 ♻️ Rxfactor SelectClientViewModel
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/SelectClientViewController.cs
  Toggl.Daneel/ViewControllers/SelectDefaultWorkspaceViewController.cs
  Toggl.Daneel/ViewSources/ClientTableViewSource.cs
  Toggl.Daneel/ViewSources/CreateSuggestionGroupedTableViewSource.cs
  Toggl.Daneel/ViewSources/Generic/ListTableViewSource.cs
  Toggl.Daneel/ViewSources/SelectTagsTableViewSource.cs
  Toggl.Daneel/Views/Client/ClientViewCell.cs
  Toggl.Daneel/Views/Client/ClientViewCell.designer.cs
  Toggl.Daneel/Views/Client/ClientViewCell.xib
  Toggl.Daneel/Views/Client/CreateClientViewCell.cs
  Toggl.Daneel/Views/Client/CreateClientViewCell.xib
  Toggl.Daneel/Views/Client/CreateEntityViewCell.designer.cs
  Toggl.Daneel/Views/EntityCreation/ClientViewCell.cs
  Toggl.Daneel/Views/EntityCreation/MvxCreateEntityViewCell.cs
  Toggl.Daneel/Views/EntityCreation/MvxCreateEntityViewCell.designer.cs
  Toggl.Daneel/Views/EntityCreation/MvxCreateEntityViewCell.xib
  Toggl.Foundation.MvvmCross/ViewModels/SelectClientViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableClientViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/EditProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectClientViewModelTests.cs
  Toggl.Giskard/Activities/SelectClientActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SelectClientActivity.cs
  Toggl.Giskard/Adapters/SelectClientRecyclerAdapter.cs
  Toggl.Giskard/Resources/layout/EntityCreationActivityCell.axml
  Toggl.Giskard/Resources/layout/SelectClientActivity.axml
  Toggl.Giskard/Resources/layout/SelectClientActivityCell.axml
  Toggl.Giskard/TemplateSelectors/SelectClientTemplateSelector.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/Client/ClientCreationSelectionViewHolder.cs
  Toggl.Giskard/ViewHolders/Client/ClientSelectionViewHolder.cs
  Toggl.Giskard/Views/SelectClientRecyclerView.cs
Labels: android, foundation, ios

#3723 Fix calendar view not observing timezone
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
Labels: ios

#3717 Mark dead ends in sync graph explicitely
  Toggl.Foundation.Tests/Sync/States/DeadEndStateTests.cs
  Toggl.Foundation/Sync/States/DeadEndState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/DotFileWriter.cs
  Toggl.Tools/SyncDiagramGenerator/Node.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: sync

#3718 Fail tests if sync graph has loose ends
  Toggl.Foundation.Tests/Sync/NamedStateResult.cs
  Toggl.Foundation.Tests/Sync/SyncGraphTests.cs
  Toggl.Foundation.Tests/Sync/TestConfigurator.cs
  Toggl.Foundation.Tests/Sync/TestConfiguratorTests.cs
Labels: sync

#3711 Daneel 1.14 - Rigel
  Toggl.Daneel/Info.plist
  Toggl.Daneel/Services/FirebaseStopwatchProviderIos.cs
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
Labels: ios, release

#3667 Giskard User Feedback
  Toggl.Daneel/Services/RemoteConfigServiceIos.cs
  Toggl.Daneel/Views/Rating/RatingView.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/RatingViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/RatingViewModelTests.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Extensions/Reactive/ImageViewExtensions.cs
  Toggl.Giskard/Presenters/TogglPresenter.cs
  Toggl.Giskard/Resources/drawable/ic_thumbs_down.xml
  Toggl.Giskard/Resources/drawable/ic_thumbs_up.xml
  Toggl.Giskard/Resources/layout/MainUserFeedbackCard.axml
  Toggl.Giskard/Resources/xml/RemoteConfigDefaults.xml
  Toggl.Giskard/Services/RatingServiceAndroid.cs
  Toggl.Giskard/Services/RemoteConfigServiceAndroid.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Startup/TogglApplication.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/MainLogUserFeedbackViewHolder.cs
  Toggl.Giskard/google-services.json
  Toggl.Giskard/packages.config
  Toggl.Multivac/RatingViewConfiguration.cs
Labels: android

#3742 Do not crash when user doesn't have a default workspace set
  Toggl.Foundation.Sync.Tests/Extensions/IUserExtensions.cs
  Toggl.Foundation.Sync.Tests/Helpers/AppServices.cs
  Toggl.Foundation.Sync.Tests/Scenarios/NoDefaultWorkspace/RestrictsAccessWhenThereAreMultipleWorkspaces.cs
  Toggl.Foundation.Sync.Tests/Scenarios/NoDefaultWorkspace/WhenTheUserHasOnlyOneWorkspaceItIsUsedAsDefault.cs
  Toggl.Foundation.Tests/DataSources/TogglDataSourceTests.cs
  Toggl.Foundation.Tests/Interactors/Workspace/SetDefaultWorkspaceInteractorTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/TrySetDefaultWorkspaceStateTests.cs
  Toggl.Foundation.Tests/Sync/SyncManagerTests.cs
  Toggl.Foundation/DataSources/TogglDataSource.cs
  Toggl.Foundation/Interactors/Workspace/SetDefaultWorkspaceInteractor.cs
  Toggl.Foundation/Sync/ISyncManager.cs
  Toggl.Foundation/Sync/SyncManager.cs
Labels: crash, sync

#3749 Aluminium: Fix toolbar binding/appearance on token reset activity
  Toggl.Giskard/Activities/TokenResetActivity.ViewBinds.cs
  Toggl.Giskard/Activities/TokenResetActivity.cs
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
Labels: android, crash

#3751 Aluminium: Fix crash when selecting clients
  Toggl.Giskard/Adapters/BaseRecyclerAdapter.cs
  Toggl.Giskard/ViewHolders/BaseRecyclerViewHolder.cs
Labels: android, crash

#3788 Remove unneeded Firebase crash reporting stuff
  .gitignore
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/packages.config
  Toggl.Daneel/scripts/FirebaseCrashReporting/batch-upload
  Toggl.Daneel/scripts/FirebaseCrashReporting/dump_syms
  Toggl.Daneel/scripts/FirebaseCrashReporting/extract-keys
  Toggl.Daneel/scripts/FirebaseCrashReporting/upload-sym-util.bash
  Toggl.Daneel/scripts/FirebaseCrashReporting/xamarin_upload_symbols.sh
Labels: ios

#3747 Giskard 1.7: Aluminium #2
  Toggl.Giskard/Activities/TokenResetActivity.ViewBinds.cs
  Toggl.Giskard/Activities/TokenResetActivity.cs
  Toggl.Giskard/Adapters/BaseRecyclerAdapter.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
  Toggl.Giskard/ViewHolders/BaseRecyclerViewHolder.cs
Labels: release

#3810 Add run background sync interactor
  Toggl.Foundation.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Foundation.Tests/Interactors/Sync/RunBackgroundSyncInteractorTests.cs
  Toggl.Foundation/Interactors/Sync/RunBackgroundSyncInteractor.cs
  Toggl.Foundation/Models/SyncOutcome.cs
Labels: foundation, sync

#3752 🇻🇳Rxfactor SelectCountryViewModel
  Toggl.Daneel/ViewControllers/SelectCountryViewController.cs
  Toggl.Daneel/ViewSources/CountryTableViewSource.cs
  Toggl.Daneel/Views/CountrySelection/CountryViewCell.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectCountryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableCountryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectCountryViewModelTests.cs
  Toggl.Giskard/Activities/SelectCountryActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SelectCountryActivity.cs
  Toggl.Giskard/Resources/layout/SelectCountryActivity.axml
  Toggl.Giskard/Resources/layout/SelectCountryActivityCountryCell.axml
  Toggl.Giskard/TemplateSelectors/SelecCountryTemplateSelector.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/Country/CountrySelectionViewHolder.cs
Labels: android, foundation, ios

#3825 Burn unused service references
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarPermissionDeniedViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/NotificationSettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TokenResetViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarPermissionDeniedViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TokenResetViewModelTests.cs
Labels: refactoring

#3842 Track login error
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
Labels: bug

#3739 Improve calendar layout
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewItemLayoutAttributes.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.Daneel/Views/Calendar/ICalendarCollectionViewLayoutDataSource.cs
  Toggl.Foundation.MvvmCross/Calendar/CalendarItemLayoutAttributes.cs
  Toggl.Foundation.MvvmCross/Calendar/CalendarLayoutCalculator.cs
  Toggl.Foundation.Tests/MvvmCross/Calendar/CalendarLayoutCalculatorTests.cs
Labels: ios

#3839 Track starting and finishing background sync
  Toggl.Foundation.Tests/Interactors/Sync/RunBackgroundSyncInteractorTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Interactors/Sync/RunBackgroundSyncInteractor.cs
Labels: foundation, sync

#3841 Daneel 1.14.1 - Rigel hotfix
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel/Info.plist
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
Labels: release

#3878 Login manager observables
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TokenResetViewModel.cs
  Toggl.Foundation.Tests/Login/LoginManagerTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TokenResetViewModelTests.cs
  Toggl.Foundation/Login/ILoginManager.cs
  Toggl.Foundation/Login/LoginManager.cs
Labels: foundation, refactoring

#3882 Background sync develop mergeback
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel/Info.plist
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/SelectCountryViewController.cs
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/ViewSources/CountryTableViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewItemLayoutAttributes.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.Daneel/Views/Calendar/ICalendarCollectionViewLayoutDataSource.cs
  Toggl.Daneel/Views/CountrySelection/CountryViewCell.cs
  Toggl.Foundation.MvvmCross/Calendar/CalendarItemLayoutAttributes.cs
  Toggl.Foundation.MvvmCross/Calendar/CalendarLayoutCalculator.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarPermissionDeniedViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectCountryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableCountryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/NotificationSettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TokenResetViewModel.cs
  Toggl.Foundation.Tests/Login/LoginManagerTests.cs
  Toggl.Foundation.Tests/MvvmCross/Calendar/CalendarLayoutCalculatorTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarPermissionDeniedViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectCountryViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectProjectViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TokenResetViewModelTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Login/ILoginManager.cs
  Toggl.Foundation/Login/LoginManager.cs
  Toggl.Giskard/Activities/SelectCountryActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SelectCountryActivity.cs
  Toggl.Giskard/Adapters/SelectProjectRecyclerAdapter.cs
  Toggl.Giskard/Resources/layout/SelectCountryActivity.axml
  Toggl.Giskard/Resources/layout/SelectCountryActivityCountryCell.axml
  Toggl.Giskard/TemplateSelectors/SelecCountryTemplateSelector.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/Country/CountrySelectionViewHolder.cs
  Toggl.Ultrawave.Tests/ApiClients/TestApi.cs
  Toggl.Ultrawave/ApiClients/BaseApi.cs
  Toggl.Ultrawave/ApiClients/ClientsApi.cs
  Toggl.Ultrawave/ApiClients/CountriesApi.cs
  Toggl.Ultrawave/ApiClients/FeedbackApiClient.cs
  Toggl.Ultrawave/ApiClients/LocationApi.cs
  Toggl.Ultrawave/ApiClients/PreferencesApi.cs
  Toggl.Ultrawave/ApiClients/ProjectsApi.cs
  Toggl.Ultrawave/ApiClients/ProjectsSummaryApi.cs
  Toggl.Ultrawave/ApiClients/TagsApi.cs
  Toggl.Ultrawave/ApiClients/TasksApi.cs
  Toggl.Ultrawave/ApiClients/TimeEntriesApi.cs
  Toggl.Ultrawave/ApiClients/TimeEntriesReportsApi.cs
  Toggl.Ultrawave/ApiClients/UserApi.cs
  Toggl.Ultrawave/ApiClients/WorkspaceFeaturesApi.cs
  Toggl.Ultrawave/ApiClients/WorkspacesApi.cs
Labels: foundation, sync
