Repository toggl/mobileapp, pull requests merged in 2018-12, with the labels that each got.

#3863 Daneel 1.14.2 - Rigel hotfix 2
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel/Info.plist
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.PrimeRadiant.Realm/Database.cs
Labels: release

#3826 Giskard: Add missing task names
  Toggl.Giskard/Activities/MainActivity.ViewBinds.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Autocomplete/AutocompleteExtensions.cs
  Toggl.Giskard/Autocomplete/ProjectTokenSpan.cs
  Toggl.Giskard/Autocomplete/TokenSpan.cs
  Toggl.Giskard/Extensions/Reactive/TextViewExtensions.cs
  Toggl.Giskard/Resources/layout/MainRunningTimeEntry.axml
Labels: android, bug

#3906 Fix report date range selection using incorrect year
  Toggl.Giskard/Fragments/ReportsCalendarFragment.cs
Labels: android

#3903 Add storage for dismissed suggestions
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/Suggestions/DismissedSuggestionStorageTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Suggestions/DismissedSuggestionStorage.cs
  Toggl.Foundation/Suggestions/Interfaces/IDismissedSuggestionStorage.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Startup/Setup.cs
Labels: foundation

#3904 Naive Background sync on iOS
  Toggl.Daneel/Info.plist
  Toggl.Daneel/Services/BackgroundSyncServiceIos.cs
  Toggl.Daneel/Startup/AppDelegate.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Interactors/IInteractorFactory.cs
  Toggl.Foundation/Interactors/InteractorFactory.Definitions.cs
  Toggl.Foundation/Interactors/InteractorFactory.Sync.cs
  Toggl.Foundation/Services/BaseBackgroundSyncService.cs
  Toggl.Foundation/Services/IBackgroundSyncService.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Services/BackgroundSyncServiceAndroid.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: foundation, ios, sync

#3844 Fix misbehaving main running timer visibility
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Extensions/CircularRevealAnimation.cs
Labels: android, bug

#3738 BaseRecyclerAdapter Performance Improvements with DiffUtils
  Toggl.Foundation.MvvmCross/Interfaces/IDiffable.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableClientViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableColorViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableCountryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableWorkspaceViewModel.cs
  Toggl.Giskard/Adapters/BaseRecyclerAdapter.cs
  Toggl.Giskard/Adapters/SimpleAdapter.cs
  Toggl.Giskard/Extensions/Reactive/RecyclerAdapterExtensions.cs
Labels: android

#3923 Delay state
  Toggl.Foundation.Tests/Sync/States/DelayStateTests.cs
  Toggl.Foundation/Sync/States/DelayState.cs
Labels: sync

#3876 Leaky bucket
  Toggl.Foundation.Tests/Sync/LeakyBucketTests.cs
  Toggl.Foundation/Sync/ILeakyBucket.cs
  Toggl.Foundation/Sync/LeakyBucket.cs
Labels: sync

#3914 Rename message property in ResponseError
  Toggl.Ultrawave.Tests/Exceptions/ApiErrorResponsesTests.cs
  Toggl.Ultrawave/Exceptions/ApiException.cs
  Toggl.Ultrawave/Models/ResponseError.cs
Labels: api

#3912 Add an action to start and edit a suggestion
  Toggl.Daneel/Startup/AppDelegate.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation.MvvmCross/Parameters/StartTimeEntryParameters.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Foundation/Suggestions/Suggestion.cs
Labels: foundation

#3895 Giskard 1.7.1 hotfix
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Resources/xml/RemoteConfigDefaults.xml
Labels: android, release

#3936 Modified leaky bucket
  Toggl.Foundation.Tests/Sync/LeakyBucketTests.cs
  Toggl.Foundation/Sync/ILeakyBucket.cs
  Toggl.Foundation/Sync/LeakyBucket.cs
Labels: sync

#3930 Giskard: Add empty state for existing users
  Toggl.Giskard/Activities/MainActivity.ViewBinds.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Resources/drawable-hdpi/toggl_spider.png
  Toggl.Giskard/Resources/drawable-mdpi/toggl_spider.png
  Toggl.Giskard/Resources/drawable-xhdpi/toggl_spider.png
  Toggl.Giskard/Resources/drawable-xxhdpi/toggl_spider.png
  Toggl.Giskard/Resources/drawable-xxxhdpi/toggl_spider.png
  Toggl.Giskard/Resources/layout/MainActivity.axml
  Toggl.Giskard/Resources/layout/WelcomeBackPlaceholder.axml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android

#3879 Fail fast
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.Sync.Tests/Helpers/AppServices.cs
  Toggl.Foundation.Tests/Sync/DeadlockTests.cs
  Toggl.Foundation.Tests/Sync/RetryDelayServiceTests.cs
  Toggl.Foundation.Tests/Sync/StateMachineTests.cs
  Toggl.Foundation.Tests/Sync/States/FailureState.cs
  Toggl.Foundation.Tests/Sync/States/Pull/SevereApiExceptionsRethrowingStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/BaseStates/BasePushEntityStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/CheckServerStatusStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/ResetAPIDelayStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/UpdateEntityStateTests.cs
  Toggl.Foundation.Tests/Sync/SyncGraphTests.cs
  Toggl.Foundation/Sync/IRetryDelayService.cs
  Toggl.Foundation/Sync/RetryDelayService.cs
  Toggl.Foundation/Sync/StateMachine/StateMachine.cs
  Toggl.Foundation/Sync/States/CheckServerStatusState.cs
  Toggl.Foundation/Sync/States/FailureState.cs
  Toggl.Foundation/Sync/States/Pull/SevereApiExceptionsRethrowingState.cs
  Toggl.Foundation/Sync/States/Push/BasePushEntityState.cs
  Toggl.Foundation/Sync/States/Push/Interfaces/IPushEntityState.cs
  Toggl.Foundation/Sync/States/Push/ResetAPIDelayState.cs
  Toggl.Foundation/Sync/States/Push/TryResolveClientErrorState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
  Toggl.Ultrawave.Tests.Integration/StatusApiTests.cs
  docs/endpoints.md
Labels: sync

#3925 Add Suggestion interactor
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Views/Suggestions/SuggestionsView.cs
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainTabBarViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Foundation.Tests/Interactors/Suggestions/GetSuggestionsInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Foundation.Tests/Suggestions/MostUsedTimeEntrySuggestionProviderTests.cs
  Toggl.Foundation.Tests/Suggestions/SuggestionProviderContainerTests.cs
  Toggl.Foundation.Tests/Toggl.Foundation.Tests.csproj
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Interactors/IInteractorFactory.cs
  Toggl.Foundation/Interactors/InteractorFactory.Definitions.cs
  Toggl.Foundation/Interactors/InteractorFactory.Suggestions.cs
  Toggl.Foundation/Interactors/Suggestions/GetSuggestionsInteractor.cs
  Toggl.Foundation/Suggestions/Interfaces/ISuggestionProviderContainer.cs
  Toggl.Foundation/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
  Toggl.Foundation/Suggestions/SuggestionProviderContainer.cs
  Toggl.Foundation/Toggl.Foundation.csproj
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/ViewHolders/MainLogSuggestionsListViewHolder.cs
Labels: foundation

#3896 Introduce suggestion certainties
  Toggl.Foundation.Tests/Interactors/TimeEntry/CreateTimeEntryInteractorTests.cs
  Toggl.Foundation.Tests/Mocks/MockTimeEntry.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Foundation.Tests/Suggestions/DismissedSuggestionStorageTests.cs
  Toggl.Foundation.Tests/Suggestions/MostUsedTimeEntrySuggestionProviderTests.cs
  Toggl.Foundation/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
  Toggl.Foundation/Suggestions/Suggestion.cs
Labels: foundation

#3952 Silicon: fix workspace selection
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Giskard/Activities/ReportsActivity.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Adapters/BaseRecyclerAdapter.cs
  Toggl.Giskard/Fragments/SelectDefaultWorkspaceFragment.cs
Labels: android, bug

#3953 Silicon: Fix signup inputs
  Toggl.Giskard/Activities/SignUpActivity.cs
Labels: android, bug

#3951 Put navigation to outdated app vm back
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Giskard/Startup/SplashScreen.cs
Labels: android, bug

#3935 Use leaky bucket for pulling
  Toggl.Foundation.Tests/Sync/States/Pull/FetchAllSinceStateTests.cs
  Toggl.Foundation.Tests/Sync/SyncGraphTests.cs
  Toggl.Foundation/Sync/ILeakyBucket.cs
  Toggl.Foundation/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: sync

#3942 Add date format setting
  Toggl.Giskard/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
Labels: android

#3947 Add duration format setting
  Toggl.Giskard/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Resources/layout/SettingsActivity.axml
Labels: android

#3924 Ensure Mvx is initialized to avoid null refs
  Toggl.Giskard/Activities/MainActivity.cs
Labels: android

#3967 Show notifications when background sync starts and stops
  Toggl.Foundation.Tests/Interactors/Sync/RunBackgroundSyncInteractorTests.cs
  Toggl.Foundation/Interactors/InteractorFactory.Sync.cs
  Toggl.Foundation/Interactors/Sync/RunBackgroundSyncInteractor.cs
Labels: android, ios, sync

#3962 Start running time entry from notification
  Toggl.Daneel/Startup/AppDelegate.cs
Labels: ios

#3970 Implement signup/login screen on Giskard
  Toggl.Daneel/ViewControllers/UserAccess/SignupOrLoginChoiceViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/UserAccess/SignupOrLoginChoiceViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/UserAccess/SignupOrLoginChoiceViewModelTests.cs
  Toggl.Giskard/Activities/SignupOrLoginChoiceActivity.ViewBinds.cs
  Toggl.Giskard/Activities/SignupOrLoginChoiceActivity.cs
  Toggl.Giskard/Resources/drawable/GrayBorderButton.xml
  Toggl.Giskard/Resources/drawable/RoundedBlueButton.xml
  Toggl.Giskard/Resources/drawable/TogglRedLogoBlackText.xml
  Toggl.Giskard/Resources/layout/SignupOrLoginChoiceActivity.axml
  Toggl.Giskard/Resources/values/Colors.xml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Startup/SplashScreen.cs
  Toggl.Giskard/Startup/TogglApplication.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android

#3972 Fix giskard shortcut navigation loops
  Toggl.Giskard/Startup/SplashScreen.cs
Labels: android

#3973 Rate limiting for pulling - attempt 2
  Toggl.Foundation.Tests/Sync/Helpers/RateLimitingAwareRequestSenderTests.cs
  Toggl.Foundation.Tests/Sync/Helpers/RequestSenderTests.cs
  Toggl.Foundation.Tests/Sync/RateLimiterTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/FetchAllSinceStateTests.cs
  Toggl.Foundation/Extensions/ObservableExtensions.cs
  Toggl.Foundation/Sync/Helpers/IRequestSender.cs
  Toggl.Foundation/Sync/Helpers/RateLimitingAwareAwareRequestSender.cs
  Toggl.Foundation/Sync/Helpers/RequestSender.cs
  Toggl.Foundation/Sync/IRateLimiter.cs
  Toggl.Foundation/Sync/LeakyBucket.cs
  Toggl.Foundation/Sync/PullingApiClientAdapter.cs
  Toggl.Foundation/Sync/RateLimiter.cs
  Toggl.Foundation/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
Labels: blocking, sync

#3940 Giskard 1.8: Silicon
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Giskard/Activities/ReportsActivity.cs
  Toggl.Giskard/Activities/SettingsActivity.cs
  Toggl.Giskard/Activities/SignUpActivity.cs
  Toggl.Giskard/Adapters/BaseRecyclerAdapter.cs
  Toggl.Giskard/Fragments/SelectDefaultWorkspaceFragment.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
Labels: android, release

#3976 Simplifying since parameters storage
  Toggl.Foundation.Sync.Tests/Helpers/Storage.cs
  Toggl.Foundation.Tests/Sync/States/Pull/FetchAllSinceStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Pull/SinceDateUpdatingStateTests.cs
  Toggl.Foundation/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Foundation/Sync/States/Pull/SinceDateUpdatingState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.PrimeRadiant.Realm/SinceParameterStorage.cs
  Toggl.PrimeRadiant.Tests/SinceParametersStorageTests.cs
  Toggl.PrimeRadiant/ISinceParameterRepository.cs
Labels: sync

#3977 Rate limiting for pushing
  Toggl.Foundation.Tests/Sync/States/Push/BaseStates/BasePushEntityStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/CreateEntityStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/DeleteEntityStateTests.cs
  Toggl.Foundation.Tests/Sync/States/Push/UpdateEntityStateTests.cs
  Toggl.Foundation/Sync/States/Push/CreateEntityState.cs
  Toggl.Foundation/Sync/States/Push/DeleteEntityState.cs
  Toggl.Foundation/Sync/States/Push/UpdateEntityState.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
Labels: sync

#3931 🚧 update ForgotPasswordViewModel
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/ForgotPasswordViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ForgotPasswordViewModelTests.cs
  Toggl.Giskard/Activities/ForgotPasswordActivity.cs
Labels: foundation

#3988 Don't forget to start the stopwatch so that the whole bgsync doesn't explode
  Toggl.Foundation/Interactors/Sync/RunBackgroundSyncInteractor.cs
Labels: bug, foundation

#3983 🔑 ForgotPassword screen for iOS
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.cs
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.designer.cs
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.xib
  Toggl.Foundation.MvvmCross/ViewModels/ForgotPasswordViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ForgotPasswordViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
Labels: ios

#3994 Android sync documentation
  Toggl.Giskard/Extensions/ActivityExtensions.cs
  docs/syncing/bg-fetch-android.md
  docs/syncing/bg-fetch-ios.md
Labels: android

#3992 Detached view animation fixes
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Extensions/CircularRevealAnimation.cs
  Toggl.Giskard/Extensions/ViewExtensions.cs
Labels: android

#3971 Show running time entry in the calendar view
  Toggl.Daneel/Cells/Calendar/CalendarItemView.cs
  Toggl.Daneel/Resources/Images.xcassets/stripes.imageset/Contents.json
  Toggl.Daneel/Resources/Images.xcassets/stripes.imageset/stripes.png
  Toggl.Daneel/Resources/Images.xcassets/stripes.imageset/stripes@2x.png
  Toggl.Daneel/Resources/Images.xcassets/stripes.imageset/stripes@3x.png
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.Daneel/Views/Calendar/ICalendarCollectionViewLayoutDataSource.cs
  Toggl.Foundation.MvvmCross/Calendar/CalendarLayoutCalculator.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Foundation.Tests/Interactors/Calendar/GetCalendarItemsForDateInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/Calendar/CalendarLayoutCalculatorTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarViewModelTests.cs
  Toggl.Foundation/Calendar/CalendarItem.cs
  Toggl.Foundation/Extensions/CalendarItemExtensions.cs
  Toggl.Foundation/Interactors/Calendar/GetCalendarItemsForDateInteractor.cs
Labels: ios

#3990 Extract string literals from Android
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
  Toggl.Giskard/Adapters/SelectTagsRecyclerAdapter.cs
  Toggl.Giskard/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Giskard/Resources/layout/EditTimeEntryTagCell.axml
  Toggl.Giskard/Resources/layout/MainLogCell.axml
  Toggl.Giskard/Resources/layout/MainSuggestions.axml
  Toggl.Giskard/Resources/layout/MainUserFeedbackCard.axml
  Toggl.Giskard/Resources/layout/ReportsActivityWorkspaceName.axml
  Toggl.Giskard/Resources/layout/SelectDefaultWorkspaceFragmentCell.axml
  Toggl.Giskard/Resources/layout/SelectStopDateTimeEditorPage.axml
  Toggl.Giskard/Resources/layout/SelectTimeDurationPage.axml
  Toggl.Giskard/Resources/layout/TokenResetActivity.axml
  Toggl.Giskard/Resources/layout/TooltipWithCenteredBottomArrow.axml
  Toggl.Giskard/Resources/layout/TooltipWithLeftTopArrow.axml
  Toggl.Giskard/Resources/layout/TooltipWithRightArrow.axml
  Toggl.Giskard/Resources/layout/TooltipWithRightBottomArrow.axml
  Toggl.Giskard/Resources/layout/TooltipWithRightTopArrow.axml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/ViewHolders/Client/ClientCreationSelectionViewHolder.cs
Labels: android

#3998 Add more suggestion tracking
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/Interactors/TimeEntry/CreateTimeEntryInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Foundation.Tests/Suggestions/DismissedSuggestionStorageTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Suggestions/CalendarSuggestionProvider.cs
  Toggl.Foundation/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
  Toggl.Foundation/Suggestions/Suggestion.cs
  Toggl.Foundation/Suggestions/SuggestionProviderType.cs
Labels: foundation

#4001 Measure if app is up to date during initial sync
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TokenResetViewModel.cs
  Toggl.Foundation.Sync.Tests/Helpers/AppServices.cs
  Toggl.Foundation.Tests/DataSources/TogglDataSourceTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation.Tests/Services/AutomaticSyncingServiceTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/DataSources/Interfaces/ITogglDataSource.cs
  Toggl.Foundation/DataSources/TogglDataSource.cs
  Toggl.Foundation/Services/AutomaticSyncingService.cs
  Toggl.Foundation/Services/IAutomaticSyncingService.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Foundation/UserAccessManager/IUserAccessManager.cs
  Toggl.Foundation/UserAccessManager/UserAccessManager.cs
  Toggl.Giskard/Startup/Setup.cs
Labels: blocking

#4016 Refactor our platform constants
  Toggl.Daneel/PlatformInfoIos.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/packages.config
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.MvvmCross/NavigationService.cs
  Toggl.Foundation.MvvmCross/Services/FeedbackService.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Foundation.Tests/Interactors/Settings/SendFeedbackInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/MvvmCross/Services/FeedbackServiceTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/BasePlatformInfo.cs
  Toggl.Foundation/IPlatformConstants.cs
  Toggl.Foundation/IPlatformInfo.cs
  Toggl.Foundation/Interactors/InteractorFactory.Definitions.cs
  Toggl.Foundation/Interactors/InteractorFactory.Settings.cs
  Toggl.Foundation/Interactors/Settings/SendFeedbackInteractor.cs
  Toggl.Foundation/PlatformInfo.cs
  Toggl.Foundation/Toggl.Foundation.csproj
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/PlatformConstants.cs
  Toggl.Giskard/PlatformInfoAndroid.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/packages.config
Labels: refactoring

#4017 Giskard 1.9: Phosphorus
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
Labels: android, release

#4036 Separate asking for google data from actual sign up process
  Toggl.Daneel/Services/GoogleServiceIos.cs
  Toggl.Foundation.MvvmCross/ViewModels/SignupViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SignupViewModelTests.cs
  Toggl.Foundation.Tests/UserAccessManager/UserAccessManagerTests.cs
  Toggl.Foundation/UserAccessManager/GoogleAccountData.cs
  Toggl.Foundation/UserAccessManager/IGoogleService.cs
  Toggl.Foundation/UserAccessManager/IUserAccessManager.cs
  Toggl.Foundation/UserAccessManager/UserAccessManager.cs
  Toggl.Giskard/Services/GoogleServiceAndroid.cs
  Toggl.Giskard/Services/IntentResultRequestCodes.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: foundation, refactoring

#3978 Rework droid suggestions
  Toggl.Foundation/Suggestions/Suggestion.cs
  Toggl.Giskard/Activities/MainActivity.cs
  Toggl.Giskard/Adapters/MainRecyclerAdapter.cs
  Toggl.Giskard/Adapters/MainSuggestionsRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReactiveSectionedRecyclerAdapter.cs
  Toggl.Giskard/Resources/layout/MainSuggestionsCard.axml
  Toggl.Giskard/Resources/layout/MainSuggestionsHeader.axml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/MainLogSuggestionItemViewHolder.cs
  Toggl.Giskard/ViewHolders/MainLogSuggestionsListViewHolder.cs
  Toggl.Giskard/ViewHolders/MainSuggestionsHeaderViewHolder.cs
Labels: android

#3987 Add Machine learning suggestions provider
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/packages.config
  Toggl.Foundation.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Foundation.Tests/Interactors/Suggestions/GetSuggestionsInteractorTests.cs
  Toggl.Foundation.Tests/Suggestions/RandomForestSuggestionProviderTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Diagnostics/MeasuredOperation.cs
  Toggl.Foundation/Interactors/InteractorFactory.Definitions.cs
  Toggl.Foundation/Interactors/InteractorFactory.Suggestions.cs
  Toggl.Foundation/Interactors/Suggestions/GetSuggestionsInteractor.cs
  Toggl.Foundation/Suggestions/RandomForestSuggestionProvider.cs
  Toggl.Foundation/Suggestions/SuggestionProviderType.cs
  Toggl.Foundation/Toggl.Foundation.csproj
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/packages.config
Labels: foundation

#4034 Fix Android background service
  Toggl.Giskard/Startup/ApplicationLifecycleObserver.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android

#4054 Fix giskard login UI tests
  Toggl.Giskard.Tests.UI/AndroidAccessibilityNames.cs
Labels: android

#4044 RxFactor the TimeEntryViewModel
  Toggl.Foundation.MvvmCross/ViewModels/TimeEntryViewModel.cs
Labels: foundation

#4055 Add suggestion balancing
  Toggl.Foundation.MvvmCross/ViewModels/SuggestionsViewModel.cs
  Toggl.Foundation.Tests/Interactors/Suggestions/GetSuggestionsInteractorTests.cs
  Toggl.Foundation/Interactors/Suggestions/GetSuggestionsInteractor.cs
  Toggl.Foundation/Suggestions/Suggestion.cs
Labels: foundation

#4025 Force LTR on text views that display user input
  Toggl.Giskard/Resources/layout/EditProjectActivity.axml
  Toggl.Giskard/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Giskard/Resources/layout/MainLogCell.axml
  Toggl.Giskard/Resources/layout/ReportsActivityItem.axml
  Toggl.Giskard/Resources/layout/SelectClientActivity.axml
  Toggl.Giskard/Resources/layout/SelectClientActivityCell.axml
  Toggl.Giskard/Resources/layout/SelectProjectActivity.axml
  Toggl.Giskard/Resources/layout/SelectWorkspaceFragmentCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityEmptyCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityProjectCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityTagCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityTaskCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityTimeEntryCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityTimeEntryWithPartialContentCell.axml
  Toggl.Giskard/Resources/layout/StartTimeEntryActivityWorkspaceHeader.axml
Labels: android

#4062 Forgot Password UI update
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/ForgotPasswordViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ForgotPasswordViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
  Toggl.Giskard/Activities/ForgotPasswordActivity.ViewBinds.cs
  Toggl.Giskard/Activities/ForgotPasswordActivity.cs
  Toggl.Giskard/Extensions/Reactive/TextInputLayoutWithHelperTextExtensions.cs
  Toggl.Giskard/Extensions/Reactive/TextViewExtensions.cs
  Toggl.Giskard/Resources/layout/ForgotPasswordActivity.axml
  Toggl.Giskard/Resources/values/Colors.xml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android

#4058 Fix start time entry ui tests on Giskard
  Toggl.Giskard/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Tests.UI/StartTimeEntryTests.cs
Labels: android

#4057 Fix forgot password ui tests on Android & Remove compiler directives
  Toggl.Daneel.Tests.UI/Extensions/AppQueryExtensions.cs
  Toggl.Daneel.Tests.UI/Extensions/LoginExtensions.cs
  Toggl.Daneel.Tests.UI/Extensions/SignUpExtensions.cs
  Toggl.Daneel.Tests.UI/Toggl.Daneel.Tests.UI.csproj
  Toggl.Giskard.Tests.UI/AndroidAccessibilityNames.cs
  Toggl.Giskard.Tests.UI/Extensions/AppQueryExtensions.cs
  Toggl.Giskard.Tests.UI/Extensions/LoginExtensions.cs
  Toggl.Giskard.Tests.UI/Extensions/SignUpExtensions.cs
  Toggl.Giskard.Tests.UI/Toggl.Giskard.Tests.UI.csproj
  Toggl.Tests.UI/Extensions/LoginExtensions.cs
  Toggl.Tests.UI/Extensions/SignUpExtensions.cs
  Toggl.Tests.UI/ForgotPasswordTests.cs
  Toggl.Tests.UI/SignUpTests.cs
Labels: android, ios

#4059 Droid notifications
  Toggl.Giskard/Services/NotificationServiceAndroid.cs
Labels: android
