Repository toggl/mobileapp, pull requests merged in 2019-01, with the labels that each got.

#4069 Docs for rate limiting
  docs/syncing/bg-fetch-ios.md
  docs/syncing/index.md
  docs/syncing/rate-limiting.md
  docs/syncing/tests.md
Labels: sync

#4100 🍰 Fix CAKE_COMMIT_HASH replacing
  Toggl.Ultrawave.Tests.Integration/Helper/Configuration.cs
  build.cake
  docs/syncing/tests.md
Labels: api

#4102 Unify emails in integration tests
  Toggl.Ultrawave.Tests.Integration/BaseTests/AuthenticatedEndpointBaseTests.cs
  Toggl.Ultrawave.Tests.Integration/FeedbackApiTests.cs
  Toggl.Ultrawave.Tests.Integration/Helper/RandomEmail.cs
  Toggl.Ultrawave.Tests.Integration/Helper/User.cs
  Toggl.Ultrawave.Tests.Integration/UserApiTests.cs
Labels: api

#4082 🐍 rxfactor OnboardingVM
  Toggl.Daneel/Extensions/Reactive/UIScrollViewExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIViewExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/OnboardingViewController.cs
  Toggl.Foundation.MvvmCross/ViewModels/OnboardingViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/OnboardingViewModelTests.cs
  Toggl.Giskard/Activities/OnboardingActivity.cs
  Toggl.Giskard/Resources/layout/OnboardingActivity.axml
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, foundation, ios

#4108 📐 Make description label consistent for all cell heights
  Toggl.Daneel/Cells/Calendar/CalendarItemView.xib
Labels: ios

#4095 Rxfactor: Reports & ReportsCalendar
  Toggl.Daneel/Extensions/Reactive/NSConstraintExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UILabelExtensions.cs
  Toggl.Daneel/Extensions/Reactive/UIScrollViewExtensions.cs
  Toggl.Daneel/ReportsCalendarCollectionViewLayout.cs
  Toggl.Daneel/ViewControllers/ReportsCalendarViewController.cs
  Toggl.Daneel/ViewControllers/ReportsViewController.cs
  Toggl.Daneel/ViewSources/ReportsCalendarCollectionViewSource.cs
  Toggl.Daneel/ViewSources/ReportsCalendarQuickSelectCollectionViewSource.cs
  Toggl.Daneel/ViewSources/ReportsTableViewSource.cs
  Toggl.Daneel/Views/Reports/ReportsCalendarQuickSelectViewCell.cs
  Toggl.Daneel/Views/Reports/ReportsCalendarViewCell.cs
  Toggl.Daneel/Views/Reports/ReportsHeaderView.cs
  Toggl.Foundation.MvvmCross/Converters/BaseReportPercentageLabelValueConverter.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarBaseQuickSelectShortcut.cs
  Toggl.Foundation.MvvmCross/ViewModels/ReportsCalendar/ReportsCalendarDayViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/ReportsCalendarViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsCalendarQuickSelectShortcuts/BaseReportsCalendarQuickSelectShortcutTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsCalendarViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
  Toggl.Giskard/Activities/ReportsActivity.ViewBinds.cs
  Toggl.Giskard/Activities/ReportsActivity.cs
  Toggl.Giskard/Adapters/ReportsCalendarPagerAdapter.cs
  Toggl.Giskard/Adapters/ReportsCalendarRecyclerAdapter.cs
  Toggl.Giskard/Adapters/ReportsCalendarShortcutAdapter.cs
  Toggl.Giskard/Adapters/ReportsRecyclerAdapter.cs
  Toggl.Giskard/Extensions/Reactive/PagerExtensions.cs
  Toggl.Giskard/Fragments/ReportsCalendarFragment.cs
  Toggl.Giskard/Presenters/TogglPresenter.cs
  Toggl.Giskard/Resources/layout/ReportsActivity.axml
  Toggl.Giskard/Resources/layout/ReportsActivityHeader.axml
  Toggl.Giskard/Resources/layout/ReportsCalendarFragmentPage.axml
  Toggl.Giskard/Resources/layout/ReportsCalendarShortcutCell.axml
  Toggl.Giskard/Resources/layout/ReportsCalendarView.axml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHelpers/BarChartData.cs
  Toggl.Giskard/ViewHelpers/ReportsSummaryData.cs
  Toggl.Giskard/ViewHolders/CalendarDayCellViewHolder.cs
  Toggl.Giskard/ViewHolders/ReportsCalendarShortcutCellViewHolder.cs
  Toggl.Giskard/ViewHolders/ReportsHeaderCellViewHolder.cs
  Toggl.Giskard/ViewHolders/ReportsItemCellViewHolder.cs
  Toggl.Giskard/ViewHolders/ReportsWorkspaceNameViewHolder.cs
  Toggl.Giskard/Views/ReportsCalendarDayView.cs
  Toggl.Giskard/Views/ReportsCalendarRecyclerView.cs
  Toggl.Giskard/Views/ReportsCalendarView.cs
  Toggl.Giskard/Views/ReportsLinearLayout.cs
  Toggl.Giskard/Views/ReportsRecyclerView.cs
Labels: android, foundation, ios

#4060 Add docs about adding UI tests
  docs/adding-ui-tests.md
Labels: android, ios

#4124 Always change background sync configuration on main thread
  Toggl.Daneel/Services/BackgroundSyncServiceIos.cs
Labels: bug, ios

#4137 Fix incorrect date serialization throught the app
  Toggl.Daneel.SiriExtension.UI/IntentViewController.cs
  Toggl.Daneel/ViewControllers/ReportsCalendarViewController.cs
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Reports/ReportsHeaderView.cs
  Toggl.Foundation.MvvmCross/Combiners/DateTimeOffsetDateFormatValueCombiner.cs
  Toggl.Foundation.MvvmCross/Combiners/DateTimeOffsetTimeFormatValueCombiner.cs
  Toggl.Foundation.MvvmCross/Converters/TimeSpanToDurationValueConverter.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectTimeViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/Combiners/DateTimeOffsetDateFormatValueCombinerTests.cs
  Toggl.Foundation.Tests/MvvmCross/Combiners/DateTimeOffsetTimeFormatValueCombinerTests.cs
  Toggl.Foundation/Extensions/TimeSpanExtensions.cs
  Toggl.Giskard/ViewHelpers/BarChartData.cs
  Toggl.Ultrawave/ApiClients/ProjectsSummaryApi.cs
  Toggl.Ultrawave/ApiClients/TimeEntriesReportsApi.cs
Labels: android, ios

#4134 Fix most used time entry suggestion certainty calculation
  Toggl.Foundation/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
Labels: foundation

#4139 🎨 Fix color flickering in the calendar view
  Toggl.Daneel/Cells/Calendar/CalendarItemView.cs
Labels: glitch, ios

#4118 Rxfactor select duration format
  Toggl.Daneel/ViewControllers/SelectDurationFormatViewController.cs
  Toggl.Daneel/ViewSources/DurationFormatsTableViewSource.cs
  Toggl.Daneel/Views/Settings/DurationFormatViewCell.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectDurationFormatViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableDurationFormatViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectDurationFormatViewModelTests.cs
  Toggl.Giskard/Adapters/SelectDurationFormatRecyclerAdapter.cs
  Toggl.Giskard/Fragments/SelectDurationFormatFragment.ViewBinds.cs
  Toggl.Giskard/Fragments/SelectDurationFormatFragment.cs
  Toggl.Giskard/Resources/layout/SelectDurationFormatFragment.axml
  Toggl.Giskard/Resources/layout/SelectDurationFormatFragmentCell.axml
  Toggl.Giskard/Resources/values/Strings.xml
  Toggl.Giskard/TemplateSelectors/SelectDurationFormatTemplateSelector.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/SelectDurationFormatViewHolder.cs
Labels: android, foundation, ios

#4129 Use duration format in reports header
  Toggl.Giskard/Activities/ReportsActivity.cs
  Toggl.Giskard/ViewHelpers/ReportsSummaryData.cs
  Toggl.Giskard/ViewHolders/ReportsHeaderCellViewHolder.cs
Labels: android

#4120 Rxfactor select date format
  Toggl.Daneel/ViewControllers/SelectDateFormatViewController.cs
  Toggl.Daneel/ViewSources/DateFormatsTableViewSource.cs
  Toggl.Daneel/Views/Settings/DateFormatViewCell.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectDateFormatViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Selectable/SelectableDateFormatViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SelectDateFormatViewModelTests.cs
  Toggl.Giskard/Adapters/SelectDateFormatRecyclerAdapter.cs
  Toggl.Giskard/Fragments/SelectDateFormatFragment.ViewBinds.cs
  Toggl.Giskard/Fragments/SelectDateFormatFragment.cs
  Toggl.Giskard/Resources/layout/SelectDateFormatFragment.axml
  Toggl.Giskard/Resources/layout/SelectDateFormatFragmentCell.axml
  Toggl.Giskard/TemplateSelectors/SelectDateFormatTemplateSelector.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/SelectDateFormatViewHolder.cs
Labels: android, foundation, ios

#4126 Calendar: calculate scroll position with a bias towards the noon
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
Labels: ios

#4121 Make GroupedOrderedCollection internally immutable
  Toggl.Foundation.MvvmCross/Collections/GroupedOrderedCollection.cs
  Toggl.Foundation.MvvmCross/Collections/ObservableGroupedOrderedCollection.cs
Labels: foundation

#4149 :memo: Fixes spelling, minor changes to sentences
  Toggl.Foundation/Resources.resx
Labels: pending-review

#4161 🔥 Remove VC which we don't use anymore
  Toggl.Daneel/ViewControllers/TimeEntriesLogViewController.cs
Labels: ios

#4135 Fix calendar suggestion certainties
  Toggl.Foundation/Suggestions/CalendarSuggestionProvider.cs
Labels: foundation

#4141 Calendar: show an action sheet when user long-presses calendar event
  Toggl.Daneel/Services/DialogServiceIos.cs
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.Foundation.MvvmCross/Services/IDialogService.cs
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarViewModelTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
  Toggl.Giskard/Services/DialogServiceAndroid.cs
Labels: ios

#4171 Detect API token reset: changes/fixes
  Toggl.Ultrawave.Tests.Integration/Helper/User.cs
  Toggl.Ultrawave.Tests.Integration/ResetApiTokenDetectionTests.cs
  Toggl.Ultrawave/ApiClients/BaseApi.cs
Labels: api

#4117 ✨ Add calendar item snap to other TE start/end
  Toggl.Daneel/Extensions/TimeSpanExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewSources/CalendarCollectionViewSource.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewAutoScrollHelper.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewCreateFromSpanHelper.cs
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.Multivac/Extensions/DateTimeOffsetExtensions.cs
Labels: ios

#4181 Add Color struct
  Toggl.Daneel/Cells/Settings/LicensesViewCell.cs
  Toggl.Daneel/Extensions/ColorExtensions.cs
  Toggl.Daneel/Presentation/Transition/ModalPresentationController.cs
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.cs
  Toggl.Daneel/ViewControllers/LoginViewController.cs
  Toggl.Daneel/ViewControllers/SignupViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
  Toggl.Daneel/Views/Log/RefreshControl.cs
  Toggl.Daneel/Views/Reports/ReportsHeaderView.cs
  Toggl.Foundation.MvvmCross/ViewModels/OnboardingViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectColorViewModel.cs
  Toggl.Foundation/Autocomplete/Suggestions/ProjectSuggestion.cs
  Toggl.Foundation/Reports/ReportsProvider.cs
  Toggl.Foundation/Suggestions/Suggestion.cs
  Toggl.Foundation/Sync/States/Pull/CreateArchivedProjectPlaceholdersState.cs
  Toggl.Giskard/Activities/SignUpActivity.cs
  Toggl.Giskard/Extensions/ColorExtensions.cs
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/ViewHolders/ReportsHeaderCellViewHolder.cs
  Toggl.Multivac.Tests/ColorTests.cs
  Toggl.Multivac/Color.cs
Labels: android, foundation, ios

#4028 Add docs on how to run UI tests on android
  docs/running-android-ui-tests.md
Labels: android

#4184 🔥 Legacy Feedback/Mail code
  Toggl.Daneel/Services/MailServiceIos.cs
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Foundation.MvvmCross/FoundationExtensions.cs
  Toggl.Foundation.MvvmCross/MvvmCrossFoundation.cs
  Toggl.Foundation.MvvmCross/Services/FeedbackService.cs
  Toggl.Foundation.MvvmCross/Services/IFeedbackService.cs
  Toggl.Foundation.MvvmCross/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/FoundationExtensionsTests.cs
  Toggl.Foundation.Tests/MvvmCross/Services/FeedbackServiceTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/BaseViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/SettingsViewModelTests.cs
  Toggl.Foundation.Tests/TogglFoundationTests.cs
  Toggl.Foundation/Resources.Designer.cs
  Toggl.Foundation/Resources.resx
  Toggl.Foundation/Services/IMailService.cs
  Toggl.Foundation/TogglFoundation.cs
  Toggl.Giskard/Services/MailServiceAndroid.cs
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Giskard/Toggl.Giskard.csproj
Labels: android, foundation, ios

#4031 Remove the CreateNewSyncManager method
  Toggl.Foundation.MvvmCross/ViewModels/NoWorkspaceViewModel.cs
  Toggl.Foundation.Tests/Interactors/Workspace/CreateDefaultWorkspaceInteractorTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/NoWorkspaceViewModelTests.cs
  Toggl.Foundation/DataSources/Interfaces/ITogglDataSource.cs
  Toggl.Foundation/DataSources/TogglDataSource.cs
  Toggl.Foundation/Interactors/InteractorFactory.Workspace.cs
  Toggl.Foundation/Interactors/Workspace/CreateDefaultWorkspaceInteractor.cs
Labels: foundation

#4194 Change vertical alignment of autocompletion tokens
  Toggl.Daneel/Autocomplete/AutocompleteExtensions.cs
  Toggl.Daneel/Autocomplete/ProjectTextAttachment.cs
  Toggl.Daneel/Autocomplete/TagTextAttachment.cs
  Toggl.Daneel/Autocomplete/TokenTextAttachment.cs
Labels: ios

#4156 Droid wheel: Base wheel (ForegroundWheel)
  Toggl.Giskard/Extensions/ContextExtensions.cs
  Toggl.Giskard/Extensions/DrawableExtensions.cs
  Toggl.Giskard/Extensions/MotionEventExtensions.cs
  Toggl.Giskard/Extensions/PointExtensions.cs
  Toggl.Giskard/Resources/drawable/ic_play.xml
  Toggl.Giskard/Resources/drawable/ic_stop.xml
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/Views/EditDuration/Shapes/Arc.cs
  Toggl.Giskard/Views/EditDuration/Shapes/Cap.cs
  Toggl.Giskard/Views/EditDuration/Shapes/Dot.cs
  Toggl.Giskard/Views/EditDuration/Shapes/Wheel.cs
  Toggl.Giskard/Views/EditDuration/WheelForegroundView.cs
Labels: android

#4208 Move 1s delay from between integration tests to after creating user account
  Toggl.Ultrawave.Tests.Integration/Helper/User.cs
  Toggl.Ultrawave.Tests.Integration/LogTestInfoAttribute.cs
Labels: api

#4169 Giskard 1.10 - Sulfur
  Toggl.Giskard/Adapters/ReportsRecyclerAdapter.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
Labels: android, release

#4213 Fix crash caused by a null running time entry
  Toggl.Daneel/ViewControllers/MainViewController.cs
Labels: ios

#4192 Add docs with RX binding guidelines
  Toggl.Giskard/Extensions/Reactive/TextViewExtensions.cs
  Toggl.Multivac/Extensions/RxAction/BehaviorRelay.cs
  docs/rx-binding-guidelines.md
Labels: refactoring

#4093 Calendar: Total tracked time today
  Toggl.Foundation.Tests/Interactors/TimeEntry/TimeTrackedTodayInteractorTests.cs
  Toggl.Foundation/Interactors/IInteractorFactory.cs
  Toggl.Foundation/Interactors/InteractorFactory.TimeEntry.cs
  Toggl.Foundation/Interactors/TimeEntry/ObserveTimeTrackedTodayInteractor.cs
Labels: ios

#4214 UI Test project creation
  Toggl.Daneel.Tests.UI/Extensions/MainExtensions.cs
  Toggl.Daneel.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Daneel.Tests.UI/IosAccessibilityNames.cs
  Toggl.Daneel.Tests.UI/Toggl.Daneel.Tests.UI.csproj
  Toggl.Daneel/ViewControllers/EditProjectViewController.xib
  Toggl.Giskard.Tests.UI/AndroidAccessibilityNames.cs
  Toggl.Giskard.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Giskard.Tests.UI/Toggl.Giskard.Tests.UI.csproj
  Toggl.Giskard/Resources/layout/EditProjectActivity.axml
  Toggl.Tests.UI/Extensions/MainExtensions.cs
  Toggl.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Tests.UI/StartTimeEntryTests.cs
Labels: ui-tests

#4215 Droid background wheel: background wheel and inner clock
  Toggl.Giskard/Toggl.Giskard.csproj
  Toggl.Giskard/Views/EditDuration/Shapes/ClockDial.cs
  Toggl.Giskard/Views/EditDuration/WheelBackgroundView.cs
Labels: android

#4212 Start time entry with multiple tags test
  Toggl.Daneel.Tests.UI/Extensions/MainExtensions.cs
  Toggl.Daneel.Tests.UI/IosAccessibilityNames.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.xib
  Toggl.Giskard.Tests.UI/AndroidAccessibilityNames.cs
  Toggl.Giskard.Tests.UI/Extensions/MainExtensions.cs
  Toggl.Giskard.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Giskard.Tests.UI/Toggl.Giskard.Tests.UI.csproj
  Toggl.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Tests.UI/StartTimeEntryTests.cs
Labels: ui-tests

#4236 Fix missing driver in EditDurationViewModel
  Toggl.Foundation.MvvmCross/ViewModels/EditDurationViewModel.cs
Labels: crash, ios

#4249 🚧 fix list table view source crash
  Toggl.Daneel/ViewSources/ClientTableViewSource.cs
  Toggl.Daneel/ViewSources/CountryTableViewSource.cs
  Toggl.Daneel/ViewSources/WorkspaceTableViewSource.cs
Labels: ios

#4271 Fix UI updating in incorrect thread
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
Labels: bug, ios

#4269 Add ui tests for adding tags
  Toggl.Daneel.Tests.UI/Extensions/MainExtensions.cs
  Toggl.Daneel.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Giskard.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Tests.UI/StartTimeEntryTests.cs
Labels: ui-tests

#4275 Fix weird close icon
  Toggl.Daneel/ViewControllers/SelectColorViewController.cs
  Toggl.Daneel/ViewControllers/SelectDateTimeViewController.cs
  Toggl.Daneel/ViewControllers/SelectTagsViewController.cs
Labels: glitch, ios

#4246 Giskard 1.10.1 - Sulfur hotfix
  Toggl.Foundation.MvvmCross/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/ReportsViewModelTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Services/BackgroundSyncJobSchedulerService.cs
Labels: android, release

#4228 Create client test
  Toggl.Daneel.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Daneel.Tests.UI/IosAccessibilityNames.cs
  Toggl.Daneel/ViewControllers/EditProjectViewController.xib
  Toggl.Giskard.Tests.UI/AndroidAccessibilityNames.cs
  Toggl.Giskard.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Giskard/Resources/layout/EditProjectActivity.axml
  Toggl.Tests.UI/Extensions/StartTimeEntryExtensions.cs
  Toggl.Tests.UI/StartTimeEntryTests.cs
Labels: ui-tests

#4297 Temporary disable background sync in Android
  Toggl.Giskard/Services/BackgroundSyncServiceAndroid.cs
Labels: android, crash, critical

#4299 Temporary disable background sync in Android
  Toggl.Giskard/Services/BackgroundSyncJobSchedulerService.cs
  Toggl.Giskard/Services/BackgroundSyncServiceAndroid.cs
Labels: android, bug, critical

#4261 Daneel 1.16 - Vega
  Toggl.Daneel.SiriExtension.UI/Info.plist
  Toggl.Daneel.SiriExtension/Info.plist
  Toggl.Daneel/Info.plist
  Toggl.Daneel/ViewControllers/SelectColorViewController.cs
  Toggl.Daneel/ViewControllers/SelectDateTimeViewController.cs
  Toggl.Daneel/ViewControllers/SelectTagsViewController.cs
  Toggl.Daneel/ViewSources/TimeEntriesLogViewSource.cs
Labels: ios, release

#4296 Giskard 1.10.3 - Sulfur hotfix #2
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Services/BackgroundSyncJobSchedulerService.cs
  Toggl.Giskard/Services/BackgroundSyncServiceAndroid.cs
Labels: android, release

#4302 Check edit mode first when handling long press gesture in calendar view
  Toggl.Daneel/Views/Calendar/CalendarCollectionViewCreateFromSpanHelper.cs
Labels: bug, ios

#4309 Delete dead code from table view sources and recyclers
  Toggl.Daneel/ViewSources/GroupedCollectionTableViewSource.cs
  Toggl.Foundation.MvvmCross/Collections/NestableObservableCollection.cs
  Toggl.Foundation.MvvmCross/ViewModels/SelectProjectViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Giskard/Adapters/SegmentedRecyclerAdapter.cs
Labels: android, ios

#4312 Replace adjust token in the correct file
  build.cake
Labels: ios

#4193 🚧 Delete swiped TE when changing views
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/TimeEntriesViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/TimeEntriesViewModelTests.cs
Labels: bug, foundation

#4307 Track sync and app lifecycle events
  Toggl.Daneel/Startup/Setup.cs
  Toggl.Foundation.Tests/Services/BackgroundServiceTests.cs
  Toggl.Foundation.Tests/Sync/DeadlockTests.cs
  Toggl.Foundation.Tests/Sync/StateTreeTests.cs
  Toggl.Foundation.Tests/Sync/SyncManagerTests.cs
  Toggl.Foundation/Analytics/BaseAnalyticsService.cs
  Toggl.Foundation/Analytics/IAnalyticsService.cs
  Toggl.Foundation/Services/BackgroundService.cs
  Toggl.Foundation/Sync/SyncManager.cs
  Toggl.Foundation/Sync/TransitionHandlerProvider.cs
  Toggl.Foundation/TogglSyncManagerFactory.cs
  Toggl.Giskard/Properties/AndroidManifest.xml
  Toggl.Giskard/Startup/Setup.cs
  Toggl.Multivac.Tests/Extensions/TypeNameExtensionTests.cs
  Toggl.Multivac/Extensions/TypeNameExtensions.cs
Labels: android, foundation

#4322 Fix duration input
  Toggl.Giskard/Views/EditDuration/WheelDurationInput.cs
Labels: android

#4176 Test sign in with an invalid email address
  Toggl.Daneel.Tests.UI/Extensions/LoginExtensions.cs
  Toggl.Giskard.Tests.UI/Extensions/LoginExtensions.cs
  Toggl.Tests.UI/LoginTests.cs
Labels: ui-tests

#4324 Avoid null ref exception which blocks syncing
  Toggl.Foundation/Sync/TransitionHandlerProvider.cs
Labels: bug

#4235 Calendar: total tracked time UI
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.designer.cs
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.xib
  Toggl.Foundation.MvvmCross/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/CalendarViewModelTests.cs
Labels: ios
