Repository toggl/mobileapp, pull requests merged in 2019-10, with the labels that each got.

#5982 Fix start/edit modals layout
  Toggl.iOS/Extensions/ViewExtensions.cs
  Toggl.iOS/Presentation/Transition/ModalPresentationController.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
Labels: ios

#5976 🔄 Unify the switches
  Toggl.Core.UI/ViewModels/EditProjectViewModel.cs
  Toggl.Droid/Activities/CalendarSettingsActivity.cs
  Toggl.Droid/Activities/EditProjectActivity.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
  Toggl.Droid/Fragments/SettingsFragment.cs
  Toggl.Droid/Resources/layout/CalendarSettingsActivity.axml
  Toggl.Droid/Resources/layout/EditProjectActivity.axml
  Toggl.Droid/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/SettingsFragment.axml
Labels: android

#5993 Start and stop time entries from the Android widget
  Toggl.Core/Analytics/TimeEntryStartOrigin.cs
  Toggl.Core/Analytics/TimeEntryStopOrigin.cs
  Toggl.Droid/Services/JobServicesConstants.cs
  Toggl.Droid/Services/TimerBackgroundService.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/TimeEntryWidget.cs
Labels: android

#5963 Android 2.4 - Esterházy Torte
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#5978 Add droid calendar drag auto scrolls
  Toggl.Droid/Views/Calendar/CalendarDayView.EditItem.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#5983 Redesign the calendar toolbar
  Toggl.Droid/Extensions/ViewExtensions.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Resources/drawable/ic_settings.xml
  Toggl.Droid/Resources/layout/CalendarHeaderView.axml
  Toggl.Droid/Resources/menu/CalendarFragmentMenu.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: android

#5979 Scroll to current hour of day (and indicator) on droid calendar
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Fragments/ReportsFragment.cs
  Toggl.Droid/Fragments/SettingsFragment.cs
  Toggl.Droid/Presentation/IScrollableToStart.cs
  Toggl.Droid/Presentation/IScrollableToTop.cs
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#5975 ✨ Display sync status next to the logout button
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core/Sync/PresentableSyncStatus.cs
  Toggl.Droid/Fragments/SettingsFragment.ViewBinds.cs
  Toggl.Droid/Fragments/SettingsFragment.cs
  Toggl.Droid/Resources/layout/SettingsFragment.axml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.iOS/Cells/Settings/SettingsSyncCell.cs
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewSources/SettingsTableViewSource.cs
Labels: android, ios

#6000 Track widget resize
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Droid/Services/JobServicesConstants.cs
  Toggl.Droid/Services/WidgetsAnalyticsService.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/Services/InstallationStateReportService.cs
  Toggl.Droid/Widgets/TimeEntryWidget.cs
Labels: android

#6017 Use entitlements and set deployment target
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#5991 Fix an autocomplete-autocorrect clash
  Toggl.iOS/Extensions/TextViewExtensions.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
Labels: ios

#5992 Calendar: add swipe-ability between days
  Toggl.Core.Tests/Generators/ViewModelTypeDataAttribute.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Resources/drawable-hdpi/calendar_onboarding.png
  Toggl.Droid/Resources/drawable-mdpi/calendar_onboarding.png
  Toggl.Droid/Resources/drawable-xhdpi/calendar_onboarding.png
  Toggl.Droid/Resources/drawable-xxhdpi/calendar_onboarding.png
  Toggl.Droid/Resources/drawable-xxxhdpi/calendar_onboarding.png
  Toggl.Droid/Resources/layout/CalendarFragment.axml
  Toggl.Droid/Resources/layout/CalendarOnboardingView.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.iOS/Cells/TimeEntriesLog/TimeEntriesLogViewCell.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.xib
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.xib
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: foundation, ios

#6010 Remove ARMv7 support for iOS
  .gitignore
  Toggl.iOS.IntentCodeGen/Toggl.iOS.IntentCodeGen/Info.plist
  Toggl.iOS.IntentStaticLib/Makefile
  Toggl.iOS/Info.plist
  Toggl.iOS/Toggl.iOS.csproj
Labels: ios

#6030 Handle start and stop actions from widgets
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#6036 Fix project dot colors on iOS 13
  Toggl.iOS/Extensions/TextExtensions.cs
Labels: ios

#6031 📐 Prevent text in pie chart from escaping its slice
  Toggl.Core/Reports/ChartSegment.cs
  Toggl.Droid/Views/PieChartView.cs
  Toggl.iOS/Views/Reports/PieChartView.cs
Labels: android, ios

#6006 Save running time entry data in shared storage
  Toggl.iOS.ExtensionKit/Extensions/NSDictionaryExtensions.cs
  Toggl.iOS.ExtensionKit/Models/TimeEntryViewModel.cs
  Toggl.iOS.ExtensionKit/SharedStorage.TimeEntries.cs
  Toggl.iOS.ExtensionKit/SharedStorage.cs
  Toggl.iOS.ExtensionKit/Toggl.iOS.ExtensionKit.csproj
  Toggl.iOS/Services/TimerWidgetService.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
Labels: ios

#6047 Background sync should use SyncLight
  Toggl.Core.Tests/Interactors/Sync/RunBackgroundSyncInteractorTests.cs
  Toggl.Core/Interactors/Sync/RunBackgroundSyncInteractor.cs
Labels: sync

#6057 :construction: Fix code signing in widget extension
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#6050 Bind the UI to the current time entry in SharedStorage
  Toggl.Core.Tests/UI/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Core.UI/Transformations/DurationAndFormatToString.cs
  Toggl.Droid/ViewHolders/ReportsHeaderCellViewHolder.cs
  Toggl.Shared.Tests/Extensions/TimeSpanExtensionsTests.cs
  Toggl.Shared/Extensions/TimeSpanExtensions.cs
  Toggl.iOS.ExtensionKit/Extensions/ColorExtensions.cs
  Toggl.iOS.ExtensionKit/SharedStorage.cs
  Toggl.iOS.ExtensionKit/Toggl.iOS.ExtensionKit.csproj
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS/Services/TimerWidgetService.cs
  Toggl.iOS/Views/Reports/ReportsLegendViewCell.cs
Labels: ios

#6064 Widget layout fixes
  Toggl.Droid/Resources/xml/TimeEntryWidgetProvider.xml
  Toggl.Droid/Widgets/TimeEntryWidget.cs
  Toggl.Droid/Widgets/WidgetContext.cs
Labels: android

#5922 Shake e-mail field in forgot password view when the email is invalid
  Toggl.Core.Tests/UI/ViewModels/ForgotPasswordViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/ForgotPasswordViewModel.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
Labels: ios

#6059 Disable background sync for Android 10
  Toggl.Droid/Services/BackgroundSyncJobSchedulerService.cs
  Toggl.Droid/Services/BackgroundSyncServiceAndroid.cs
Labels: android

#6066 Support dark mode in the widget
  Toggl.Droid/Resources/drawable/TimerWidgetBackground.xml
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#6049 Fix "Add Tags" placeholder
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
Labels: ios

#6065 Delete everything from SharedStorage on logout
  Toggl.iOS.ExtensionKit/SharedStorage.cs
Labels: ios

#6052 Add droid calendar swipe to change day
  Toggl.Droid/Extensions/ViewExtensions.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.DialogProvider.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.PermissionHandler.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Resources/layout/CalendarFragment.axml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#6018 Add the contextual menu view model
  Toggl.Core.Tests/Generators/ViewModelTypeDataAttribute.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarContextualMenuViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/CalendarContextualMenuActionType.cs
  Toggl.Core/Analytics/CalendarTimeEntryCreatedType.cs
  Toggl.Core/Analytics/ContinueTimeEntryMode.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Analytics/TimeEntryStopOrigin.cs
  Toggl.Core/Calendar/CalendarItem.cs
  Toggl.Shared/Extensions/FunctionalExtensions.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: foundation

#6076 Track widget actions
  Toggl.iOS.ExtensionKit/Analytics/WidgetTrackingEvent.cs
  Toggl.iOS.ExtensionKit/SharedStorage.cs
  Toggl.iOS.ExtensionKit/Toggl.iOS.ExtensionKit.csproj
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS/Analytics/WidgetErrorTrackingEvent.cs
  Toggl.iOS/Analytics/WidgetTrackingEventExtensions.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/MainViewController.cs
Labels: ios, metrics

#6037 ✨Add new analytic event for selected cals
  Toggl.Core.Tests/UI/ViewModels/CalendarSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectUserCalendarsViewModelBaseTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectUserCalendarsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Calendar/SelectUserCalendarsViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/SelectUserCalendarsViewModelBase.cs
  Toggl.Core.UI/ViewModels/Settings/CalendarSettingsViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/ViewControllers/Settings/CalendarSettingsViewController.cs
Labels: foundation

#6078 Delete shared prefs widget
  Toggl.Droid/Services/PrivateSharedStorageServiceAndroid.cs
  Toggl.Droid/Widgets/TimeEntryWidgetInfo.cs
Labels: android

#6082 Simplify calendar menu vm usage
  Toggl.Core.Tests/Generators/ViewModelTypeDataAttribute.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenu.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenuViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarMenuAction.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarMenuActionKind.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/ContextualMenuType.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/TimeEntryDisplayInfo.cs
Labels: foundation

#6087 🐛 Fix rating view not being presented
  Toggl.Shared.Tests/RatingViewCriterionExtensionsTests.cs
  Toggl.Shared/Extensions/DictionaryExtensions.cs
  Toggl.Shared/RatingViewConfiguration.cs
Labels: android, ios

#6098 🎨 Add not-logged-in view to widgets
  Toggl.Droid/Resources/layout/TimeEntryWidgetNotLoggedIn.axml
  Toggl.Droid/Resources/layout/TimeEntryWidgetSmall.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/ITimeEntryWidgetFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidget.cs
  Toggl.Droid/Widgets/TimeEntryWidgetButtonOnlyFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetFactory.cs
  Toggl.Droid/Widgets/TimeEntryWidgetInfo.cs
  Toggl.Droid/Widgets/TimeEntryWidgetNotLoggedInFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetStartStopButtonFormFactor.cs
  Toggl.Droid/Widgets/TimerWidgetFormFactor.cs
  Toggl.Droid/Widgets/WidgetContext.cs
  Toggl.Droid/Widgets/WidgetDimensions.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: android

#6097 Add empty suggestions widget
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Droid/Resources/layout/SuggestionsWidget.axml
  Toggl.Droid/Resources/xml/SuggestionsWidgetProvider.xml
  Toggl.Droid/Services/WidgetsAnalyticsService.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/SuggestionsWidget.cs
Labels: android

#6077 📆💄 Make the calendar top bar good looking
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.xib
Labels: foundation, ios

#6088 Handle logged out case in the widget
  Toggl.Core.UI/Services/DeeplinkParser.cs
  Toggl.Droid/Startup/SplashScreen.DeepLink.cs
  Toggl.Droid/Tiles/NewTimeEntryTileService.cs
  Toggl.Droid/Tiles/ReportsTileService.cs
  Toggl.Shared/ApplicationUrls.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.designer.cs
  Toggl.iOS/Startup/AppDelegate.Notification.cs
  Toggl.iOS/Startup/AppDelegate.Siri.cs
  Toggl.iOS/Startup/AppDelegate.cs
Labels: ios

#6093 Save the created time entry in the shared storage
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: bug, ios

#6115 Save suggestions in SharedStorage
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/Services/ITimerWidgetService.cs
  Toggl.Core.UI/Services/TimerWidgetService.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/SuggestionsViewModel.cs
  Toggl.Droid/Services/TimerWidgetServiceAndroid.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.iOS.ExtensionKit/Models/Suggestion.cs
  Toggl.iOS.ExtensionKit/SharedStorage.Suggestions.cs
  Toggl.iOS.ExtensionKit/SharedStorage.TimeEntries.cs
  Toggl.iOS.ExtensionKit/SharedStorage.cs
  Toggl.iOS.ExtensionKit/Toggl.iOS.ExtensionKit.csproj
  Toggl.iOS/Extensions/SuggestionExtensions.cs
  Toggl.iOS/Services/TimerWidgetServiceIos.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
Labels: ios

#6116 Clean up calendar settings
  Toggl.Core.Tests/UI/ViewModels/CalendarSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectUserCalendarsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Calendar/SelectUserCalendarsViewModel.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/CalendarSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Droid/Fragments/SelectUserCalendarsFragment.ViewBinds.cs
  Toggl.Droid/Fragments/SelectUserCalendarsFragment.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Resources/layout/SelectUserCalendarsFragment.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/SelectUserCalendarsViewController.cs
  Toggl.iOS/ViewControllers/Calendar/SelectUserCalendarsViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/SelectUserCalendarsViewController.xib
  Toggl.iOS/ViewControllers/Settings/CalendarSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
Labels: android, foundation, ios

#6127 Handle API errors in the iOS widget
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS.ExtensionKit/Extensions/UILabelExtensions.cs
  Toggl.iOS.ExtensionKit/Toggl.iOS.ExtensionKit.csproj
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: ios

#6132 Observe running time entry in widgets service
  Toggl.Core.UI/Services/TimerWidgetService.cs
Labels: bug

#6080 Fix settings not opening after swiping to close
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.iOS/Presentation/PageSheetPresenter.cs
Labels: ios

#6138 Implement suggestions design in iOS widget
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
  Toggl.iOS.TimerWidgetExtension/Resources/Images.xcassets/icContinue.imageset/Contents.json
  Toggl.iOS.TimerWidgetExtension/Resources/Images.xcassets/icContinue.imageset/continue.png
  Toggl.iOS.TimerWidgetExtension/Resources/Images.xcassets/icContinue.imageset/continue@2x.png
  Toggl.iOS.TimerWidgetExtension/Resources/Images.xcassets/icContinue.imageset/continue@3x.png
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.designer.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionsDataSource.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.designer.cs
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#6144 🐛 Infinite syncing bugfix
  Toggl.Core.Tests/DataSources/TimeEntriesDataSourceTests.cs
  Toggl.Core.Tests/Interactors/Changes/ObserveWorkspaceOrTimeEntriesChangesInteractorTests.cs
  Toggl.Core.Tests/Interactors/TimeEntry/ObserveAllTimeEntriesVisibleToTheUserInteractorTests.cs
  Toggl.Core.Tests/Interactors/TimeEntry/ObserveTimeEntriesChangesInteractorTests.cs
  Toggl.Core.Tests/Interactors/TimeEntry/TimeTrackedTodayInteractorTests.cs
  Toggl.Core.Tests/Interactors/Workspace/ObserveAllWorkspacesInteractorTests.cs
  Toggl.Core.Tests/Interactors/Workspace/ObserveWorkspacesChangesInteractorTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core/DataSources/Interfaces/IObservableDataSource.cs
  Toggl.Core/DataSources/ObservableDataSource.cs
  Toggl.Core/DataSources/TimeEntriesDataSource.cs
  Toggl.Core/Extensions/DataSourceExtensions.cs
  Toggl.Core/Interactors/Changes/ObserveWorkspaceOrTimeEntriesChangesInteractor.cs
  Toggl.Core/Interactors/TimeEntry/DeleteTimeEntryInteractor.cs
  Toggl.Core/Interactors/TimeEntry/ObserveAllTimeEntriesVisibleToTheUserInteractor.cs
  Toggl.Core/Interactors/TimeEntry/ObserveTimeEntriesChangesInteractor.cs
  Toggl.Core/Interactors/TimeEntry/ObserveTimeEntriesVisibleToTheUserInteractor.cs
  Toggl.Core/Interactors/TimeEntry/ObserveTimeTrackedTodayInteractor.cs
  Toggl.Core/Interactors/Workspace/ObserveAllWorkspacesInteractor.cs
  Toggl.Core/Interactors/Workspace/ObserveWorkspacesChangesInteractor.cs
Labels: bug

#6151 Add method to start time entries from suggestions
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: ios

#6084 Add calendar week view at the top
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/Helper/Colors.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarWeeklyViewDayViewModel.cs
  Toggl.Shared/Extensions/DateTimeExtensions.cs
  Toggl.Shared/Extensions/DayOfWeekExtensions.cs
  Toggl.Shared/Extensions/EnumExtensions.cs
  Toggl.iOS/Cells/Calendar/CalendarWeeklyViewDayCollectionViewCell.cs
  Toggl.iOS/Cells/Calendar/CalendarWeeklyViewDayCollectionViewCell.designer.cs
  Toggl.iOS/Cells/Calendar/CalendarWeeklyViewDayCollectionViewCell.xib
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.xib
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.xib
  Toggl.iOS/ViewSources/CalendarWeeklyViewDayCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: foundation, ios

#6073 Android 2.4.1 esterhazy torte hotfix
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Services/BackgroundSyncJobSchedulerService.cs
  Toggl.Droid/Services/BackgroundSyncServiceAndroid.cs
  build.cake
Labels: android

#6186 Fix background color in date selection view
  Toggl.iOS/ViewControllers/SelectDateTimeViewController.xib
Labels: ios

#6193 Dark mode "Oops"
  Toggl.iOS/Resources/Colors.xcassets/ErrorBackground.colorset/Contents.json
  Toggl.iOS/Resources/Colors.xcassets/ErrorText.colorset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icErrorEdit.imageset/Contents.json
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.xib
  Toggl.iOS/ViewControllers/Settings/SendFeedbackViewController.xib
Labels: ios

#6195 Start view dark text on dark background fix
  Toggl.iOS/Autocomplete/AutocompleteExtensions.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.xib
Labels: ios

#6160 Fix dark theme in the timer widget
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Resources/layout/TimeEntryWidgetNotLoggedIn.axml
Labels: android

#6156 Fix widget layout when resizing to 1x1
  Toggl.Droid/Widgets/TimeEntryWidget.cs
Labels: android

#6100 The great package update of late 2019
  Toggl.Core.Tests/Toggl.Core.Tests.csproj
  Toggl.Core/Toggl.Core.csproj
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
  Toggl.Networking/Toggl.Networking.csproj
  Toggl.Shared/Toggl.Shared.csproj
  Toggl.Storage.Realm/Toggl.Storage.Realm.csproj
  Toggl.Storage.Tests/Toggl.Storage.Tests.csproj
  Toggl.iOS.SiriExtension.UI/Toggl.iOS.SiriExtension.UI.csproj
  Toggl.iOS.SiriExtension.UI/packages.config
  Toggl.iOS.SiriExtension/Toggl.iOS.SiriExtension.csproj
  Toggl.iOS.SiriExtension/packages.config
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/packages.config
Labels: refactoring

#6172 Implement suggestions widget on droid
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/Services/IWidgetsService.cs
  Toggl.Core.UI/Services/WidgetsService.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/SuggestionsViewModel.cs
  Toggl.Droid/Extensions/WidgetsExtensions.cs
  Toggl.Droid/Resources/layout/SuggestionsWidget.axml
  Toggl.Droid/Resources/layout/SuggestionsWidgetItem.axml
  Toggl.Droid/Resources/xml/SuggestionsWidgetProvider.xml
  Toggl.Droid/Services/WidgetsServiceAndroid.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/ViewHolders/MainLogSuggestionsListViewHolder.cs
  Toggl.Droid/Widgets/SuggestionsWidget.cs
  Toggl.Droid/Widgets/SuggestionsWidgetFactory.cs
  Toggl.Droid/Widgets/SuggestionsWidgetService.cs
  Toggl.Droid/Widgets/WidgetSuggestionItem.cs
  Toggl.Droid/Widgets/WidgetsConstants.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Services/WidgetsServiceIos.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
Labels: android

#6063 Update droid to use Xamarin.Android 10
  Toggl.Droid/Helper/ApiAvailability.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#6214 Dark mode: Fix rating view background color
  Toggl.iOS/Views/Rating/RatingView.xib
Labels: ios

#6153 ➕ Add tap gesture to open the app from the widget
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
Labels: android

#6203 iPad: Set background color for the calendar view
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
Labels: ios

#6202 Dark mode: fix reports for iPad
  Toggl.iOS/ViewControllers/ReportsViewController.cs
  Toggl.iOS/Views/Reports/ReportsHeaderView.cs
  Toggl.iOS/Views/Reports/ReportsHeaderView.designer.cs
  Toggl.iOS/Views/Reports/ReportsHeaderView.xib
  Toggl.iOS/Views/Reports/ReportsLegendViewCell.cs
  Toggl.iOS/Views/Reports/ReportsLegendViewCell.xib
Labels: ios

#6216 Tap widget-based suggestion to start a new TE
  Toggl.Droid/Extensions/WidgetsExtensions.cs
  Toggl.Droid/Helper/AppWidgetProviderUtils.cs
  Toggl.Droid/Resources/layout/SuggestionsWidget.axml
  Toggl.Droid/Resources/layout/SuggestionsWidgetItem.axml
  Toggl.Droid/Services/NoopPrivateSharedStorageServiceAndroid.cs
  Toggl.Droid/Services/TimerWidgetServiceAndroid.cs
  Toggl.Droid/Services/WidgetsBackgroundService.cs
  Toggl.Droid/Services/WidgetsServiceAndroid.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/SuggestionsWidget.cs
  Toggl.Droid/Widgets/SuggestionsWidgetFactory.cs
  Toggl.Droid/Widgets/TimeEntryWidget.cs
  Toggl.Droid/Widgets/TimeEntryWidgetStartStopButtonFormFactor.cs
  Toggl.Droid/Widgets/WidgetSuggestionItem.cs
  Toggl.Droid/Widgets/WidgetsConstants.cs
Labels: android

#6206 Swipe down to dismiss fix
  Toggl.Core.Tests/UI/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Core.UI/ViewModels/Base/IViewModel.cs
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.Core.UI/ViewModels/Base/ViewModelWithInput.cs
  Toggl.Core.UI/ViewModels/Calendar/SelectUserCalendarsViewModelBase.cs
  Toggl.Core.UI/ViewModels/EditDurationViewModel.cs
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/ForgotPasswordViewModel.cs
  Toggl.Core.UI/ViewModels/SelectColorViewModel.cs
  Toggl.Core.UI/ViewModels/SelectDateTimeViewModel.cs
  Toggl.Core.UI/ViewModels/SelectProjectViewModel.cs
  Toggl.Core.UI/ViewModels/SelectTagsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/CalendarSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SendFeedbackViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Droid/Fragments/CalendarPermissionDeniedFragment.cs
  Toggl.Droid/Fragments/SelectColorFragment.cs
  Toggl.Droid/Fragments/SelectUserCalendarsFragment.cs
  Toggl.iOS/Presentation/PageSheetPresenter.cs
  Toggl.iOS/Presentation/Transition/ModalPresentationController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarPermissionDeniedViewController.cs
  Toggl.iOS/ViewControllers/EditDurationViewController.cs
  Toggl.iOS/ViewControllers/EditProjectViewController.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Reactive/IReactiveViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.cs
  Toggl.iOS/ViewControllers/SelectClientViewController.cs
  Toggl.iOS/ViewControllers/SelectColorViewController.cs
  Toggl.iOS/ViewControllers/SelectCountryViewController.cs
  Toggl.iOS/ViewControllers/SelectDateTimeViewController.cs
  Toggl.iOS/ViewControllers/SelectProjectViewController.cs
  Toggl.iOS/ViewControllers/SelectTagsViewController.cs
  Toggl.iOS/ViewControllers/Settings/SendFeedbackViewController.cs
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/PasteFromClipboardViewController.cs
  Toggl.iOS/ViewControllers/Settings/UpcomingEventsNotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/TermsOfServiceViewController.cs
Labels: bug, ios

#6219 Bind the widget UI to the current suggestions
  Toggl.iOS.ExtensionKit/SharedStorage.Suggestions.cs
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.designer.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.xib
  Toggl.iOS.TimerWidgetExtension/SuggestionsDataSource.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#6224 Rename ExtensionKit to AppExtensions
  Toggl.iOS.AppExtensions/Analytics/SiriTrackingEvent.cs
  Toggl.iOS.AppExtensions/Analytics/WidgetTrackingEvent.cs
  Toggl.iOS.AppExtensions/Exceptions/NoRunningEntryException.cs
  Toggl.iOS.AppExtensions/Extensions/ColorExtensions.cs
  Toggl.iOS.AppExtensions/Extensions/DateExtensions.cs
  Toggl.iOS.AppExtensions/Extensions/NSDictionaryExtensions.cs
  Toggl.iOS.AppExtensions/Extensions/UILabelExtensions.cs
  Toggl.iOS.AppExtensions/Extensions/UserActivityExtensions.cs
  Toggl.iOS.AppExtensions/Helper/APIHelper.cs
  Toggl.iOS.AppExtensions/Models/Suggestion.cs
  Toggl.iOS.AppExtensions/Models/TimeEntry.cs
  Toggl.iOS.AppExtensions/Models/TimeEntryViewModel.cs
  Toggl.iOS.AppExtensions/Properties/AssemblyInfo.cs
  Toggl.iOS.AppExtensions/SharedStorage.Suggestions.cs
  Toggl.iOS.AppExtensions/SharedStorage.TimeEntries.cs
  Toggl.iOS.AppExtensions/SharedStorage.cs
  Toggl.iOS.AppExtensions/Toggl.iOS.AppExtensions.csproj
  Toggl.iOS.SiriExtension.UI/IntentViewController.cs
  Toggl.iOS.SiriExtension.UI/Toggl.iOS.SiriExtension.UI.csproj
  Toggl.iOS.SiriExtension/ContinueTimerIntentHandler.cs
  Toggl.iOS.SiriExtension/IntentHandler.cs
  Toggl.iOS.SiriExtension/StartTimerFromClipboardIntentHandler.cs
  Toggl.iOS.SiriExtension/StartTimerIntentHandler.cs
  Toggl.iOS.SiriExtension/StopTimerIntentHandler.cs
  Toggl.iOS.SiriExtension/Toggl.iOS.SiriExtension.csproj
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionTableViewCell.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionsDataSource.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
  Toggl.iOS/Analytics/SiriTrackingEventExtensions.cs
  Toggl.iOS/Analytics/WidgetTrackingEventExtensions.cs
  Toggl.iOS/Extensions/SuggestionExtensions.cs
  Toggl.iOS/Services/PrivateSharedStorageServiceIos.cs
  Toggl.iOS/Services/WidgetsServiceIos.cs
  Toggl.iOS/Startup/AppDelegate.Background.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.sln
Labels: ios

#6250 Fx dark mode of Terms of service view
  Toggl.iOS/ViewControllers/TermsOfServiceViewController.cs
  Toggl.iOS/ViewControllers/TermsOfServiceViewController.xib
Labels: ios

#6256 Fix dark mode dummy time entries
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.cs
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.designer.cs
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.xib
  Toggl.iOS/Views/Log/TimeEntryMockView.cs
  Toggl.iOS/Views/Log/TimeEntryMockView.xib
Labels: ios

#6261 Dark mode: No workspace screen
  Toggl.iOS/Resources/Images.xcassets/icIllustrationErrorWorkspace.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icIllustrationErrorWorkspace.imageset/icIllustrationProjects_Dark.png
  Toggl.iOS/Resources/Images.xcassets/icIllustrationErrorWorkspace.imageset/icIllustrationProjects_Dark@2x.png
  Toggl.iOS/Resources/Images.xcassets/icIllustrationErrorWorkspace.imageset/icIllustrationProjects_Dark@3x.png
  Toggl.iOS/Resources/Images.xcassets/icIllustrationProject.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icIllustrationProject.imageset/icIllustrationProjects_Dark.png
  Toggl.iOS/Resources/Images.xcassets/icIllustrationProject.imageset/icIllustrationProjects_Dark@2x.png
  Toggl.iOS/Resources/Images.xcassets/icIllustrationProject.imageset/icIllustrationProjects_Dark@3x.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/NoWorkspaceViewController.cs
  Toggl.iOS/ViewControllers/NoWorkspaceViewController.xib
Labels: ios

#6205 📆 Improve manual Time entries
  Toggl.Core.Tests/UI/Calendar/CalendarLayoutCalculatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.UI/Calendar/CalendarLayoutCalculator.cs
  Toggl.Core/Helper/Constants.cs
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewCreateFromSpanHelper.cs
Labels: ios

#6242 Save tag ids with the suggestions
  Toggl.Core/Suggestions/Suggestion.cs
Labels: bug, foundation

#6274 Dark mode: Smart alerts (2)
  Toggl.iOS/Cells/Settings/UpcomingEventsOptionCell.cs
  Toggl.iOS/ViewControllers/Settings/NotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/NotificationSettingsViewController.xib
  Toggl.iOS/ViewControllers/Settings/UpcomingEventsNotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/UpcomingEventsNotificationSettingsViewController.xib
Labels: ios

#6275 Dark mode: About and Licenses
  Toggl.iOS/Cells/Settings/LicensesHeaderViewCell.xib
  Toggl.iOS/Cells/Settings/LicensesViewCell.cs
  Toggl.iOS/Cells/Settings/LicensesViewCell.xib
  Toggl.iOS/ViewControllers/Settings/AboutViewController.cs
  Toggl.iOS/ViewControllers/Settings/AboutViewController.xib
  Toggl.iOS/ViewControllers/Settings/LicensesViewController.cs
Labels: ios

#6277 Dark mode: Show password
  Toggl.iOS/Extensions/LoginSignupViewExtensions.cs
Labels: ios

#6276 Dark mode: Forgotten password
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
Labels: ios

#6288 Fix forgotten password transition animation
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.cs
Labels: ios

#6234 Implement not-logged-in state for suggestions widget
  Toggl.Droid/Resources/layout/WidgetNotLoggedIn.axml
  Toggl.Droid/Services/PrivateSharedStorageServiceAndroid.cs
  Toggl.Droid/Services/WidgetsServiceAndroid.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/ISuggestionsWidgetFormFactor.cs
  Toggl.Droid/Widgets/SuggestionsWidget.cs
  Toggl.Droid/Widgets/SuggestionsWidgetFactory.cs
  Toggl.Droid/Widgets/SuggestionsWidgetListFormFactor.cs
  Toggl.Droid/Widgets/SuggestionsWidgetNotLoggedInFormFactor.cs
  Toggl.Droid/Widgets/SuggestionsWidgetService.cs
  Toggl.Droid/Widgets/SuggestionsWidgetViewsFactory.cs
  Toggl.Droid/Widgets/TimeEntryWidget.cs
  Toggl.Droid/Widgets/TimeEntryWidgetFactory.cs
  Toggl.Droid/Widgets/TimeEntryWidgetNotLoggedInFormFactor.cs
  Toggl.Droid/Widgets/WidgetNotLoggedInFormFactor.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: android

#6263 Propagate all necessary info to widget suggestion items
  Toggl.Core/Suggestions/Suggestion.cs
  Toggl.Droid/Services/WidgetsBackgroundService.cs
  Toggl.Droid/Widgets/WidgetSuggestionItem.cs
  Toggl.Shared/Extensions/StringExtensions.cs
Labels: android

#6259 Dark mode: outdated app view
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/ViewControllers/OutdatedAppViewController.xib
Labels: ios

#6293 Save time entry details when starting a suggestion
  Toggl.iOS.AppExtensions/SharedStorage.Suggestions.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: ios

#6163 Add the calendar week stripe UI
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Droid/Extensions/Reactive/ViewExtensions.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Resources/layout/CalendarFragment.axml
  Toggl.Droid/Resources/layout/CalendarHeaderView.axml
  Toggl.Droid/Resources/layout/CalendarWeekStripeDaysView.axml
  Toggl.Droid/Resources/layout/CalendarWeekStripeLabelsView.axml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values-notnight/Colors.xml
  Toggl.Droid/Resources/values/Styles.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/ViewHolders/CalendarWeekSectionViewHolder.cs
Labels: android, foundation

#6099 Add the droid calendar contextual menu UI
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenuViewModel.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.ViewBinds.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Fragments/LockableViewPager.cs
  Toggl.Droid/Helper/IBackPressHandler.cs
  Toggl.Droid/Resources/drawable/ic_copy.xml
  Toggl.Droid/Resources/drawable/ic_delete.xml
  Toggl.Droid/Resources/drawable/ic_edit.xml
  Toggl.Droid/Resources/drawable/ic_save.xml
  Toggl.Droid/Resources/layout/CalendarDayFragmentPage.axml
  Toggl.Droid/Resources/layout/CalendarFragment.axml
  Toggl.Droid/Resources/layout/ContextualMenuActionCell.axml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/ViewHolders/CalendarMenuActionCellViewHolder.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.EditItem.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android, foundation

#6311 Dark mode: Siri UI extension
  Toggl.iOS.SiriExtension.UI/IntentViewController.cs
  Toggl.iOS.SiriExtension.UI/MainInterface.storyboard
Labels: ios

#6298 Make calendar running time entry & calendar events more distinguishable
  Toggl.Droid/Resources/drawable/ic_calendar.xml
  Toggl.Droid/Resources/layout/CalendarDayFragmentPage.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
Labels: android

#6300 Add calendar manual te creation on long press for droid
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#6308 Fix siri reports shortcut
  Toggl.iOS/Startup/AppDelegate.Siri.cs
Labels: ios

#6312 Implement analytics event for the weekly date picker
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
Labels: foundation, metrics

#6318 🐛 Fix background syncing analytics events naming
  Toggl.Core/Analytics/BaseAnalyticsService.cs
Labels: bug

#6314 Fix the "Tap to edit" onboarding bubble positioning
  Toggl.iOS/Extensions/Reactive/BaseTableViewSourceExtensions.cs
  Toggl.iOS/Extensions/Reactive/UITableViewExtensions.cs
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewSources/Generic/TableView/BaseTableViewSource.cs
Labels: ios

#6290 Fix undeletable time entries problem
  Toggl.Networking.Tests.Integration/TimeEntriesApiTests.cs
  Toggl.Networking.Tests/ApiClients/TimeEntriesApiTests.cs
  Toggl.Networking/ApiClients/TimeEntriesApi.cs
Labels: api

#6182 Android 2.5 Faloodeh
  Toggl.Droid/DebugHelpers/ErrorTriggeringFragment.cs
  Toggl.Droid/Fragments/SelectDefaultWorkspaceFragment.ViewBinds.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/layout/SelectDefaultWorkspaceFragment.axml
Labels: release

#6279 Use foreground service to handle widget actions
  Toggl.Core.UI/Services/WidgetsService.cs
  Toggl.Droid/Extensions/ActivityExtensions.cs
  Toggl.Droid/Helper/AppWidgetProviderUtils.cs
  Toggl.Droid/Helper/NotificationsConstants.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/xml/SuggestionsWidgetProvider.xml
  Toggl.Droid/Resources/xml/TimeEntryWidgetProvider.xml
  Toggl.Droid/Services/JobServicesConstants.cs
  Toggl.Droid/Services/WidgetsAnalyticsService.cs
  Toggl.Droid/Services/WidgetsForegroundService.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/SuggestionsWidget.cs
  Toggl.Droid/Widgets/SuggestionsWidgetFactory.cs
  Toggl.Droid/Widgets/SuggestionsWidgetListFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidget.cs
  Toggl.Droid/Widgets/TimeEntryWidgetStartStopButtonFormFactor.cs
Labels: android

#6323 Fix modal view dialogs Y offset calculation
  Toggl.iOS/Presentation/Transition/ModalPresentationController.cs
Labels: ios

#6317 Unify settings access on droid
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Droid/Activities/MainTabBarActivity.ViewBinds.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Droid/Activities/SettingsActivity.cs
  Toggl.Droid/DebugHelpers/ErrorTriggeringFragmentShortcut.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.cs
  Toggl.Droid/Fragments/SettingsFragment.ViewBinds.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Resources/layout/MainFragment.axml
  Toggl.Droid/Resources/menu/MainTabBarBottomMenu.xml
  Toggl.Droid/Resources/menu/SettingsMenu.xml
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#6316 Improve dark mode on calendar view texts
  Toggl.Droid/Views/Calendar/CalendarDayView.Background.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.EditItem.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#6324 Fix the widget resize animation
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: ios

#6328 Use singular working on these on Droid
  Toggl.Droid/ViewHolders/MainLogSuggestionsListViewHolder.cs
Labels: android

#6326 ⤵ Deploy Android app when building on Windows
  Toggl.sln
Labels: android

#6327 Remove unused resources
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: foundation

#6334 Make the droid calendar drag more smoothly
  Toggl.Droid/Views/Calendar/CalendarDayView.EditItem.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#6339 Reposition the TE description in the iOS widget
  Toggl.iOS.TimerWidgetExtension/MainInterface.storyboard
Labels: ios

#6344 Use regular services for pre-oreo devices
  Toggl.Droid/Extensions/ContextExtensions.cs
  Toggl.Droid/Helper/AppWidgetProviderUtils.cs
  Toggl.Droid/Resources/drawable/RoundedButton.xml
  Toggl.Droid/Resources/drawable/WidgetStartButton.xml
  Toggl.Droid/Resources/drawable/WidgetStopButton.xml
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Resources/layout/TimeEntryWidgetSmall.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Widgets/SuggestionsWidgetListFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
Labels: android

#6358 Update the widgets on system reboot
  Toggl.Droid/BroadcastReceivers/BootCompletedBroadcastReceiver.cs
  Toggl.Droid/Resources/layout/WidgetLoading.axml
  Toggl.Droid/Resources/xml/SuggestionsWidgetProvider.xml
  Toggl.Droid/Resources/xml/TimeEntryWidgetProvider.xml
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#6343 Address comments in the widgets
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/SuggestionsViewModel.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Droid/Helper/AppWidgetProviderUtils.cs
  Toggl.Droid/Services/WidgetsAnalyticsService.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.iOS.Shared/Analytics/WidgetTrackingEvent.cs
  Toggl.iOS.Shared/Models/TimeEntry.cs
  Toggl.iOS.Shared/SharedStorage.cs
  Toggl.iOS.Shared/Toggl.iOS.Shared.csproj
  Toggl.iOS.SiriExtension.UI/Toggl.iOS.SiriExtension.UI.csproj
  Toggl.iOS.SiriExtension/StopTimerIntentHandler.cs
  Toggl.iOS.SiriExtension/Toggl.iOS.SiriExtension.csproj
  Toggl.iOS.TimerWidgetExtension/NetworkingHandler.cs
  Toggl.iOS.TimerWidgetExtension/SuggestionsDataSource.cs
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
  Toggl.sln
Labels: android, foundation, ios

#6357 Track stopping TE from other locations
  Toggl.Core.Tests/UI/ViewModels/EditDurationViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Core.UI/ViewModels/EditDurationViewModel.cs
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core/Analytics/EditViewTapSource.cs
  Toggl.Core/Analytics/TimeEntryStopOrigin.cs
Labels: foundation, metrics

#6367 Fix integration tests
  Toggl.Networking.Tests.Integration/UserApiTests.cs
Labels: api

#6362 Update AppCenter
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/packages.config
Labels: dependencies

#6380 Fix iOS RTL project and tag creation
  Toggl.iOS/Autocomplete/AutocompleteExtensions.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.xib
Labels: ios

#6398 Fix configuration mappings for iOS widget project
  Toggl.sln
Labels: ios

#6280 🚧 Fix layout when changing size class
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.xib
  Toggl.iOS/ViewSources/CalendarWeeklyViewDayCollectionViewSource.cs
Labels: ios

#6403 Fix UI thread bug in the reports view model
  Toggl.Core.Tests/UI/ViewModels/ReportsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
Labels: foundation

#6409 Track when the user has no workspaces
  Toggl.Core.Tests/Sync/States/Pull/DetectNotHavingAccessToAnyWorkspaceStateTests.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Sync/States/Pull/DetectNotHavingAccessToAnyWorkspaceState.cs
  Toggl.Core/TogglSyncManagerFactory.cs
Labels: metrics, sync

#6416 Set produciton API for the iOS widget in release
  Toggl.iOS.TimerWidgetExtension/Toggl.iOS.TimerWidgetExtension.csproj
Labels: ios

#6417 📐 Add bottom line for cal events
  Toggl.iOS/Cells/Calendar/CalendarItemView.cs
  Toggl.iOS/Cells/Calendar/CalendarItemView.designer.cs
  Toggl.iOS/Cells/Calendar/CalendarItemView.xib
Labels: ios

#6419 🚧 Reuse the same EventStore
  Toggl.iOS/Services/CalendarServiceIos.cs
Labels: ios

#6405 Track password complexity
  Toggl.Core.Tests/AnalyticsService/SignupPasswordComplexityEvent.cs
  Toggl.Core.Tests/TestExtensions/FluentAssertionsExtensions.cs
  Toggl.Core.UI/ViewModels/SignupViewModel.cs
  Toggl.Core/Analytics/SignupPasswordComplexityEvent.cs
Labels: metrics

#6410 Fix calendar day view offset handling
  Toggl.Droid/Views/Calendar/CalendarDayView.Background.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android, bug

#6340 Implement calendar contextual menu on iOS
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.UI/Helper/Colors.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenuViewModel.cs
  Toggl.iOS/Extensions/TimeEntryDisplayInfoExtensions.cs
  Toggl.iOS/Resources/Images.xcassets/Image-1.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/continue.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/continue.imageset/continue.png
  Toggl.iOS/Resources/Images.xcassets/continue.imageset/continue@2x.png
  Toggl.iOS/Resources/Images.xcassets/continue.imageset/continue@3x.png
  Toggl.iOS/Resources/Images.xcassets/copy.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/copy.imageset/copy.png
  Toggl.iOS/Resources/Images.xcassets/copy.imageset/copy@2x.png
  Toggl.iOS/Resources/Images.xcassets/copy.imageset/copy@3x.png
  Toggl.iOS/Resources/Images.xcassets/delete.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/delete.imageset/delete.png
  Toggl.iOS/Resources/Images.xcassets/delete.imageset/delete@2x.png
  Toggl.iOS/Resources/Images.xcassets/delete.imageset/delete@3x-1.png
  Toggl.iOS/Resources/Images.xcassets/delete.imageset/delete@3x.png
  Toggl.iOS/Resources/Images.xcassets/discard.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/discard.imageset/discard.png
  Toggl.iOS/Resources/Images.xcassets/discard.imageset/discard@2x.png
  Toggl.iOS/Resources/Images.xcassets/discard.imageset/discard@3x.png
  Toggl.iOS/Resources/Images.xcassets/edit.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/edit.imageset/edit.png
  Toggl.iOS/Resources/Images.xcassets/edit.imageset/edit@2x.png
  Toggl.iOS/Resources/Images.xcassets/edit.imageset/edit@3x.png
  Toggl.iOS/Resources/Images.xcassets/save.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/save.imageset/save.png
  Toggl.iOS/Resources/Images.xcassets/save.imageset/save@2x.png
  Toggl.iOS/Resources/Images.xcassets/save.imageset/save@3x.png
  Toggl.iOS/Resources/Images.xcassets/stop.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/stop.imageset/stop.png
  Toggl.iOS/Resources/Images.xcassets/stop.imageset/stop@2x.png
  Toggl.iOS/Resources/Images.xcassets/stop.imageset/stop@3x.png
  Toggl.iOS/Resources/Images.xcassets/x.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/x.imageset/x.png
  Toggl.iOS/Resources/Images.xcassets/x.imageset/x@2x.png
  Toggl.iOS/Resources/Images.xcassets/x.imageset/x@3x.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.xib
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.xib
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.iOS/Views/Calendar/CalendarContextualMenuActionView.cs
Labels: ios

#6414 Add missing total duration indicator on calendar pages
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
Labels: android, foundation

#6426 Fix configuration mappings for Toggl.iOS.Shared
  Toggl.iOS.Shared/Toggl.iOS.Shared.csproj
  Toggl.sln
Labels: ios

#6425 Fix index out of bounds crash
  Toggl.Droid/Views/BarChartView.cs
Labels: android
