Repository toggl/mobileapp, pull requests merged in 2019-05, with the labels that each got.

#4918 ⚡️ Add AdHoc AppCenter configurations
  Toggl.Droid/Startup/TogglApplication.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/google-services.json
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  build.cake
Labels: android, ios

#5020 Prevent null exceptions in DurationFieldTextFormatter.AttributedStringFor
  Toggl.Daneel/Views/EditDuration/DurationFieldTextFormatter.cs
Labels: crash, ios

#5019 Fix NullReferenceException in CalendarViewController.ScrollToTop
  Toggl.Daneel/ViewControllers/Calendar/CalendarViewController.cs
Labels: crash, ios

#5036 Delete unused services
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarPermissionDeniedViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/EditProjectViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/NotificationSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/ReportsCalendarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/ReportsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectProjectViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SendFeedbackViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/TokenResetViewModelTests.cs
  Toggl.Core.UI/Extensions/ViewModelExtensions.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/Services/IDialogService.cs
  Toggl.Core.UI/Services/IPermissionsChecker.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarPermissionDeniedViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/EditProjectViewModel.cs
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core.UI/ViewModels/ReportsCalendarViewModel.cs
  Toggl.Core.UI/ViewModels/SelectProjectViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/CalendarSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/NotificationSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SendFeedbackViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/TokenResetViewModel.cs
  Toggl.Core.UI/Views/IDialogProviderView.cs
  Toggl.Core.UI/Views/IPermissionHandler.cs
  Toggl.Core.UI/Views/IPermissionRequester.cs
  Toggl.Core.UI/Views/IView.cs
  Toggl.Droid/Activities/ReactiveActivity.DialogProvider.cs
  Toggl.Droid/Extensions/ActivityExtensions.cs
  Toggl.Droid/Fragments/ReactiveFragment.DialogProvider.cs
  Toggl.Droid/Services/DialogServiceAndroid.cs
  Toggl.Droid/Services/PermissionsCheckerAndroid.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/ListSelectionDialog.cs
  Toggl.iOS/Extensions/ViewControllerExtensions.cs
  Toggl.iOS/Services/DialogServiceIos.cs
  Toggl.iOS/Services/OnePasswordServiceIos.cs
  Toggl.iOS/Services/PermissionsCheckerIos.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.DialogProvider.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.DialogProvider.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: android, ios

#4979 🐛 Fix hidden Create Project item when filtering
  Toggl.Droid/Activities/SelectProjectActivity.cs
  Toggl.Droid/Adapters/BaseSectionedRecyclerAdapter.cs
Labels: android

#5046 Fix the tabs presentation in iOS
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/ViewControllers/MainTabBarController.cs
Labels: ios, mvexit

#5023 Fix un-representable date crash in the wheel view
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Analytics/UnrepresentableDateErrorLocation.cs
  Toggl.Daneel/Views/EditDuration/WheelForegroundView.cs
Labels: crash, ios

#5051 Fix unrepresentable date crash in edit time entry view
  Toggl.Core.UI/Transformations/DateTimeToFormattedString.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/EditDurationViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Analytics/UnrepresentableDateErrorLocation.cs
  Toggl.Core/Exceptions/UnrepresentableDateException.cs
  Toggl.Daneel/Services/AnalyticsServiceIos.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.cs
  Toggl.Daneel/Views/EditDuration/WheelForegroundView.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
  Toggl.Droid/Services/AnalyticsServiceAndroid.cs
Labels: crash, ios

#5050 Add the the DialogFragmentPresenter
  Toggl.Droid/Fragments/ReactiveDialogFragment.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#4997 :satellite: Track low memory warnings
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Droid/Startup/TogglApplication.cs
  Toggl.iOS/Startup/AppDelegate.cs
Labels: android, ios, metrics

#5048 :world_map: Add navigation presenter for iOS
  Toggl.Core.UI/ViewModels/Base/IViewModel.cs
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.iOS/Presentation/IosPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.cs
Labels: ios, mvexit

#5049 :chart_with_upwards_trend: Fix report calendar
  Toggl.Core.Tests/UI/ViewModels/ReportsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Hints/ToggleReportsCalendarVisibilityHint.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core.UI/ViewModels/ReportsCalendarViewModel.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Fragments/ReportsFragment.cs
  Toggl.Droid/Views/ReportsLinearLayout.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: android, ios

#5056 Implement modal dialog presenter for iOS
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/Transition/ModalDialogTransitionDelegate.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
Labels: ios, mvexit

#4985 Improve swipe actions threshold
  Toggl.Droid/ViewHelpers/MainRecyclerViewTouchCallback.cs
Labels: android

#5068 Add modal card presenter for iOS
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/Transition/FromBottomTransitionDelegate.cs
  Toggl.iOS/Presentation/Transition/ModalPresentationController.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.cs
Labels: ios, mvexit

#5069 Convert SelectWorkspace fragment to dialog
  Toggl.Droid/Fragments/SelectWorkspaceFragment.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Resources/layout/SelectWorkspaceFragment.axml
  Toggl.Droid/Resources/layout/SelectWorkspaceFragmentCell.axml
  Toggl.Droid/Resources/values/Strings.xml
  Toggl.Droid/ViewHolders/SelectWorkspaceViewHolder.cs
Labels: android

#5071 Replace the SplashScreen layout with a theme with a bitmap
  Toggl.Droid/Resources/drawable/Splash.xml
  Toggl.Droid/Resources/layout/SplashScreen.axml
  Toggl.Droid/Resources/values/Styles.xml
  Toggl.Droid/Startup/SplashScreen.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#5055 🌐 Add Timezone to the User entity and also send it with submit feedback
  Toggl.Core.Tests.Sync/Extensions/IUserExtensions.cs
  Toggl.Core.Tests/Mocks/MockUser.cs
  Toggl.Core/Interactors/Settings/SendFeedbackInteractor.cs
  Toggl.Core/Models/FoundationConstructors.cs
  Toggl.Core/Models/FoundationModels.cs
  Toggl.Core/Models/User.cs
  Toggl.Networking.Tests.Integration/UserApiTests.cs
  Toggl.Networking.Tests/Models/UserTests.cs
  Toggl.Networking/Models/ModelConstructors.cs
  Toggl.Networking/Models/User.cs
  Toggl.Shared/Models/IUser.cs
  Toggl.Storage.Realm/Database.cs
  Toggl.Storage.Realm/Models/RealmConstructors.cs
  Toggl.Storage.Realm/Models/RealmUser.cs
Labels: foundation

#5067 Use the proper beginning of the week
  Toggl.Core.Tests/UI/ViewModels/EditDurationViewModelTests.cs
  Toggl.Core.UI/ViewModels/EditDurationViewModel.cs
  Toggl.Droid/Activities/EditDurationActivity.cs
Labels: android

#5077 Remove redundant diagnostics used to detect setupViews crash
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
Labels: android

#5080 Unify ViewModel life cycle calls in iOS
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Presentation/Transition/ModalPresentationController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.cs
Labels: ios, mvexit

#5083 Change the ReactiveFragment to be a ReactiveTabFragment
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.DialogProvider.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.PermissionHandler.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.cs
  Toggl.Droid/Fragments/ReportsFragment.cs
  Toggl.Droid/Fragments/SettingsFragment.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#5072 📊Siri UI for creating custom report shortcuts
  Toggl.Core.Tests/UI/ViewModels/EditProjectViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectWorkspaceViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLocator.cs
  Toggl.Core.UI/Parameters/ReportParameter.cs
  Toggl.Core.UI/Parameters/SelectWorkspaceParameters.cs
  Toggl.Core.UI/ViewModels/EditProjectViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core.UI/ViewModels/SelectWorkspaceViewModel.cs
  Toggl.Core.UI/ViewModels/Selectable/SelectableReportPeriodViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SiriShortcutsSelectReportPeriodViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SiriShortcutsViewModel.cs
  Toggl.Core/Models/ReportPeriod.cs
  Toggl.Core/Resources.Designer.cs
  Toggl.Core/Resources.resx
  Toggl.iOS.IntentBinding/ApiDefinition.cs
  Toggl.iOS.IntentBinding/StructsAndEnums.cs
  Toggl.iOS.IntentCodeGen/Toggl.iOS.IntentCodeGen/Base.lproj/Intents.intentdefinition
  Toggl.iOS.IntentCodeGen/Toggl.iOS.IntentCodeGen/en.lproj/Intents.strings
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib.xcodeproj/project.pbxproj
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportPeriodIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportPeriodIntent.m
  Toggl.iOS.IntentStaticLib/libToggl.iOS.IntentStaticLib.a
  Toggl.iOS/Extensions/IntentPeriod.cs
  Toggl.iOS/Services/IntentDonationService.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Settings/SiriShortcutsSelectReportPeriodViewController.cs
  Toggl.iOS/ViewControllers/Settings/SiriShortcutsSelectReportPeriodViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/SiriShortcutsSelectReportPeriodViewController.xib
  Toggl.iOS/ViewControllers/Settings/SiriShortcutsViewController.cs
  Toggl.iOS/Views/Settings/SiriShortcutReportPeriodCell.cs
  Toggl.iOS/Views/Settings/SiriShortcutReportPeriodCell.designer.cs
  Toggl.iOS/Views/Settings/SiriShortcutReportPeriodCell.xib
Labels: ios

#5082 Add a ViewControllerLocator
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/BrowserViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarPermissionDeniedViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/Calendar/SelectUserCalendarsViewController.cs
  Toggl.iOS/ViewControllers/EditDurationViewController.cs
  Toggl.iOS/ViewControllers/EditProjectViewController.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.cs
  Toggl.iOS/ViewControllers/KeyboardAwareViewController.cs
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/MainTabBarController.cs
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewControllers/NoWorkspaceViewController.cs
  Toggl.iOS/ViewControllers/OnboardingViewController.cs
  Toggl.iOS/ViewControllers/OutdatedAppViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.cs
  Toggl.iOS/ViewControllers/ReportsCalendarViewController.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
  Toggl.iOS/ViewControllers/SelectBeginningOfWeekViewController.cs
  Toggl.iOS/ViewControllers/SelectClientViewController.cs
  Toggl.iOS/ViewControllers/SelectColorViewController.cs
  Toggl.iOS/ViewControllers/SelectCountryViewController.cs
  Toggl.iOS/ViewControllers/SelectDateFormatViewController.cs
  Toggl.iOS/ViewControllers/SelectDateTimeViewController.cs
  Toggl.iOS/ViewControllers/SelectDefaultWorkspaceViewController.cs
  Toggl.iOS/ViewControllers/SelectDurationFormatViewController.cs
  Toggl.iOS/ViewControllers/SelectProjectViewController.cs
  Toggl.iOS/ViewControllers/SelectTagsViewController.cs
  Toggl.iOS/ViewControllers/SelectWorkspaceViewController.cs
  Toggl.iOS/ViewControllers/Settings/AboutViewController.cs
  Toggl.iOS/ViewControllers/Settings/CalendarSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/LicensesViewController.cs
  Toggl.iOS/ViewControllers/Settings/NotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/SendFeedbackViewController.cs
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/UpcomingEventsNotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/SignupViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/SyncFailuresViewController.cs
  Toggl.iOS/ViewControllers/TermsOfServiceViewController.cs
  Toggl.iOS/ViewControllers/TokenResetViewController.cs
Labels: ios, mvexit

#5104 Seal classes and delete unneeded files
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/Presentation/NestedPresentationInfo.cs
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/Views/Reports/ReportsCalendarCollectionViewLayout.cs
Labels: ios, mvexit

#5100 Fix reset password success view
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.xib
Labels: glitch, ios

#5081 Don't allow spaces in any of the email text fields
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/ForgotPasswordViewController.xib
  Toggl.Daneel/ViewControllers/Login.storyboard
  Toggl.Daneel/ViewControllers/SignupViewController.xib
  Toggl.Daneel/Views/EmailTextField.cs
  Toggl.Daneel/Views/LoginTextField.cs
Labels: ios

#5008 📐 Fix line breaking behaviour on the Edit TE view
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
Labels: ios

#5114 Add app shortcuts when logging in
  Toggl.Core/DependencyContainer.cs
Labels: glitch

#5118 Seal Android presenter classes
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.iOS/Presentation/IosPresenter.cs
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
Labels: android

#5107 Cache view models & change vm injection on droid Activities & DialogFragments
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.cs
  Toggl.Droid/Fragments/CalendarPermissionDeniedFragment.cs
  Toggl.Droid/Fragments/NoWorkspaceFragment.cs
  Toggl.Droid/Fragments/ReactiveDialogFragment.cs
  Toggl.Droid/Fragments/SelectBeginningOfWeekFragment.cs
  Toggl.Droid/Fragments/SelectColorFragment.cs
  Toggl.Droid/Fragments/SelectDateFormatFragment.cs
  Toggl.Droid/Fragments/SelectDefaultWorkspaceFragment.cs
  Toggl.Droid/Fragments/SelectDurationFormatFragment.cs
  Toggl.Droid/Fragments/SelectUserCalendarsFragment.cs
  Toggl.Droid/Fragments/SelectWorkspaceFragment.cs
  Toggl.Droid/Fragments/TermsOfServiceFragment.cs
  Toggl.Droid/Fragments/UpcomingEventsNotificationSettingsFragment.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Presentation/ViewModelCache.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#5119 Handle android's physical close button
  Toggl.Core.UI/Toggl.Core.UI.csproj
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.Droid/Activities/EditDurationActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.cs
  Toggl.Droid/Activities/SendFeedbackActivity.cs
Labels: android

#5123 Fix cake flows
  build.cake
Labels: ios, mvexit

#5128 Re-do EditTimeEntryViewModel rehydration on EditTimeEntryActivity
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
Labels: android

#5106 Add url-based navigation
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/BaseTest.cs
  Toggl.Core.Tests/UI/Services/UrlHandlerTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.UI/Navigation/INavigationService.cs
  Toggl.Core.UI/Navigation/IPresentationChange.cs
  Toggl.Core.UI/Navigation/IPresenter.cs
  Toggl.Core.UI/Services/IUrlHandler.cs
  Toggl.Core.UI/Services/UrlHandler.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Core/Analytics/TimeEntryStartOrigin.cs
  Toggl.Core/ApplicationUrls.cs
  Toggl.Core/Extensions/ThreadSafeExtensions.cs
  Toggl.Core/Extensions/TimeEntryExtensions.cs
  Toggl.Core/Shortcuts/BaseApplicationShortcutCreator.cs
  Toggl.Droid/Activities/ReactiveActivity.GoogleTokenProvider.cs
  Toggl.Droid/Helper/PersistentNotificationsHelper.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Presentation/AndroidPresenter.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Startup/SplashScreen.cs
  Toggl.Shared/Extensions/DictionaryExtensions.cs
  Toggl.Shared/Extensions/RxAction/NameValueCollectionExtensions.cs
  Toggl.Shared/Toggl.Shared.csproj
  Toggl.iOS/ApplicationShortcutCreator.cs
  Toggl.iOS/Info.plist
  Toggl.iOS/Presentation/IosPresenter.cs
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Startup/AppDelegate.Background.cs
  Toggl.iOS/Startup/AppDelegate.Notification.cs
  Toggl.iOS/Startup/AppDelegate.Shortcuts.cs
  Toggl.iOS/Startup/AppDelegate.Siri.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
Labels: ios, mvexit

#5115 Make keyboard dismissible by swiping in login and signup views
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/SignupViewController.cs
Labels: ios

#5102 Giskard 1.15 - Scandium
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#5129 🐛 Fix not all tasks showing as suggestions in start time entry view
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Core/Autocomplete/Suggestions/AutocompleteSuggestionComparer.cs
Labels: android, bug

#5064 :memo: Add initial docs about ViewModel lifecycle
  docs/app-lifecycle/overview.md
  docs/app-lifecycle/startup-android
  docs/app-lifecycle/startup-ios.md
  docs/app-lifecycle/viewmodel-lifecycle.md
  docs/solution-outline.md
Labels: android, foundation, ios, mvexit, refactoring

#5130 Fix 1password service on iOS
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/LoginViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/Services/IPasswordManagerService.cs
  Toggl.Core.UI/Services/PasswordManagerResult.cs
  Toggl.Core.UI/Services/StubPasswordManagerService.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/LoginViewModel.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.iOS/Resources/Images.xcassets/icOnePassword.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icOnePassword.imageset/passwordman.png
  Toggl.iOS/Resources/Images.xcassets/icOnePassword.imageset/passwordman@2x.png
  Toggl.iOS/Resources/Images.xcassets/icOnePassword.imageset/passwordman@3x.png
  Toggl.iOS/Services/OnePasswordServiceIos.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Login.storyboard
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/packages.config
Labels: ios

#5131 Re-enable lifecycle observer
  Toggl.Droid/Startup/ApplicationLifecycleObserver.cs
  Toggl.Droid/Startup/SplashScreen.cs
  Toggl.Droid/Startup/TogglApplication.cs
Labels: android

#5140 🐛 Parse workspaceId as long
  Toggl.iOS/Startup/AppDelegate.cs
Labels: ios

#5132 Add iOS startup docs
  docs/app-lifecycle/startup-ios.md
Labels: ios, mvexit

#5133 Add documentation for url navigation
  docs/url-navigation.md
Labels: foundation, mvexit

#5121 💡Siri UI for creating custom time entry
  Toggl.Core.UI/Navigation/ViewModelLocator.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/PasteFromClipboardViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/SiriShortcutsCustomTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/SiriShortcutsSelectReportPeriodViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/SiriShortcutsViewModel.cs
  Toggl.Core/Resources.Designer.cs
  Toggl.Core/Resources.resx
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Resources/Images.xcassets/clipboardInstruction.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/clipboardInstruction.imageset/clipboardInstruction.pdf
  Toggl.iOS/Resources/Images.xcassets/pasteFromClipboard.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/pasteFromClipboard.imageset/pasteFromClipboard.pdf
  Toggl.iOS/Resources/Images.xcassets/pasteFromClipboardEnabled.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/pasteFromClipboardEnabled.imageset/pasteFromClipboardEnabled.pdf
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Settings/Siri/PasteFromClipboardViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/PasteFromClipboardViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/PasteFromClipboardViewController.xib
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.xib
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.xib
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.xib
  Toggl.iOS/Views/TextViewWithPlaceholder.cs
Labels: ios

#5139 Fix Activity presenting on older devices
  Toggl.Droid/Presentation/ActivityPresenter.cs
Labels: android

#5145 Fix reports loading
  Toggl.Core.Tests/UI/ViewModels/ReportsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
Labels: android

#5149 Show Siri custom TE, report creation using nav stack
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.xib
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsSelectReportPeriodViewController.xib
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.cs
Labels: ios

#5073 Daneel 1.21.1 hotfix
  Toggl.Core.UI/Transformations/DateTimeToFormattedString.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/EditDurationViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Exceptions/UnrepresentableDateException.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
  Toggl.Droid/Services/AnalyticsServiceAndroid.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS/Info.plist
  Toggl.iOS/Services/AnalyticsServiceIos.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
  Toggl.iOS/ViewControllers/Login.storyboard
  Toggl.iOS/ViewControllers/SignupViewController.xib
  Toggl.iOS/Views/EditDuration/DurationFieldTextFormatter.cs
  Toggl.iOS/Views/EditDuration/WheelForegroundView.cs
  Toggl.iOS/Views/EmailTextField.cs
  Toggl.iOS/Views/LoginTextField.cs
Labels: release

#5157 SyncLight sync tests
  Toggl.Core.Tests.Sync/Extensions/IProjectExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ISetExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ITagExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ITaskExtensions.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchAllTimeEntriesAndCreateWorkspacePlaceholderAndDetectNewWorkspaceLater.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntries.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesAndCreatesAllPlaceholders.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesWithRelationships.cs
  Toggl.Core/Sync/ISyncManager.cs
  Toggl.Core/Sync/SyncManager.cs
Labels: sync

#5138 Refactor Calendar edit mode state storage
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewCreateFromSpanHelper.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
Labels: crash, ios

#5166 Fix reports calendar presentation on iPad
  Toggl.Core.UI/ViewModels/ReportsCalendarViewModel.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: ios, mvexit

#5165 :pill: Fix token reset
  Toggl.Core.UI/ViewModels/TokenResetViewModel.cs
  Toggl.Droid/Activities/TokenResetActivity.cs
  Toggl.Droid/Resources/layout/TokenResetActivity.axml
  Toggl.iOS/ViewControllers/TokenResetViewController.cs
Labels: android, bug, critical

#5167 Fix BrowserSerivce
  Toggl.Droid/Services/BrowserServiceAndroid.cs
Labels: android, bug

#5173 🐞 fix crash when creating custom TE intent with no client
  Toggl.iOS/ViewControllers/Settings/SiriShortcutViewModel.cs
Labels: ios

#5177 💥 Fix nulref when memory is low
  Toggl.Droid/Startup/TogglApplication.cs
Labels: android, crash

#5141 🐛 Fix tasks not expanding
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
Labels: bug, foundation

#5182 Detect new workspace even if a workspace placeholder exists in the DB
  Toggl.Core.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Core/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
Labels: sync

#5163 SyncLight: Create placeholders state
  Toggl.Core.Tests/Models/ProjectPlaceholderTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/CreatePlaceholdersStateTests.cs
  Toggl.Core/Models/Project.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersState.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersStateFactory.cs
Labels: sync

#5179 Schedule full sync after sync light
  Toggl.Core.Tests/Interactors/Sync/ContainsPlaceholdersInteractorTests.cs
  Toggl.Core.Tests/Services/AutomaticSyncingServiceTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedStateTests.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Sync.cs
  Toggl.Core/Interactors/Sync/ContainsPlaceholdersInteractor.cs
  Toggl.Core/Services/AutomaticSyncingService.cs
  Toggl.Core/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedState.cs
  Toggl.Storage/Settings/ILastTimeUsageStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
Labels: sync

#5148 🐛 Fix reports calendar update when beginning of week changes
  Toggl.Droid/Adapters/ReportsCalendarPagerAdapter.cs
Labels: android, bug

#5160 Fetch just time entries
  Toggl.Core.Tests/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceStateTests.cs
  Toggl.Core/Helper/Constants.cs
  Toggl.Core/Sync/States/Pull/BaseFetchSinceState.cs
  Toggl.Core/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Core/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceState.cs
Labels: sync

#5190 Register shortcuts in another thread
  Toggl.Core/DependencyContainer.cs
Labels: android, ios

#5185 Deeplink refactor
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/Services/DeeplinkParserTests.cs
  Toggl.Core.Tests/UI/Services/UrlHandlerTests.cs
  Toggl.Core.UI/Extensions/DeeplinkParametersExtensions.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.Calendar.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.Reports.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.TimeEntry.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.cs
  Toggl.Core.UI/Services/DeeplinkParser.cs
  Toggl.Core.UI/Services/IDeeplinkParser.cs
  Toggl.Core.UI/Services/IUrlHandler.cs
  Toggl.Core.UI/Services/UrlHandler.cs
  Toggl.Core.UI/Toggl.Core.UI.csproj
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Shared/Extensions/UriExtensions.cs
  Toggl.iOS/Startup/AppDelegate.Deeplink.cs
  Toggl.iOS/Startup/AppDelegate.Notification.cs
  Toggl.iOS/Startup/AppDelegate.Shortcuts.cs
  Toggl.iOS/Startup/AppDelegate.Siri.cs
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Toggl.iOS.csproj
Labels: foundation, ios, mvexit

#5192 Re-re-add droid url nav
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core/ApplicationUrls.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Presentation/ViewModelCache.cs
  Toggl.Droid/Startup/SplashScreen.DeepLink.cs
  Toggl.Droid/Startup/SplashScreen.cs
  Toggl.Droid/Startup/TogglApplication.cs
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#5189 Include SyncLight in the sync queue
  Toggl.Core.Tests/Sync/SyncStateQueueTests.cs
  Toggl.Core/Sync/ISyncStateQueue.cs
  Toggl.Core/Sync/StateMachineEntryPoints.cs
  Toggl.Core/Sync/SyncManager.cs
  Toggl.Core/Sync/SyncState.cs
  Toggl.Core/Sync/SyncStateQueue.cs
  Toggl.Core/TogglSyncManagerFactory.cs
Labels: sync

#5174 Siri localization
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS.SiriExtension.UI/IntentViewController.cs
  Toggl.iOS.SiriExtension.UI/Toggl.iOS.SiriExtension.UI.csproj
  Toggl.iOS.SiriExtension/StartTimerFromClipboardIntentHandler.cs
  Toggl.iOS.SiriExtension/StartTimerIntentHandler.cs
  Toggl.iOS.SiriExtension/StopTimerIntentHandler.cs
  Toggl.iOS/Services/IntentDonationService.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
Labels: ios

#5203 Fix selecting tag suggestions
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
Labels: foundation, mvexit

#5202 Don't wrap main tab bar in navigation controller
  Toggl.iOS/Startup/AppDelegate.cs
Labels: ios, mvexit

#5205 Version bump
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: android, ios

#5206 Fix broken SplashScreen transition
  Toggl.Droid/Resources/values/Styles.xml
Labels: android

#5194 SyncLight: placeholders
  Toggl.Core.Tests/Models/ProjectPlaceholderTests.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Models/Project.cs
  Toggl.Core/Models/Tag.cs
  Toggl.Core/Models/Task.cs
  Toggl.Core/Models/Workspace.cs
  Toggl.Core/Resources.Designer.cs
  Toggl.Core/Resources.resx
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersState.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersStateFactory.cs
Labels: foundation

#5193 SyncLight transitions
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchAllTimeEntriesAndCreateWorkspacePlaceholderAndDetectNewWorkspaceLater.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesWithRelationships.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedStateTests.cs
  Toggl.Core.Tests/Sync/SyncGraphTests.cs
  Toggl.Core/Sync/StateMachineOrchestrator.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersState.cs
  Toggl.Core/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedState.cs
  Toggl.Core/TogglSyncManagerFactory.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
Labels: sync

#5211 Fix droid build with VS2017
  Toggl.Core.UI/ViewModels/Base/ViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
Labels: android, mvexit

#5159 SyncLight
  Toggl.Core.Tests.Sync/Extensions/IProjectExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ISetExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ITagExtensions.cs
  Toggl.Core.Tests.Sync/Extensions/ITaskExtensions.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchAllTimeEntriesAndCreateWorkspacePlaceholderAndDetectNewWorkspaceLater.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntries.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesAndCreatesAllPlaceholders.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesWithRelationships.cs
  Toggl.Core.Tests/Interactors/Sync/ContainsPlaceholdersInteractorTests.cs
  Toggl.Core.Tests/Models/ProjectPlaceholderTests.cs
  Toggl.Core.Tests/Services/AutomaticSyncingServiceTests.cs
  Toggl.Core.Tests/Sync/States/Pull/DetectGainingAccessToWorkspacesStateTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/CreatePlaceholdersStateTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedStateTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceStateTests.cs
  Toggl.Core.Tests/Sync/SyncGraphTests.cs
  Toggl.Core.Tests/Sync/SyncStateQueueTests.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Helper/Constants.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Sync.cs
  Toggl.Core/Interactors/Sync/ContainsPlaceholdersInteractor.cs
  Toggl.Core/Models/Project.cs
  Toggl.Core/Models/Tag.cs
  Toggl.Core/Models/Task.cs
  Toggl.Core/Models/Workspace.cs
  Toggl.Core/Services/AutomaticSyncingService.cs
  Toggl.Core/Sync/ISyncManager.cs
  Toggl.Core/Sync/ISyncStateQueue.cs
  Toggl.Core/Sync/StateMachineEntryPoints.cs
  Toggl.Core/Sync/StateMachineOrchestrator.cs
  Toggl.Core/Sync/States/Pull/BaseFetchSinceState.cs
  Toggl.Core/Sync/States/Pull/DetectGainingAccessToWorkspacesState.cs
  Toggl.Core/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersState.cs
  Toggl.Core/Sync/States/PullTimeEntries/CreatePlaceholdersStateFactory.cs
  Toggl.Core/Sync/States/PullTimeEntries/DetectPlaceholdersWereCreatedState.cs
  Toggl.Core/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceState.cs
  Toggl.Core/Sync/SyncManager.cs
  Toggl.Core/Sync/SyncState.cs
  Toggl.Core/Sync/SyncStateQueue.cs
  Toggl.Core/TogglSyncManagerFactory.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.Storage/Settings/ILastTimeUsageStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
  docs/syncing/index.md
  docs/syncing/pull-time-entries.md
  docs/syncing/push-sync.md
  docs/syncing/state-machine.md
Labels: sync

#5120 Mvexit Android startup docs
  docs/app-lifecycle/startup-android.md
  docs/app-lifecycle/startup-ios.md
Labels: android

#5217 Install Firebase Cloud Messaging NuGet packages
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/packages.config
Labels: android, ios

#5229 Add default constructor to CredentialsParameter
  Toggl.Core.UI/Parameters/CredentialsParameter.cs
Labels: android, bug

#5230 Fix ReactiveDialog cancellation
  Toggl.Droid/Fragments/ReactiveDialogFragment.cs
Labels: android, bug

#5231 Make sure ReportsCalendarVM has appeared before ReportsVM
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
Labels: android, foundation, mvexit

#5215 Fix UI tests for iOS ✨
  Toggl.Tests.UI/Helpers/Attributes.cs
  Toggl.iOS.Tests.UI/Configuration.cs
  Toggl.iOS.Tests.UI/Toggl.iOS.Tests.UI.csproj
  Toggl.iOS.Tests.UI/packages.config
Labels: ios, ui-tests

#5235 Track the creation of unrepresentable date times
  Toggl.Core/DataSources/TimeEntriesDataSource.cs
  Toggl.Core/Exceptions/OutOfBoundsDateTimeCreatedException.cs
  Toggl.Core/Extensions/ThreadSafeExtensions.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared/Extensions/DateTimeOffsetExtensions.cs
  Toggl.Shared/Extensions/TimeEntryExtensions.cs
Labels: foundation

#5246 ‼ show error message when intent fails
  Toggl.iOS.SiriExtension.UI/IntentViewController.cs
Labels: ios

#5252 Dismiss onboarding step on view disappearing
  Toggl.iOS/ViewControllers/MainViewController.cs
Labels: ios, mvexit

#5262 Mvexit: Simplify view controller loader
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/ViewControllers/MainTabBarController.cs
Labels: ios

#5267 Fix the scrolling indicator on landscape iPads
  Toggl.iOS/Views/Suggestions/SuggestionsView.cs
Labels: glitch, ios

#5257 Fix list selection dialog cancellation
  Toggl.Droid/Views/ListSelectionDialog.cs
Labels: android, bug

#5255 🚧 Replace SuggestionProviderContainer with an Interactor
  Toggl.Core.Tests/Interactors/Suggestions/GetSuggestionsInteractorTests.cs
  Toggl.Core.Tests/Interactors/Suggestions/MostUsedTimeEntrySuggestionProviderTests.cs
  Toggl.Core.Tests/Suggestions/SuggestionProviderContainerTests.cs
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SuggestionsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLocator.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/SuggestionsViewModel.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Suggestions.cs
  Toggl.Core/Interactors/Suggestions/GetSuggestionsInteractor.cs
  Toggl.Core/Suggestions/Interfaces/ISuggestionProviderContainer.cs
  Toggl.Core/Suggestions/MostUsedTimeEntrySuggestionProvider.cs
  Toggl.Core/Suggestions/SuggestionProviderContainer.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/ViewHolders/MainLogSuggestionsListViewHolder.cs
  Toggl.iOS/Startup/IosDependencyContainer.cs
  Toggl.iOS/Views/Suggestions/SuggestionsView.cs
Labels: android, foundation, ios

#5258 Prevent deadlock on the main thread
  Toggl.iOS/ApplicationShortcutCreator.cs
  Toggl.iOS/Extensions/OnboardingExtensions.cs
Labels: ios

#5228 🐛 Fix report calendar's label to show shortcut labels instead of ranges
  Toggl.Core.Tests/UI/ViewModels/CalendarPageViewModelTests.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarLastMonthQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarLastWeekQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarLastYearQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarThisMonthQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarThisWeekQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarThisYearQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarTodayQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/QuickSelectShortcuts/ReportsCalendarYesterdayQuickSelectShortcut.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/ReportsCalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/ReportsCalendar/ReportsCalendarPageViewModel.cs
  Toggl.Shared/Extensions/DateTimeOffsetExtensions.cs
Labels: android, foundation, ios

#5208 🌏 Allow using toggl.com credential in iOS's Autofill
  Toggl.iOS/Entitlements.plist
Labels: ios

#5248 Remove hardcoded paths from UI test configurations
  Toggl.Droid.Tests.UI/Configuration.cs
  Toggl.iOS.Tests.UI/Configuration.cs
Labels: android, ios, ui-tests
