Repository toggl/mobileapp, pull requests merged in 2020-02, with the labels that each got.

#6885 🐛 Fix the tests
  Toggl.Core.Tests/UI/Transformations/DateToTitleStringTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
Labels: tests

#7057 Fix syncing of user properties
  Toggl.Networking.Tests.Integration/BaseTests/AuthenticatedEndpointBaseTests.cs
  Toggl.Networking.Tests/Models/UserTests.cs
  Toggl.Networking/Models/User.cs
Labels: api, sync

#7055 Add placeholders directly in the MainTabBarActivity
  Toggl.Droid/Activities/MainTabBarActivity.ViewBinds.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.cs
  Toggl.Droid/Helper/ITabLayoutReadyListener.cs
  Toggl.Droid/Resources/layout/MainLogEmptyView.axml
  Toggl.Droid/Resources/layout/MainTabBarActivity.axml
  Toggl.Droid/Toggl.Droid.csproj
Labels: android

#7085 Bumped up app center version
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
Labels: android

#6942 Refactor calendar settings
  Toggl.Core.Tests/UI/ViewModels/CalendarSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectUserCalendarsViewModelBaseTests.cs
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/SelectUserCalendarsViewModelBase.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/CalendarSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/IndependentCalendarSettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Droid/Activities/CalendarSettingsActivity.ViewBinds.cs
  Toggl.Droid/Activities/CalendarSettingsActivity.cs
  Toggl.Droid/Activities/IndependentCalenarSettingsActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.PermissionsHandler.cs
  Toggl.Droid/Extensions/PermissionRequesterComponentExtensions.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.PermissionHandler.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.PermissionHandler.cs
  Toggl.Droid/Helper/IPermissionRequesterComponent.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Presentation/ViewModelCache.cs
  Toggl.Droid/Resources/layout/CalendarSettingsActivity.axml
  Toggl.Droid/Resources/layout/SelectUserCalendarsBase.axml
  Toggl.Droid/Resources/menu/CalendarSettingsMenu.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/IUserPreferences.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Presentation/PageSheetPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/ViewControllers/Settings/CalendarSettingsViewController.cs
  Toggl.iOS/Views/Settings/CalendarSettingsTableViewHeader.cs
  Toggl.iOS/Views/Settings/CalendarSettingsTableViewHeader.designer.cs
  Toggl.iOS/Views/Settings/CalendarSettingsTableViewHeader.xib
Labels: android, foundation, ios

#7074 Add dummy endpoints for new sign in with Apple API
  Toggl.Networking.Tests/ApiClients/UserApiTests.cs
  Toggl.Networking/ApiClients/Interfaces/IUserApi.cs
  Toggl.Networking/ApiClients/UserApi.cs
  Toggl.Networking/Network/Endpoints/UserEndpoints.cs
Labels: api, foundation

#7088 Implement AppleID token provider
  Toggl.Core.Tests/UI/ViewModels/LoginViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SignupViewModelTests.cs
  Toggl.Core.UI/ViewModels/LoginViewModel.cs
  Toggl.Core.UI/ViewModels/SignupViewModel.cs
  Toggl.Core.UI/Views/IAppleTokenProvider.cs
  Toggl.Core.UI/Views/IGoogleTokenProvider.cs
  Toggl.Core.UI/Views/IThirdPartyTokenProvider.cs
  Toggl.Core.UI/Views/IView.cs
  Toggl.Core/Exceptions/GoogleLoginException.cs
  Toggl.Core/Exceptions/ThirdPartyLoginException.cs
  Toggl.Core/Helper/ThirdPartyLoginProvider.cs
  Toggl.Droid/Activities/ReactiveActivity.ThirdPartyTokenProvider.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.PermissionHandler.cs
  Toggl.Droid/Fragments/ReactiveDialogFragment.cs
  Toggl.Droid/Fragments/ReactiveTabFragment.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.iOS/Entitlements.plist
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.GoogleTokenProvider.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.ThirdPartyTokenProvider.cs
  build.cake
Labels: foundation, ios

#7090 Fix requesting calendar permission from the settings app
  Toggl.Droid/Extensions/PermissionRequesterComponentExtensions.cs
Labels: android, bug

#7093 🐛 Fix null selected indexPath
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: ios

#7094 Add sign in and sign up buttons
  Toggl.Core.Tests/UI/ViewModels/LoginViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SignupViewModelTests.cs
  Toggl.Core.Tests/UserAccessManager/UserAccessManagerTests.cs
  Toggl.Core.UI/ViewModels/LoginViewModel.cs
  Toggl.Core.UI/ViewModels/SignupViewModel.cs
  Toggl.Core/Analytics/AuthenticationMethod.cs
  Toggl.Core/UserAccessManager/IUserAccessManager.cs
  Toggl.Core/UserAccessManager/UserAccessManager.cs
  Toggl.Droid/Activities/LoginActivity.cs
  Toggl.Networking/Network/Credentials.cs
  Toggl.iOS/ViewControllers/Login.storyboard
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/LoginViewController.designer.cs
  Toggl.iOS/ViewControllers/SignupViewController.cs
  Toggl.iOS/ViewControllers/SignupViewController.designer.cs
  Toggl.iOS/ViewControllers/SignupViewController.xib
  Toggl.sln
Labels: ios

#7097 Do not stop editing calendar item when it goes off screen
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewZoomHelper.cs
Labels: bug, crash, ios

#7087 PR: Android 2.11 - Liquorice
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android

#7081 iOS 2.11 - Lime
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewZoomHelper.cs
Labels: ios, release

#7106 Update androidx libs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
Labels: android

#7111 Add first fragment allowing state loss
  Toggl.Droid/Activities/MainTabBarActivity.cs
Labels: android, crash

#7115 Create new Onboarding VM
  Toggl.Core.Tests/TermsAndCountryViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/OnboardingViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
  Toggl.Core.UI/ViewModels/TermsAndCountryViewModel.cs
Labels: foundation, refactoring

#7119 Fix stopped timer notification label
  Toggl.Droid/Activities/SettingsActivity.cs
Labels: android, bug

#7123 :arrow_up: Update WorkManager deps
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/packages.config
Labels: android

#7120 Implement endpoints used for Sign in with Apple
  Toggl.Core.Tests/UserAccessManager/UserAccessManagerTests.cs
  Toggl.Core.UI/ViewModels/LoginViewModel.cs
  Toggl.Core/BasePlatformInfo.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/IPlatformInfo.cs
  Toggl.Core/UserAccessManager/UserAccessManager.cs
  Toggl.Droid/PlatformInfoAndroid.cs
  Toggl.Networking.Tests/ApiClients/UserApiTests.cs
  Toggl.Networking/ApiClients/Interfaces/IUserApi.cs
  Toggl.Networking/ApiClients/UserApi.cs
  Toggl.Networking/Network/Credentials.cs
  Toggl.Networking/Network/Endpoints/UserEndpoints.cs
  Toggl.Networking/Network/HttpHeader.cs
  Toggl.iOS/PlatformInfoIos.cs
Labels: api

#7105 Avoid reloading all items when closing contextual menu
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenuViewModel.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
Labels: glitch, ios

#7127 Add the new sign up view model
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/LoginViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/OldSignUpViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/OnboardingViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SignUpViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/LoginViewModel.cs
  Toggl.Core.UI/ViewModels/OldSignUpViewModel.cs
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
  Toggl.Core.UI/ViewModels/SignUpViewModel.cs
  Toggl.Droid/Activities/SignUpActivity.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Shared/Email.cs
  Toggl.Shared/Password.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/ViewControllers/SignupViewController.cs
Labels: foundation

#7117 Prevent phantom calendar items which create artificial columns
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
Labels: android

#7124 Implement onboarding design in iOS
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Resources/Colors.xcassets/InverseText.colorset/Contents.json
  Toggl.iOS/Resources/Colors.xcassets/OnboardingBackgroundColor.colorset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/gifTogglman.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo@3x.png
  Toggl.iOS/Resources/togglman.mp4
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Login.storyboard
  Toggl.iOS/ViewControllers/OnboardingViewController.cs
  Toggl.iOS/ViewControllers/OnboardingViewController.designer.cs
  Toggl.iOS/ViewControllers/OnboardingViewController.xib
Labels: ios

#7103 Add support for tasks in Siri
  Toggl.Core.UI/Extensions/DeeplinkParametersExtensions.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.TimeEntry.cs
  Toggl.Core.UI/Parameters/DeeplinkParameters.cs
  Toggl.Core.UI/Parameters/StartTimeEntryParameters.cs
  Toggl.Core.UI/Services/DeeplinkParser.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/SiriShortcutsCustomTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/Siri/SiriShortcutsViewModel.cs
  Toggl.iOS.IntentBinding/ApiDefinition.cs
  Toggl.iOS.IntentBinding/StructsAndEnums.cs
  Toggl.iOS.IntentCodeGen/Toggl.iOS.IntentCodeGen/Base.lproj/Intents.intentdefinition
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ContinueTimerIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ContinueTimerIntent.m
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportIntent.m
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportPeriodIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/ShowReportPeriodIntent.m
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StartTimerFromClipboardIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StartTimerFromClipboardIntent.m
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StartTimerIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StartTimerIntent.m
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StopTimerIntent.h
  Toggl.iOS.IntentStaticLib/Toggl.iOS.IntentStaticLib/StopTimerIntent.m
  Toggl.iOS.IntentStaticLib/libToggl.iOS.IntentStaticLib.a
  Toggl.iOS.SiriExtension/StartTimerFromClipboardIntentHandler.cs
  Toggl.iOS.SiriExtension/StartTimerIntentHandler.cs
  Toggl.iOS/Models/SiriShortcut.cs
  Toggl.iOS/Services/IntentDonationService.cs
  Toggl.iOS/Startup/AppDelegate.Siri.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutViewModel.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.cs
  Toggl.iOS/Views/Settings/CustomSiriShortcutCell.cs
Labels: ios

#7129 Create TOS & Country screen for iOS
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Resources/Colors.xcassets/OnboardingButtonBackground.colorset/Contents.json
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.cs
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.designer.cs
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.xib
Labels: ios

#7128 🏇 Run initial sync on a bg thread
  Toggl.Core.UI/AppStart.cs
Labels: foundation

#7131 Track Google Login attempts
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
Labels: foundation

#7136 Fix TermsAndCountryViewModel presentation
  Toggl.Core.UI/ViewModels/SignUpViewModel.cs
  Toggl.Core.UI/ViewModels/TermsAndCountryViewModel.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.cs
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.designer.cs
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.xib
Labels: ios

#7137 Add the shake to email field in the sign up view
  Toggl.iOS/Extensions/Reactive/UITextFieldExtensions.cs
  Toggl.iOS/ViewControllers/SignupViewController.cs
Labels: ios

#7122 🚧Add email login VM
  Toggl.Core.Tests/UI/ViewModels/EmailLoginViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/EmailLoginViewModel.cs
Labels: foundation
