Repository toggl/mobileapp, pull requests merged in 2020-07, with the labels that each got.

#7594 👨‍🎨 Make periscope and beach nice
  Toggl.Droid/Fragments/Onboarding/OnboardingSecondSlideFragment.cs
  Toggl.Droid/Resources/drawable-hdpi/onboarding_slide2_periscope.png
  Toggl.Droid/Resources/drawable-hdpi/onboarding_slide2_pupil.png
  Toggl.Droid/Resources/drawable-hdpi/onboarding_slide3.png
  Toggl.Droid/Resources/drawable-mdpi/onboarding_slide2_periscope.png
  Toggl.Droid/Resources/drawable-mdpi/onboarding_slide2_pupil.png
  Toggl.Droid/Resources/drawable-mdpi/onboarding_slide3.png
  Toggl.Droid/Resources/drawable-xhdpi/onboarding_slide2_periscope.png
  Toggl.Droid/Resources/drawable-xhdpi/onboarding_slide2_pupil.png
  Toggl.Droid/Resources/drawable-xhdpi/onboarding_slide3.png
  Toggl.Droid/Resources/drawable-xxhdpi/onboarding_slide2_periscope.png
  Toggl.Droid/Resources/drawable-xxhdpi/onboarding_slide2_pupil.png
  Toggl.Droid/Resources/drawable-xxhdpi/onboarding_slide3.png
  Toggl.Droid/Resources/drawable-xxxhdpi/onboarding_slide2_periscope.png
  Toggl.Droid/Resources/drawable-xxxhdpi/onboarding_slide2_pupil.png
  Toggl.Droid/Resources/drawable-xxxhdpi/onboarding_slide3.png
  Toggl.Droid/Resources/layout/OnboardingSecondSlideFragment.axml
Labels: android

#7591 Add Your Plan view in the settings
  Toggl.Core.Tests/Interactors/UserAccess/LogoutInteractorTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/YourPlanViewModel.cs
  Toggl.Core/Interactors/UserAccess/LogoutInteractor.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Presentation/NavigationPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.xib
  Toggl.iOS/ViewSources/SettingsTableViewSource.cs
Labels: foundation, ios

#7603 Do not reset onboarding on logout
  Toggl.Core.Tests/Interactors/UserAccess/LogoutInteractorTests.cs
  Toggl.Core/Interactors/InteractorFactory.UserAccess.cs
  Toggl.Core/Interactors/UserAccess/LogoutInteractor.cs
Labels: foundation, ios

#7602 Your Plan for Android
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core.UI/ViewModels/Settings/YourPlanViewModel.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Workspace.cs
  Toggl.Core/Interactors/Workspace/ObserveCurrentPlanInteractor.cs
  Toggl.Droid/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Droid/Activities/SettingsActivity.cs
  Toggl.Droid/Activities/YourPlanActivity.ViewBinds.cs
  Toggl.Droid/Activities/YourPlanActivity.cs
  Toggl.Droid/Presentation/ActivityPresenter.cs
  Toggl.Droid/Resources/layout/YourPlanActivity.axml
  Toggl.Droid/Resources/layout/YourPlanActivityItem.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared/Models/Plan.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.cs
Labels: android

#7606 Update copy for the first tooltip
  Toggl.Shared/Resources.resx
Labels: foundation

#7599 Add the premium billable tooltip logic
  Toggl.Core.Tests/UI/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Droid/Activities/StartTimeEntryActivity.ViewBinds.cs
  Toggl.Droid/Activities/StartTimeEntryActivity.cs
  Toggl.Droid/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/TooltipWithCenteredBottomArrow.axml
  Toggl.Droid/Views/TooltipLayout.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
Labels: android, foundation

#7607 Set OnboardingCompleted when showing the final tooltip
  Toggl.Core.UI/ViewModels/MainViewModel.cs
Labels: foundation

#7598 ✅ Add SSO and rating view related checks to the release testing list
  .github/ISSUE_TEMPLATE/e-manual-test-template.md
Labels: process

#7621 Fix an edge case for tooltips
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Storage/OnboardingCondition.cs
Labels: foundation

#7624 Track onboarding time entry explicitly
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Interactors/TimeEntry/CreateTimeEntryInteractor.cs
Labels: foundation

#7604 Add Advanced Reports Via Web Card
  Toggl.Core.UI/ViewModels/Reports/ReportAdvancedReportsViaWebElement.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Cells/Reports/ReportAdvancedReportsViaWebCollectionViewCell.cs
  Toggl.iOS/Cells/Reports/ReportAdvancedReportsViaWebCollectionViewCell.designer.cs
  Toggl.iOS/Cells/Reports/ReportAdvancedReportsViaWebCollectionViewCell.xib
  Toggl.iOS/Resources/Images.xcassets/illustrationBarChart.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/illustrationBarChart.imageset/Graph.png
  Toggl.iOS/Resources/Images.xcassets/illustrationBarChart.imageset/Graph@2x.png
  Toggl.iOS/Resources/Images.xcassets/illustrationBarChart.imageset/Graph@3x.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/ReportsViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.cs
  Toggl.iOS/ViewSources/ReportsCollectionViewSource.cs
  Toggl.iOS/Views/Reports/ReportsCollectionViewCompactLayout.cs
  Toggl.iOS/Views/Reports/ReportsCollectionViewRegularLayout.cs
Labels: foundation, ios

#7629 Move the Your Plan and Workspace rows into one section
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewSources/SettingsTableViewSource.cs
Labels: ios

#7632 Update the copy in onboarding slide 3
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/ViewControllers/OnboardingViewController.cs
Labels: ios

#7630 Rename Your Plan to Your Workspace Plan
  Toggl.Droid/Activities/SettingsActivity.cs
  Toggl.Droid/Activities/YourPlanActivity.ViewBinds.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.cs
Labels: android, foundation, ios

#7628 Add the billable tooltip
  Toggl.iOS/Extensions/ColorAssets.cs
  Toggl.iOS/Resources/Colors.xcassets/StartTimeEntryInactiveButton.colorset/Contents.json
  Toggl.iOS/Resources/Colors.xcassets/StartTimeEntryViewDisabledButton.colorset/Contents.json
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.designer.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.xib
Labels: ios

#7626 Hide tooltips initially in the xib files
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.xib
  Toggl.iOS/ViewControllers/MainViewController.xib
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.xib
Labels: glitch, ios

#7631 Rename project and tag search cells in the start view
  Toggl.Core.Tests/ResourcesTests.cs
  Toggl.Core/Autocomplete/Suggestions/QuerySymbolSuggestion.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
Labels: foundation

#7593 iOS 2.16 - Quince
  Toggl.Core.Tests/Interactors/UserAccess/LogoutInteractorTests.cs
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Interactors/InteractorFactory.UserAccess.cs
  Toggl.Core/Interactors/TimeEntry/CreateTimeEntryInteractor.cs
  Toggl.Core/Interactors/UserAccess/LogoutInteractor.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Shared/Resources.resx
  Toggl.Storage/OnboardingCondition.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
  Toggl.iOS/ViewControllers/MainViewController.cs
Labels: ios, release

#7633 Add advanced reports card to Android
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Droid/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Droid/Adapters/ReportsAdapter.cs
  Toggl.Droid/Fragments/ReportsFragment.cs
  Toggl.Droid/Resources/drawable-hdpi/illustration_graph.png
  Toggl.Droid/Resources/drawable-mdpi/illustration_graph.png
  Toggl.Droid/Resources/drawable-xhdpi/illustration_graph.png
  Toggl.Droid/Resources/drawable-xxhdpi/illustration_graph.png
  Toggl.Droid/Resources/drawable-xxxhdpi/illustration_graph.png
  Toggl.Droid/Resources/layout/ReportAdvancedOnWebCard.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/ViewHolders/Reports/ReportAdvancedCardOnWebViewHolder.cs
Labels: android

#7597 Android 2.16 Qurabiya
  Toggl.Droid/.DS_Store
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/.DS_Store
  Toggl.Droid/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/MainFragment.axml
  Toggl.Droid/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/TooltipWithCenteredTopArrow.xml
Labels: android, release

#7641 Android 2.16 hotfix #1
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7637 Update manual testing template to include Onboarding and Awareness projects
  .github/ISSUE_TEMPLATE/e-manual-test-template.md
Labels: process

#7653 Fix Three Way Merge bug
  Toggl.Storage.Realm/Sync/ThreeWayMerge.cs
Labels: bug, ios

#7645 iOS 2.17 Raspberry
  Toggl.Shared/Resources.fr.resx
  Toggl.Shared/Resources.ja.resx
  Toggl.Shared/Resources.pt.resx
  Toggl.Storage.Realm/Sync/ThreeWayMerge.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7656 Fix crash with Advanced web reports card resources missing
  Toggl.Shared/Resources.fr.resx
  Toggl.Shared/Resources.ja.resx
  Toggl.Shared/Resources.pt.resx
Labels: ios

#7657 iOS hotfix 2.17.1 Raspberry
  Toggl.Shared/Resources.fr.resx
  Toggl.Shared/Resources.ja.resx
  Toggl.Shared/Resources.pt.resx
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7654 Add the endpoints to pull calendar data
  Toggl.Core.UI/Services/PermissionAwareCalendarService.cs
  Toggl.Networking.Tests/Models/Calendar/SyncedCalendarEventsPageTests.cs
  Toggl.Networking.Tests/Models/Calendar/SyncedCalendarsPageTests.cs
  Toggl.Networking/ApiClients/Interfaces/ISyncedCalendarsApi.cs
  Toggl.Networking/ApiClients/SyncedCalendarsApi.cs
  Toggl.Networking/Helpers/BaseUrls.cs
  Toggl.Networking/ITogglApi.cs
  Toggl.Networking/Models/Calendar/CalendarIntegration.cs
  Toggl.Networking/Models/Calendar/SyncedCalendar.cs
  Toggl.Networking/Models/Calendar/SyncedCalendarEvent.cs
  Toggl.Networking/Models/Calendar/SyncedCalendarEventsPage.cs
  Toggl.Networking/Models/Calendar/SyncedCalendarsPage.cs
  Toggl.Networking/Network/Endpoints/Endpoints.cs
  Toggl.Networking/Network/Integrations/CalendarEndpoints.cs
  Toggl.Networking/Network/Integrations/Endpoints.cs
  Toggl.Networking/TogglApi.cs
  Toggl.Shared/Models/Calendar/ICalendarIntegration.cs
  Toggl.Shared/Models/Calendar/ISyncedCalendar.cs
  Toggl.Shared/Models/Calendar/ISyncedCalendarEvent.cs
  Toggl.Shared/Models/Calendar/ISyncedCalendarEventsPage.cs
  Toggl.Shared/Models/Calendar/ISyncedCalendarsPage.cs
  Toggl.Storage/Models/Calendar/IDatabaseSyncedCalendar.cs
  Toggl.Storage/Models/Calendar/IDatabaseSyncedCalendarEvent.cs
Labels: api, foundation

#7646 Android 2.17 Rum Cake
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7639 Recolor the Android app
  Toggl.Droid/Resources/layout/EditDurationActivity.axml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Resources/values/Styles.xml
Labels: android

#7671 Fix old since date issue
  Toggl.Core/Interactors/Sync/PullDataInteractor.cs
  Toggl.Storage.Realm/Queries/ProcessPullResultQuery.cs
  Toggl.Storage.Realm/Queries/RealmQueryFactory.cs
  Toggl.Storage.Realm/Queries/ResetLocalStateQuery.cs
  Toggl.Storage.Realm/Queries/WritePulledData.cs
  Toggl.Storage/Queries/IQueryFactory.cs
Labels: sync
