Repository toggl/mobileapp, pull requests merged in 2020-08, with the labels that each got.

#7670 Hotfix iOS 2.17.2
  Toggl.Core/Interactors/Sync/PullDataInteractor.cs
  Toggl.Storage.Realm/Queries/ProcessPullResultQuery.cs
  Toggl.Storage.Realm/Queries/RealmQueryFactory.cs
  Toggl.Storage.Realm/Queries/ResetLocalStateQuery.cs
  Toggl.Storage.Realm/Queries/WritePulledData.cs
  Toggl.Storage/Queries/IQueryFactory.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7638 Change app endpoints to use rebrand endpoints
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/xml/network_security_config.xml
  Toggl.Droid/Startup/SplashScreen.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Networking.Tests/Extensions/UriExtensionsTests.cs
  Toggl.Networking/Helpers/BaseUrls.cs
  Toggl.iOS/Startup/AppDelegate.cs
Labels: api

#7672 Hotfix Android 2.17.1
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7692 Add max width constraint to buttons in onboarding view
  Toggl.iOS/ViewControllers/OnboardingViewController.xib
Labels: glitch, ios

#7697 Rebranding announcement popups
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/AnnouncementViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core/Announcement.cs
  Toggl.Core/Interactors/Generic/FetchAnnouncementInteractor.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Announcements.cs
  Toggl.Droid/Fragments/AnnouncementFragment.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Resources/drawable-hdpi/ic_toggl_track_logotype_stacked_pink_rgb.png
  Toggl.Droid/Resources/drawable-mdpi/ic_toggl_track_logotype_stacked_pink_rgb.png
  Toggl.Droid/Resources/drawable-xhdpi/ic_toggl_track_logotype_stacked_pink_rgb.png
  Toggl.Droid/Resources/drawable-xxhdpi/ic_toggl_track_logotype_stacked_pink_rgb.png
  Toggl.Droid/Resources/drawable-xxxhdpi/ic_toggl_track_logotype_stacked_pink_rgb.png
  Toggl.Droid/Resources/layout/AnnouncementFragment.xml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.fr.resx
  Toggl.Shared/Resources.ja.resx
  Toggl.Shared/Resources.pt.resx
  Toggl.Shared/Resources.resx
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Resources/Colors.xcassets/RebrandingBackground.colorset/Contents.json
  Toggl.iOS/Resources/Colors.xcassets/RebrandingText.colorset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icTogglTrackLogo.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/icTogglTrackLogo.imageset/icTogglTrackLogo.png
  Toggl.iOS/Resources/Images.xcassets/icTogglTrackLogo.imageset/icTogglTrackLogo@2.png
  Toggl.iOS/Resources/Images.xcassets/icTogglTrackLogo.imageset/icTogglTrackLogo@3.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/AnnouncementViewController.cs
  Toggl.iOS/ViewControllers/AnnouncementViewController.designer.cs
  Toggl.iOS/ViewControllers/AnnouncementViewController.xib
Labels: android, ios

#7699 🇫🇷FR translations for Project Awareness
  Toggl.Shared/Resources.fr.resx
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.designer.cs
  Toggl.iOS/ViewControllers/Settings/YourPlanViewController.xib
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.xib
Labels: foundation, ios

#7703 Android 2.18 - Skittles
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7704 iOS 2.18 - Strawberry
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7730 Add Portuguese translations for Onboarding 2.0 and Awareness projects
  Toggl.Shared/Resources.pt.resx
Labels: foundation

#7731 Add missing analytics events from Awareness project
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/Settings/YourPlanViewModel.cs
  Toggl.Core.UI/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
Labels: foundation

#7732 Fix unscrollable suggestions in start view
  Toggl.Droid/Activities/StartTimeEntryActivity.ViewBinds.cs
Labels: android, glitch

#7739 Fix checkmark being shown or hidden for tag selection
  Toggl.iOS/Views/Tag/NewTagViewCell.cs
Labels: bug, ios

#7737 All Logos Pink
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogo.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogo@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogo@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogoDark-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogoDark@2x-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglLogoDark@3x-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkDark.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkDark@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkDark@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkLight.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkLight@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogo.imageset/togglPinkLight@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logo.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logo@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logo@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logoBigDark-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logoBigDark@2x-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/logoBigDark@3x-1.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkDark.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkDark@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkDark@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkLight.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkLight@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoBig.imageset/togglPinkLight@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/.DS_Store
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/logo.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglLogo@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkDark.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkDark@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkDark@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkLight.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkLight@2x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoRedAndBlack.imageset/togglPinkLight@3x.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoWhite.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/toggl-track_icon_pink_rgb.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/togglLogoRed.pdf
  Toggl.iOS/Toggl.iOS.csproj
Labels: ios

#7735 Visual changes for calendar items on iOS
  Toggl.Core.UI/Calendar/CalendarLayoutCalculator.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core/Calendar/CalendarItem.cs
  Toggl.Core/Extensions/CalendarItemExtensions.cs
  Toggl.iOS/Cells/Calendar/CalendarItemView.cs
  Toggl.iOS/Cells/Calendar/CalendarItemView.designer.cs
  Toggl.iOS/Cells/Calendar/CalendarItemView.xib
  Toggl.iOS/Extensions/ColorAssets.cs
  Toggl.iOS/Resources/Colors.xcassets/CalendarDragHandles.colorset/Contents.json
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/Transformations/CalendarProjectTaskClientToAttributedString.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/DragHandleView.cs
Labels: coral-capybara
