Repository toggl/mobileapp, pull requests merged in 2020-05, with the labels that each got.

#7349 Replace default project colors
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchAllTimeEntriesAndCreateWorkspacePlaceholderAndDetectNewWorkspaceLater.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesAndCreatesAllPlaceholders.cs
  Toggl.Core.Tests.Sync/Scenarios/SyncLight/FetchesAllTimeEntriesWithRelationships.cs
  Toggl.Core.Tests/CalendarItemTests.cs
  Toggl.Core/Helper/Colors.cs
  Toggl.Droid/Resources/layout/MainLogCell.axml
  Toggl.Droid/Resources/layout/MainRunningTimeEntry.axml
  Toggl.Droid/Resources/layout/MainSuggestionsCard.axml
  Toggl.Droid/Resources/layout/StartTimeEntryActivityProjectCell.axml
  Toggl.Droid/Resources/layout/StartTimeEntryActivityTimeEntryCell.axml
  Toggl.Droid/Resources/layout/StartTimeEntryActivityTimeEntryWithPartialContentCell.axml
  Toggl.Droid/Resources/layout/SuggestionsWidgetItem.axml
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Networking.Tests.Integration/ProjectsApiTests.cs
Labels: android, ios

#7350 Data dump analytics
  Toggl.Core.Tests/Services/UnsyncedDataPersistenceServiceTests.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Services/UnsyncedDataPersistenceService.cs
Labels: foundation, metrics

#7358 Fix off by one error in calendar calculations
  Toggl.Core.Tests/Interactors/Calendar/GetCalendarItemsForDateInteractorTests.cs
  Toggl.Core/Interactors/Calendar/GetCalendarItemsForDateInteractor.cs
Labels: android, ios

#7328 Reload reports when the tab is opened if time entries have changed
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
Labels: android, foundation, ios

#7395 ⚙ Show sync manager version in settings screen
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core/Sync/ISyncManager.cs
  Toggl.Core/Sync/SyncManager.cs
  Toggl.Core/Sync/v2/SyncManagerSelector.cs
  Toggl.Core/Sync/v2/SyncManagerV2.cs
Labels: sync

#7394 📦 Add push request id to the storage
  Toggl.Storage.Realm/Database.cs
  Toggl.Storage.Realm/Models/RealmPushRequestIdentifier.cs
  Toggl.Storage.Realm/PushRequestIdentifierStorage.cs
  Toggl.Storage/IPushRequestIdentifierRepository.cs
  Toggl.Storage/ITogglDatabase.cs
  Toggl.Storage/Models/IDatabasePushRequestIdentifier.cs
Labels: sync

#7398 Fix custom colour selector
  Toggl.Core.UI/ViewModels/SelectColorViewModel.cs
  Toggl.Droid/Fragments/SelectColorFragment.cs
Labels: android, foundation, ios

#7399 Make typing feel faster on the create project view
  Toggl.Droid/Activities/StartTimeEntryActivity.cs
Labels: android

#7403 Color label transformations
  Toggl.Core.UI/Extensions/ColorExtensions.cs
  Toggl.Core.UI/Helper/Colors.cs
  Toggl.Core.UI/ViewModels/SelectColorViewModel.cs
  Toggl.Droid/Autocomplete/ProjectTokenSpan.cs
  Toggl.Droid/Extensions/TimeEntryExtensions.cs
  Toggl.Droid/Fragments/SelectColorFragment.cs
  Toggl.Droid/Helper/ActiveTheme.cs
  Toggl.Droid/ViewHolders/MainLog/MainLogSuggestionItemViewHolder.cs
  Toggl.Droid/ViewHolders/StartTimeEntry/ProjectSuggestionViewHolder.cs
  Toggl.Droid/ViewHolders/StartTimeEntry/TimeEntrySuggestionViewHolder.cs
  Toggl.Droid/Widgets/SuggestionsWidgetViewsFactory.cs
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
  Toggl.Shared/Color.cs
  Toggl.iOS/Autocomplete/AutocompleteExtensions.cs
  Toggl.iOS/Extensions/IThreadSafeTimeEntryExtensions.cs
  Toggl.iOS/Extensions/TimeEntryDisplayInfoExtensions.cs
  Toggl.iOS/Helper/ActiveTheme.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/Transformations/ProjectTaskClientToAttributedString.cs
  Toggl.iOS/ViewControllers/SelectColorViewController.cs
  Toggl.iOS/Views/StartTimeEntry/ProjectSuggestionViewCell.cs
  Toggl.iOS/Views/StartTimeEntry/ReactiveProjectSuggestionViewCell.cs
Labels: android, ios

#7401 🍐 iOS 2.15 — Pear
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7425 Purge the old onboarding
  Toggl.Core.UI/Onboarding/CreationView/DisabledConfirmationButtonOnboardingStep.cs
  Toggl.Core.UI/Onboarding/EditView/CategorizeTimeUsingProjectsOnboardingStep.cs
  Toggl.Core.UI/Onboarding/MainView/EditTimeEntryOnboardingStep.cs
  Toggl.Core.UI/Onboarding/MainView/StartTimeEntryOnboardingStep.cs
  Toggl.Core.UI/Onboarding/MainView/StopTimeEntryOnboardingStep.cs
  Toggl.Core.UI/Onboarding/StartTimeEntryView/AddProjectOrTagOnboardingStep.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.Onboarding.cs
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
  Toggl.Droid/Activities/StartTimeEntryActivity.cs
  Toggl.Droid/Extensions/OnboardingExtensions.cs
  Toggl.Droid/Fragments/MainFragment.Onboardings.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Storage.Tests/Onboarding/DismissableOnboardingStepTests.cs
  Toggl.Storage.Tests/Toggl.Storage.Tests.csproj
  Toggl.Storage/Extensions/OnboardingStepExtensions.cs
  Toggl.Storage/Onboarding/DismissableOnboardingStep.cs
  Toggl.Storage/Onboarding/IDismissable.cs
  Toggl.Storage/Onboarding/IOnboardingStep.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Extensions/OnboardingExtensions.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.designer.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.xib
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewControllers/MainViewController.designer.cs
  Toggl.iOS/ViewControllers/MainViewController.xib
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.designer.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.xib
  Toggl.iOS/Views/Onboarding/MostUsedPage.cs
  Toggl.iOS/Views/Onboarding/MostUsedPage.designer.cs
  Toggl.iOS/Views/Onboarding/MostUsedPage.xib
  Toggl.iOS/Views/Onboarding/ReportsPage.cs
  Toggl.iOS/Views/Onboarding/ReportsPage.designer.cs
  Toggl.iOS/Views/Onboarding/ReportsPage.xib
  Toggl.iOS/Views/Onboarding/TrackPage.cs
  Toggl.iOS/Views/Onboarding/TrackPage.designer.cs
  Toggl.iOS/Views/Onboarding/TrackPage.xib
Labels: android, foundation, ios

#7431 Fix login/signup crashes on iOS 11
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/SignUpViewController.cs
Labels: crash, ios

#7435 Implement the new empty state
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Resources/Images.xcassets/stopwatch.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/stopwatch.imageset/Stopwatch.png
  Toggl.iOS/Resources/Images.xcassets/stopwatch.imageset/Stopwatch@2x.png
  Toggl.iOS/Resources/Images.xcassets/stopwatch.imageset/Stopwatch@3x.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.cs
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.designer.cs
  Toggl.iOS/Views/Log/TimeEntriesEmptyLogView.xib
Labels: ios

#7436 Implement the plumbing necessary for the onboarding tooltips
  Toggl.Storage/OnboardingCondition.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
Labels: storage, wip

#7432 🍐 iOS 2.15.1 — Pear Hotfix
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/SignUpViewController.cs
Labels: ios, release

#7441 Add Sync Pulling
  Toggl.Core.Tests/Mocks/MockTask.cs
  Toggl.Core/Interactors/Sync/PullDataInteractor.cs
  Toggl.Core/Models/FoundationConstructors.cs
  Toggl.Core/Models/FoundationModels.cs
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Networking.Tests/Models/TaskTests.cs
  Toggl.Networking/Models/ModelConstructors.cs
  Toggl.Networking/Models/Task.cs
  Toggl.Shared/Models/ITask.cs
  Toggl.Storage.Realm/Extensions/Arrays.cs
  Toggl.Storage.Realm/Models/RealmPreferences.cs
  Toggl.Storage.Realm/Models/RealmTask.cs
  Toggl.Storage.Realm/Models/RealmUser.cs
  Toggl.Storage.Realm/Queries/ProcessPullResultQuery.cs
  Toggl.Storage.Realm/Queries/RealmQueryFactory.cs
  Toggl.Storage.Realm/Sync/ThreeWayMerge.cs
  Toggl.Storage.Realm/Toggl.Storage.Realm.csproj
  Toggl.Storage.Tests/Realm/Queries/QueryTests.cs
  Toggl.Storage/Queries/IQueryFactory.cs
  Toggl.Storage/Toggl.Storage.csproj
  Toggl.iOS/Startup/IosDependencyContainer.cs
Labels: sync
