Repository toggl/mobileapp, pull requests merged in 2020-10, with the labels that each got.

#7798 Add Portuguese string translations for Onboarding 3.0
  Toggl.Shared/Resources.pt.resx
Labels: amber-alpaca, foundation

#7800 Merge develop into project/onboarding-3.0
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: amber-alpaca

#7796 Update app icons and iOS splash screen
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/drawable-hdpi/ic_launcher.png
  Toggl.Droid/Resources/drawable-ldpi/ic_launcher.png
  Toggl.Droid/Resources/drawable-mdpi/ic_launcher.png
  Toggl.Droid/Resources/drawable-xhdpi/ic_launcher.png
  Toggl.Droid/Resources/drawable-xxhdpi/ic_launcher.png
  Toggl.Droid/Resources/drawable-xxxhdpi/ic_launcher.png
  Toggl.Droid/Resources/drawable/ic_launcher.xml
  Toggl.Droid/Resources/mipmap-anydpi-v26/ic_launcher.xml
  Toggl.Droid/Resources/mipmap-hdpi/ic_launcher.png
  Toggl.Droid/Resources/mipmap-mdpi/ic_launcher.png
  Toggl.Droid/Resources/mipmap-xhdpi/ic_launcher.png
  Toggl.Droid/Resources/mipmap-xxhdpi/ic_launcher.png
  Toggl.Droid/Resources/mipmap-xxxhdpi/ic_launcher.png
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Contents.json
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-114x114.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-120x120.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-152x152.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-167x167.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-180x180.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-57x57.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-58x58.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-80x80.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/Icon-App-87x87.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_1024.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_120-1.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_120.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_152.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_167.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_180.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_20.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_29.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_40-1.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_40-2.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_40.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_58-1.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_58.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_60.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_76.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_80-1.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_80.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/icon_87.png
  Toggl.iOS/Assets.xcassets/AppIcon.appiconset/toggl-app-icon-1024x1024.png
  Toggl.iOS/LaunchScreen.storyboard
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/icon_138.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/icon_276.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/icon_414.png
  Toggl.iOS/Resources/Images.xcassets/togglLogoWithoutTextRed.imageset/toggl-track_icon_pink_rgb.png
  Toggl.iOS/Toggl.iOS.csproj
Labels: android, ios

#7795 🐛 Use canvas's save & restore instead of reseting the matrix
  Toggl.Droid/Views/DateRangePickerMonthView.cs
Labels: android

#7808 Fix the toast color in the ForgotPasswordViewController
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
Labels: ios

#7810 Polish the calendar a little
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
Labels: ios

#7809 :construction: Fix the onboarding badge position
  Toggl.iOS/ViewControllers/MainViewController.cs
Labels: amber-alpaca, glitch, ios

#7812 Fix dark mode for TokenResetViewController
  Toggl.iOS/ViewControllers/TokenResetViewController.xib
Labels: ios

#7813 Fix colors in SelectDefaultWorkspaceViewController
  Toggl.iOS/Cells/SelectDefaultWorkspaceTableViewCell.xib
  Toggl.iOS/ViewControllers/SelectDefaultWorkspaceViewController.cs
Labels: glitch, ios

#7811 Fix Handoff urls
  Toggl.iOS/Helper/Handoff.cs
Labels: bug, ios

#7814 Fix one more Handoff url
  Toggl.iOS/Helper/Handoff.cs
Labels: bug, ios

#7804 iOS 2.20 - Ugni
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Cells/SelectDefaultWorkspaceTableViewCell.xib
  Toggl.iOS/Helper/Handoff.cs
  Toggl.iOS/Info.plist
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewControllers/SelectDefaultWorkspaceViewController.cs
  Toggl.iOS/ViewControllers/TokenResetViewController.xib
Labels: ios, release

#7817 Fix contextual menu issues
  Toggl.Droid/Fragments/CalendarFragment.cs
Labels: android, bug

#7805 Android 2.20 - Uštipci
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7821 Android 2.20.1 - Uštipci Hotfix #1
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7820 Add the new shiny onboarding indicator
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/MainTabBarController.cs
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
  Toggl.iOS/Views/TabBarIndicator.cs
Labels: amber-alpaca, blocking, ios

#7818 Add French strings for Onobarding 3.0
  Toggl.Shared/Resources.fr.resx
Labels: amber-alpaca, foundation

#7824 Add calendar time entry tooltip
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.Storage/OnboardingCondition.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Extensions/ColorAssets.cs
  Toggl.iOS/Resources/Colors.xcassets/AlwaysWhite.colorset/Contents.json
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/MainViewController.cs
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/TriangleView.cs
Labels: amber-alpaca, foundation, ios

#7825 Add Connect Calendars Popup
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarDayViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarViewModelTests.cs
  Toggl.Core.UI/Extensions/OnboardingExtensions.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/UIDependencyContainer.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/CalendarViewModel.cs
  Toggl.Core.UI/ViewModels/Calendar/ConnectCalendarsPopupViewModel.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.Storage/OnboardingCondition.cs
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Presentation/ModalCardPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/ConnectCalendarsPopupViewController.cs
  Toggl.iOS/ViewControllers/Calendar/ConnectCalendarsPopupViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/ConnectCalendarsPopupViewController.xib
Labels: amber-alpaca, blocking, foundation, ios

#7828 Fix connect calendars popup showing multiple times
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
Labels: amber-alpaca, bug, foundation

#7826 Add onboarding indicator to calendar tab
  Toggl.Core.UI/ViewModels/Calendar/CalendarDayViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.cs
  Toggl.iOS/ViewControllers/MainViewController.cs
Labels: amber-alpaca, foundation, ios

#7823 Add empty state view in the calendar
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup-1.png
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup.png
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup@2x-1.png
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup@2x.png
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup@3x-1.png
  Toggl.iOS/Resources/Images.xcassets/illustrationCup.imageset/illustrationCup@3x.png
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.designer.cs
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.xib
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: amber-alpaca, ios
