Repository toggl/mobileapp, pull requests merged in 2020-01, with the labels that each got.

#6870 Android 2.8.2 ischoklad
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android

#6851 Use native HTTP client handlers
  Toggl.Core.Tests.Sync/Helpers/Server.cs
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/UserAccessManager/ApiFactory.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Resources/xml/network_security_config.xml
  Toggl.Droid/Startup/AndroidDependencyContainer.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Networking.Tests.Integration/BaseTests/EndpointTestBase.cs
  Toggl.Networking.Tests.Integration/Helper/TogglApiFactory.cs
  Toggl.Networking.Tests.Integration/Helper/User.cs
  Toggl.Networking.Tests.Integration/Helper/WorkspaceHelper.cs
  Toggl.Networking/TogglApi.cs
  Toggl.iOS.Shared/Helper/APIHelper.cs
  Toggl.iOS.Shared/Toggl.iOS.Shared.csproj
  Toggl.iOS/Startup/IosDependencyContainer.cs
  docs/syncing/index.md
  docs/syncing/intercepting-http-requests.md
Labels: android, ios

#6836 Fix the notifications permission request
  Toggl.Core.Tests/UI/ViewModels/NotificationSettingsViewModelTests.cs
  Toggl.Core.UI/Services/IPermissionsChecker.cs
  Toggl.Core.UI/Services/PermissionAwareNotificationService.cs
  Toggl.Core.UI/Services/PermissionStatus.cs
  Toggl.Core.UI/ViewModels/Settings/NotificationSettingsViewModel.cs
  Toggl.Droid/Services/PermissionsCheckerAndroid.cs
  Toggl.iOS/Helper/PermissionsHelper.cs
  Toggl.iOS/Services/PermissionsCheckerIos.cs
  Toggl.iOS/ViewControllers/Settings/NotificationSettingsViewController.cs
  Toggl.iOS/ViewControllers/Settings/NotificationSettingsViewController.xib
Labels: ios

#6874 Fix constraints issues in the time entry cells
  Toggl.iOS/Cells/MainLog/TimeEntriesLogViewCell.cs
  Toggl.iOS/Cells/MainLog/TimeEntriesLogViewCell.xib
Labels: ios

#6872 Prevent null ref excepton in the iOS Widget
  Toggl.iOS.TimerWidgetExtension/TodayViewController.cs
Labels: glitch, ios

#6875 ✨ Add animation around play fab
  Toggl.Droid/Extensions/Reactive/ViewExtensions.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Fragments/MainFragment.ViewBinds.cs
  Toggl.Droid/Fragments/MainFragment.cs
  Toggl.Droid/Resources/layout/MainFragment.axml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values/Colors.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/Views/AnimatedFloatingActionButton.cs
Labels: android

#6855 Fix calendar swiping on iPad
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: ios

#6887 🐙 Update code owners for Github's review assignment
  .github/CODEOWNERS
Labels: process

#6883 🐛 Display onboarding tip only for fully visible TE log items
  Toggl.Droid/Fragments/MainFragment.Onboardings.cs
Labels: android

#6889 Make the calendar time entry dragging smooth
  Toggl.Droid/Extensions/ContextExtensions.cs
  Toggl.Droid/Resources/values/Dimen.xml
  Toggl.Droid/Views/Calendar/CalendarDayView.Background.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.EditItem.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
  Toggl.Droid/Views/Calendar/CalendarDayView.cs
Labels: android

#6863 Right-align calendar supplementary view labels
  Toggl.iOS/Cells/Calendar/EditingHourSupplementaryView.xib
  Toggl.iOS/Cells/Calendar/HourSupplementaryView.xib
Labels: ios

#6893 Recreate tap to edit onboarding tooltip when null
  Toggl.Droid/Fragments/MainFragment.Onboardings.cs
Labels: android

#6892 Clean up onboarding storage on logout
  Toggl.Core.Tests/Interactors/BaseInteractorTests.cs
  Toggl.Core.Tests/Interactors/UserAccess/LogoutInteractorTests.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Interactors/InteractorFactory.Definitions.cs
  Toggl.Core/Interactors/InteractorFactory.UserAccess.cs
  Toggl.Core/Interactors/UserAccess/LogoutInteractor.cs
Labels: foundation

#6921 Fix crash on iOS 12 caused by key commands
  Toggl.iOS/Helper/KeyCommandFactory.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Common/SelectorViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/EditProjectViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/MainViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/ReportsViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.KeyCommands.cs
Labels: bug, ios

#6926 Hide the "Track from Clipboard" shortcut on iOS 13
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.cs
Labels: glitch, ios

#6931 Re-add calendar notifications scheduling
  Toggl.Core.Tests/Interactors/Notifications/UpdateEventNotificationsSchedulesTests.cs
  Toggl.Core.Tests/Services/BackgroundServiceTests.cs
  Toggl.Core.Tests/UI/ViewModels/SettingsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Notifications.cs
  Toggl.Core/Interactors/Notifications/UpdateEventNotificationsSchedulesInteractor.cs
  Toggl.Core/Services/BackgroundService.cs
  Toggl.Droid/SystemServices/ScheduleEventNotificationsService.cs
Labels: foundation

#6935 Rename PrependAction to AppendAction and fix typo
  Toggl.Core.Tests/TestExtensions/RxActionExtensions.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarSettingsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/EditDurationViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectTagsViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SelectUserCalendarsViewModelBaseTests.cs
  Toggl.Core.Tests/UI/ViewModels/StartTimeEntryViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/SuggestionsViewModelTests.cs
Labels: tests

#6896 iOS 2.9 — Jackfruit
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Helper/KeyCommandFactory.cs
  Toggl.iOS/Info.plist
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Calendar/CalendarViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Common/SelectorViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/EditProjectViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/EditTimeEntryViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/MainViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveTableViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Reactive/ReactiveViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/ReportsViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsCustomTimeEntryViewController.cs
  Toggl.iOS/ViewControllers/Settings/Siri/SiriShortcutsViewController.cs
  Toggl.iOS/ViewControllers/StartTimeEntryViewController.KeyCommands.cs
Labels: release

#6928 🐛 Make sure StackTrace is not null
  Toggl.Core.Tests/Interactors/Sync/RunBackgroundSyncInteractorTests.cs
  Toggl.Core.Tests/Interactors/Sync/RunSyncInteractorTests.cs
  Toggl.Core/Interactors/Sync/RunBackgroundSyncInteractor.cs
  Toggl.Core/Interactors/Sync/RunSyncInteractor.cs
  Toggl.Core/Sync/SyncManager.cs
Labels: foundation

#6940 Bind edit te duration events on android
  Toggl.Droid/Activities/EditDurationActivity.cs
Labels: android, metrics

#6939 🚧 Use sync error to trigger noWS UI
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
Labels: foundation

#6932 Clamp queryTextSpan cursor position parameter
  Toggl.Droid/Autocomplete/AutocompleteExtensions.cs
Labels: android

#6941 Track calendar swipe events on droid
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/ViewHolders/CalendarWeekSectionViewHolder.cs
Labels: android, metrics

#6945 Fix onload scrolling behaviour in the DateRangePicker
  Toggl.iOS/ViewControllers/DateRangePickerViewController.cs
  Toggl.iOS/ViewSources/DateRangePickerViewSource.cs
Labels: glitch, ios

#6946 Fix the Handoff crash in Reports
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: crash, ios

#6938 Fix the DateRangePickerViewSource.ScrollToCurrentPage crash
  Toggl.iOS/ViewSources/DateRangePickerViewSource.cs
Labels: crash, ios

#6948 Use resources colours for auth screen dividers
  Toggl.Droid/Resources/layout/LoginActivity.axml
  Toggl.Droid/Resources/layout/SignUpActivity.axml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values/Colors.xml
Labels: android

#5832 Configure build/performance settings
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Toggl.Droid.csproj
  build.cake
Labels: android

#6826 Leaky bucket v2
  Toggl.Core.Tests.Sync/Helpers/Server.cs
  Toggl.Core.Tests.Sync/Helpers/SlowApiClient.cs
  Toggl.Core.Tests/Helpers/ApiExceptions.cs
  Toggl.Core.Tests/Sync/LeakyBucketTests.cs
  Toggl.Core.Tests/Sync/RateLimiterTests.cs
  Toggl.Core.Tests/Sync/States/Pull/FetchAllSinceStateTests.cs
  Toggl.Core.Tests/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceStateTests.cs
  Toggl.Core.Tests/Sync/States/Push/BaseStates/BasePushEntityStateTests.cs
  Toggl.Core.Tests/Sync/States/Push/CreateEntityStateTests.cs
  Toggl.Core.Tests/Sync/States/Push/DeleteEntityStateTests.cs
  Toggl.Core.Tests/Sync/States/Push/UpdateEntityStateTests.cs
  Toggl.Core.Tests/Sync/SyncGraphTests.cs
  Toggl.Core.Tests/Sync/SyncManagerTests.cs
  Toggl.Core.Tests/UI/ViewModels/SignupViewModelTests.cs
  Toggl.Core.Tests/UserAccessManager/UserAccessManagerTests.cs
  Toggl.Core.UI/ViewModels/SignupViewModel.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Extensions/TimeServiceExtensions.cs
  Toggl.Core/Sync/ILeakyBucket.cs
  Toggl.Core/Sync/IRateLimiter.cs
  Toggl.Core/Sync/LeakyBucket.cs
  Toggl.Core/Sync/RateLimiter.cs
  Toggl.Core/Sync/States/Pull/BaseFetchSinceState.cs
  Toggl.Core/Sync/States/Pull/FetchAllSinceState.cs
  Toggl.Core/Sync/States/PullTimeEntries/FetchJustTimeEntriesSinceState.cs
  Toggl.Core/Sync/States/Push/BasePushEntityState.cs
  Toggl.Core/Sync/States/Push/CreateEntityState.cs
  Toggl.Core/Sync/States/Push/DeleteEntityState.cs
  Toggl.Core/Sync/States/Push/Interfaces/IPushEntityState.cs
  Toggl.Core/Sync/States/Push/UpdateEntityState.cs
  Toggl.Core/TogglSyncManagerFactory.cs
  Toggl.Core/UserAccessManager/ApiFactory.cs
  Toggl.Core/UserAccessManager/IApiFactory.cs
  Toggl.Core/UserAccessManager/UserAccessManager.cs
  Toggl.Networking.Tests.Integration/BaseTests/EndpointTestBase.cs
  Toggl.Networking.Tests.Integration/Helper/RetryingApiClient.cs
  Toggl.Networking.Tests.Integration/Helper/TogglApiFactory.cs
  Toggl.Networking.Tests.Integration/Helper/User.cs
  Toggl.Networking.Tests.Integration/Properties/AssemblyInfo.cs
  Toggl.Networking.Tests/ApiClients/BaseApiTests.cs
  Toggl.Networking.Tests/ApiClients/StatusApiTests.cs
  Toggl.Networking.Tests/ApiClients/TimeEntriesApiTests.cs
  Toggl.Networking.Tests/Exceptions/ApiErrorResponsesTests.cs
  Toggl.Networking.Tests/Network/ApiClientTests.cs
  Toggl.Networking.Tests/Network/LeakyBucketTests.cs
  Toggl.Networking.Tests/Network/MockHttpHeaders.cs
  Toggl.Networking.Tests/Properties/AssemblyInfo.cs
  Toggl.Networking/Extensions/LeakyBucketExtensions.cs
  Toggl.Networking/Network/ApiClients/AdaptingRateLimitingAwareApiClient.cs
  Toggl.Networking/Network/ApiClients/ApiClient.cs
  Toggl.Networking/Network/ApiClients/RateLimitingAwareApiClient.cs
  Toggl.Networking/Network/Interface/IResponse.cs
  Toggl.Networking/Network/LeakyBucket.cs
  Toggl.Networking/Network/Response.cs
  Toggl.Networking/TogglApi.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
  Toggl.iOS.Shared/Helper/APIHelper.cs
Labels: api

#6951 💥 Yet another null check for reports
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: crash, ios

#6956 Improve improved duration format on reports summary
  Toggl.iOS/Cells/Reports/ReportsSummaryCollectionViewCell.cs
Labels: ios

#6969 Remove Jan campaign code from the hotfix branch
  Toggl.Core.Tests/Services/UpdateRemoteConfigCacheServiceTests.cs
  Toggl.Core.Tests/UI/ViewModels/BaseViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/January2020CampaignViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/MainViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/January2020CampaignViewModel.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Core.UI/ViewModels/MainViewModel.cs
  Toggl.Core/Analytics/BaseAnalyticsService.cs
  Toggl.Core/Analytics/IAnalyticsService.cs
  Toggl.Core/Extensions/RemoteConfigExtensions.cs
  Toggl.Core/Services/IFetchRemoteConfigService.cs
  Toggl.Core/Services/IRemoteConfigService.cs
  Toggl.Core/Services/IUpdateRemoteConfigCacheService.cs
  Toggl.Core/Services/RemoteConfigService.cs
  Toggl.Core/Services/UpdateRemoteConfigCacheService.cs
  Toggl.Droid/Fragments/January2020CampaignFragment.cs
  Toggl.Droid/Presentation/DialogFragmentPresenter.cs
  Toggl.Droid/Resources/drawable-hdpi/pinata.png
  Toggl.Droid/Resources/drawable-mdpi/pinata.png
  Toggl.Droid/Resources/drawable-xhdpi/pinata.png
  Toggl.Droid/Resources/drawable-xxhdpi/pinata.png
  Toggl.Droid/Resources/drawable-xxxhdpi/pinata.png
  Toggl.Droid/Resources/layout/January2020CampaignFragment.axml
  Toggl.Droid/Resources/xml/RemoteConfigDefaults.xml
  Toggl.Droid/Services/FetchRemoteConfigServiceAndroid.cs
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared.Tests/January2020CampaignConfigurationTests.cs
  Toggl.Shared/January2020CampaignConfiguration.cs
  Toggl.Shared/Resources.Designer.cs
  Toggl.Shared/Resources.resx
  Toggl.Storage/Settings/IOnboardingStorage.cs
  Toggl.Storage/Settings/SettingsStorage.cs
  Toggl.iOS/Presentation/ModalDialogPresenter.cs
  Toggl.iOS/Presentation/ViewControllerLocator.cs
  Toggl.iOS/RemoteConfigDefaults.plist
  Toggl.iOS/Resources/Images.xcassets/pinata.imageset/Contents.json
  Toggl.iOS/Resources/Images.xcassets/pinata.imageset/pinata.png
  Toggl.iOS/Resources/Images.xcassets/pinata.imageset/pinata@2x.png
  Toggl.iOS/Resources/Images.xcassets/pinata.imageset/pinata@3x.png
  Toggl.iOS/Services/FetchRemoteConfigServiceIos.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/January2020CampaignViewController.cs
  Toggl.iOS/ViewControllers/January2020CampaignViewController.designer.cs
  Toggl.iOS/ViewControllers/January2020CampaignViewController.xib
Labels: ios

#6970 Consider latest tag when building for release
  build.cake
Labels: android

#6862 Cache calendar layout attributes
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: ios, refactoring

#6995 Fix widgets authenticated tap to open app
  Toggl.Droid/Extensions/ContextExtensions.cs
  Toggl.Droid/Helper/PersistentNotificationsHelper.cs
  Toggl.Droid/Widgets/SuggestionsWidgetListFormFactor.cs
  Toggl.Droid/Widgets/SuggestionsWidgetNotLoggedInFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
Labels: android, bug

#6994 Fix calendar day view lazy bindings
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.cs
Labels: android, bug

#6984 Resize icon based on calendar event size
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
Labels: android

#7028 Fix color selection in iOS 12
  Toggl.iOS/Views/Color/ColorSelectionViewCell.xib
Labels: ios

#6965 Android 2.10 - Kuzumochi
  Toggl.Droid/Extensions/ContextExtensions.cs
  Toggl.Droid/Fragments/Calendar/CalendarDayViewPageFragment.cs
  Toggl.Droid/Helper/PersistentNotificationsHelper.cs
  Toggl.Droid/Properties/AndroidManifest.xml
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
  Toggl.Droid/Widgets/SuggestionsWidgetListFormFactor.cs
  Toggl.Droid/Widgets/SuggestionsWidgetNotLoggedInFormFactor.cs
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
  build.cake
Labels: android, release

#6954 Revamp droid settings
  Toggl.Core.UI/ViewModels/Settings/SettingsViewModel.cs
  Toggl.Core.UI/Views/Settings/AnnotationRow.cs
  Toggl.Core.UI/Views/Settings/ButtonRow.cs
  Toggl.Core.UI/Views/Settings/CustomRow.cs
  Toggl.Core.UI/Views/Settings/ISettingRow.cs
  Toggl.Core.UI/Views/Settings/InfoRow.cs
  Toggl.Core.UI/Views/Settings/NavigationRow.cs
  Toggl.Core.UI/Views/Settings/ToggleRow.cs
  Toggl.Droid/Activities/SettingsActivity.ViewBinds.cs
  Toggl.Droid/Activities/SettingsActivity.cs
  Toggl.Droid/DebugHelpers/ErrorTriggeringFragmentShortcut.cs
  Toggl.Droid/Resources/layout/SettingsActivity.axml
  Toggl.Droid/Resources/layout/SettingsButtonRowView.axml
  Toggl.Droid/Resources/layout/SettingsButtonRowWithDetailsView.axml
  Toggl.Droid/Resources/layout/SettingsDividerRowView.axml
  Toggl.Droid/Resources/layout/SettingsHeaderRowView.axml
  Toggl.Droid/Resources/layout/SettingsInfoRowView.axml
  Toggl.Droid/Resources/layout/SettingsLogoutRowView.axml
  Toggl.Droid/Resources/layout/SettingsNavigationRowView.axml
  Toggl.Droid/Resources/layout/SettingsToggleRowView.axml
  Toggl.Droid/Resources/layout/SettingsToggleRowWithDescription.axml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Droid/ViewHolders/Settings/DividerRowView.cs
  Toggl.Droid/ViewHolders/Settings/HeaderRow.cs
  Toggl.Droid/ViewHolders/Settings/HeaderRowView.cs
  Toggl.Droid/ViewHolders/Settings/InfoRowViewView.cs
  Toggl.Droid/ViewHolders/Settings/LogoutRowViewView.cs
  Toggl.Droid/ViewHolders/Settings/NavigationRowViewView.cs
  Toggl.Droid/ViewHolders/Settings/SettingsRowView.cs
  Toggl.Droid/ViewHolders/Settings/ToggleRowViewView.cs
  Toggl.Droid/ViewHolders/Settings/ToggleRowViewWithDescriptionView.cs
  Toggl.Droid/ViewHolders/Settings/ToggleRowWithDescription.cs
  Toggl.iOS/Cells/Settings/SettingCell.cs
  Toggl.iOS/Cells/Settings/SettingsAnnotationCell.cs
  Toggl.iOS/Cells/Settings/SettingsButtonCell.cs
  Toggl.iOS/Cells/Settings/SettingsSyncCell.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.cs
  Toggl.iOS/ViewSources/SettingsTableViewSource.cs
Labels: android, foundation, ios

#7029 Fix date format
  Toggl.Core.Tests/Interactors/Preferences/GetPreferencesInteractorTests.cs
  Toggl.Core.Tests/UI/ViewModels/CalendarContextualMenuViewModelTests.cs
  Toggl.Core.Tests/UI/ViewModels/EditTimeEntryViewModelTests.cs
  Toggl.Core.UI/ViewModels/Calendar/ContextualMenu/CalendarContextualMenuViewModel.cs
  Toggl.Core.UI/ViewModels/EditTimeEntryViewModel.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Preferences.cs
  Toggl.Core/Interactors/Preferences/ObservePreferencesInteractor.cs
Labels: android, foundation, ios

#6985 Refactor CalendarCollectionViewSource
  Toggl.iOS/ViewControllers/Calendar/CalendarDayViewController.cs
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
  Toggl.iOS/Views/Calendar/ICalendarCollectionViewLayoutDataSource.cs
Labels: ios, refactoring

#7044 Fix a crash in calendar layout caching
  Toggl.iOS/Views/Calendar/CalendarCollectionViewLayout.cs
Labels: crash, ios

#7048 Make dark theme icons pop
  Toggl.Droid/Resources/drawable/ic_workspace.xml
  Toggl.Droid/Resources/layout/EditDurationActivity.axml
  Toggl.Droid/Resources/layout/EditProjectActivity.axml
  Toggl.Droid/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/MainLogCell.axml
  Toggl.Droid/Resources/layout/StartTimeEntryActivity.axml
  Toggl.Droid/Resources/menu/SettingsMenu.xml
  Toggl.Droid/Resources/values-night/Colors.xml
  Toggl.Droid/Resources/values/Colors.xml
Labels: android

#7045 Fix main log section header reloading
  Toggl.iOS/Cells/MainLog/SuggestionsHeaderView.cs
  Toggl.iOS/Cells/MainLog/TimeEntriesLogHeaderView.cs
Labels: glitch, ios

#7056 Fix toolbar behaviors
  Toggl.Droid/Activities/EditTimeEntryActivity.cs
  Toggl.Droid/Activities/LicensesActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.cs
  Toggl.Droid/Extensions/ViewExtensions.cs
  Toggl.Droid/Resources/layout/AboutActivity.axml
  Toggl.Droid/Resources/layout/CalendarSettingsActivity.axml
  Toggl.Droid/Resources/layout/EditTimeEntryActivity.axml
  Toggl.Droid/Resources/layout/MainFragment.axml
  Toggl.Droid/Resources/layout/SendFeedbackActivity.axml
Labels: android

#7021 Lazy Tab ViewModels
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModels/MainTabBarViewModelTests.cs
  Toggl.Core.UI/Navigation/ViewModelLoader.cs
  Toggl.Core.UI/ViewModels/MainTabBarViewModel.cs
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Activities/ReactiveActivity.cs
  Toggl.Tools/SyncDiagramGenerator/SyncDiagramGenerator.cs
  Toggl.iOS/ViewControllers/MainTabBarController.cs
Labels: android, foundation

#7051 Add start time entry DTO
  Toggl.Storage/Queries/Models/StartTimeEntryDTO.cs
Labels: storage

#7050 Fix bar chart view crash
  Toggl.iOS/Views/Reports/BarView.cs
Labels: crash, ios

#7064 Fix suggestions widget analytics intent parameters
  Toggl.Droid/Widgets/SuggestionsWidget.cs
Labels: android, bug, metrics
