Repository toggl/mobileapp, pull requests merged in 2020-04, with the labels that each got.

#7258 Fix calendar view menu hiding logic
  Toggl.Droid/Activities/MainTabBarActivity.cs
  Toggl.Droid/Fragments/CalendarFragment.ViewBinds.cs
  Toggl.Droid/Fragments/CalendarFragment.cs
  Toggl.Droid/Resources/layout/CalendarHeaderView.axml
Labels: android, bug

#7231 Fix donut chart touch NPE
  Toggl.Droid/Views/DonutChart/DonutChartView.cs
Labels: android, crash

#7262 Create interactor to generate syncable data dump
  Toggl.Core.Tests/Interactors/Sync/CreateUnsyncedDataDumpInteractorTests.cs
  Toggl.Core/Interactors/IInteractorFactory.cs
  Toggl.Core/Interactors/InteractorFactory.Sync.cs
  Toggl.Core/Interactors/Sync/CreateUnsyncedDataDumpInteractor.cs
  Toggl.Core/Models/UnsyncedDataDump.cs
Labels: foundation

#7270 Fixes in email login and signup
  Toggl.Shared/Resources.resx
  Toggl.iOS/Extensions/Reactive/UIButtonExtensions.cs
  Toggl.iOS/Helper/TextHelper.cs
  Toggl.iOS/Toggl.iOS.csproj
  Toggl.iOS/ViewControllers/LoginViewController.cs
  Toggl.iOS/ViewControllers/LoginViewController.xib
  Toggl.iOS/ViewControllers/SignUpViewController.designer.cs
  Toggl.iOS/ViewControllers/SignUpViewController.xib
  Toggl.iOS/ViewControllers/SignupViewController.cs
  Toggl.iOS/ViewControllers/SignupViewController.designer.cs
  Toggl.iOS/ViewControllers/SignupViewController.xib
  Toggl.iOS/ViewControllers/TermsAndCountryViewController.xib
Labels: bug, glitch, ios

#7266 Android 2.13 Nougat Hotfix #1
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7271 Fixes in reset password
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.cs
  Toggl.iOS/ViewControllers/ForgotPasswordViewController.xib
Labels: bug, glitch, ios

#7277 Don't stop audio playback when opening the app
  Toggl.iOS/Startup/AppDelegate.cs
  Toggl.iOS/ViewControllers/OnboardingViewController.cs
  Toggl.iOS/Views/Onboarding/OnboardingPageView.cs
  Toggl.iOS/Views/Onboarding/PeriscopeView.cs
  Toggl.iOS/Views/Onboarding/VideoView.cs
Labels: bug, glitch, ios

#6329 Brazilian Portuguese Translation
  Toggl.Core/Helper/Constants.cs
  Toggl.Droid/Resources/values-pt/strings.xml
  Toggl.Droid/Toggl.Droid.csproj
  Toggl.Shared/Resources.pt.resx
  Toggl.Shared/Toggl.Shared.csproj
Labels: foundation

#7275 Improve text contrast on calendar
  Toggl.Droid/Views/Calendar/CalendarDayView.Events.cs
Labels: android

#7284 Fix crash in CalendarCollectionViewSource when dequeueing items
  Toggl.iOS/ViewSources/CalendarCollectionViewSource.cs
Labels: crash, ios

#7272 Attach onboarding scroll events
  Toggl.Droid/Activities/OnboardingActivity.cs
Labels: android

#7289 Fix custom report Siri shortcuts
  Toggl.Core.Tests/UI/ViewModels/Reports/ReportsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Core/Analytics/DataRangeSelectionSource.cs
  Toggl.iOS/Presentation/RootPresenter.cs
Labels: bug, ios

#7286 Android 2.14 - Ovo de Páscoa
  Toggl.Droid/Properties/AndroidManifest.xml
Labels: android, release

#7293 Fix third-party logins on iOS
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
Labels: bug, critical, ios

#7296 Track third party login errors properly
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
Labels: bug, ios

#7302 Fix crash in onboarding
  Toggl.iOS/Views/Onboarding/PeriscopeView.cs
  Toggl.iOS/Views/Onboarding/VideoView.cs
Labels: crash, ios

#7291 🍊 iOS 2.14 — Orange
  Toggl.Core.UI/ViewModels/OnboardingViewModel.cs
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7303 🍊 iOS 2.14.1 — Orange Hotfix #1
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
Labels: ios, release

#7304 🍊 iOS 2.14.2 — Orange Hotfix #2
  Toggl.iOS.SiriExtension.UI/Info.plist
  Toggl.iOS.SiriExtension/Info.plist
  Toggl.iOS.TimerWidgetExtension/Info.plist
  Toggl.iOS/Info.plist
  Toggl.iOS/Views/Onboarding/PeriscopeView.cs
  Toggl.iOS/Views/Onboarding/VideoView.cs
Labels: ios, release

#7310 Prevent running entries from having start time in the future
  Toggl.iOS/Views/Calendar/CalendarCollectionViewEditItemHelper.cs
Labels: bug, ios

#7311 🤜 Add Sync Push actions classes
  Toggl.Networking.Tests/Extensions/JsonExtensions.cs
  Toggl.Networking.Tests/Sync/MetaClassesTests.cs
  Toggl.Networking.Tests/Sync/PushActionsTests.cs
  Toggl.Networking/Sync/ActionType.cs
  Toggl.Networking/Sync/CreateMeta.cs
  Toggl.Networking/Sync/CreatePushAction.cs
  Toggl.Networking/Sync/DeleteMeta.cs
  Toggl.Networking/Sync/DeletePushAction.cs
  Toggl.Networking/Sync/ErrorMessage.cs
  Toggl.Networking/Sync/IMeta.cs
  Toggl.Networking/Sync/IPushAction.cs
  Toggl.Networking/Sync/PushAction.cs
  Toggl.Networking/Sync/PushRequest.Clients.cs
  Toggl.Networking/Sync/PushRequest.Preferences.cs
  Toggl.Networking/Sync/PushRequest.Projects.cs
  Toggl.Networking/Sync/PushRequest.Tags.cs
  Toggl.Networking/Sync/PushRequest.TimeEntries.cs
  Toggl.Networking/Sync/PushRequest.User.cs
  Toggl.Networking/Sync/PushRequest.cs
  Toggl.Networking/Sync/UpdatePushAction.cs
  Toggl.Shared/Extensions/EnumerableExtensions.cs
Labels: sync, wip

#7318 Fix submit feedback snackbar in iPad split view
  Toggl.iOS/ViewControllers/Settings/SettingsViewController.xib
Labels: glitch, ios

#7323 🧹 Fix tap to edit dismiss functionality in onboarding
  Toggl.Droid/Fragments/MainFragment.Onboardings.cs
Labels: android

#7325 Fix reports not showing correct range in handoff
  Toggl.Core.Tests/UI/ViewModels/Reports/ReportsViewModelTests.cs
  Toggl.Core.UI/ViewModels/Reports/ReportsViewModel.cs
  Toggl.Droid/Fragments/ReportsFragment.cs
  Toggl.iOS/Presentation/RootPresenter.cs
  Toggl.iOS/ViewControllers/ReportsViewController.KeyCommands.cs
  Toggl.iOS/ViewControllers/ReportsViewController.cs
Labels: bug, foundation, ios

#7315 💾 Implement unsynced data file persistence service
  Toggl.Core.Tests/Services/BackgroundServiceTests.cs
  Toggl.Core.Tests/Services/UnsyncedDataPersistenceServiceTests.cs
  Toggl.Core.Tests/TestDependencyContainer.cs
  Toggl.Core.Tests/UI/ViewModelLocatorTests.cs
  Toggl.Core/DependencyContainer.cs
  Toggl.Core/Services/BackgroundService.cs
  Toggl.Core/Services/IUnsyncedDataPersistenceService.cs
  Toggl.Core/Services/UnsyncedDataPersistenceService.cs
Labels: android

#7327 🌚 Fix dark/light mode switching for widgets
  Toggl.Droid/Resources/layout/TimeEntryWidget.axml
  Toggl.Droid/Widgets/TimeEntryWidgetDefaultFormFactor.cs
Labels: android

#7326 📨Debug unsynced data via mail
  Toggl.Core/Services/IUnsyncedDataPersistenceService.cs
  Toggl.Core/Services/UnsyncedDataPersistenceService.cs
  Toggl.Droid/DebugHelpers/ErrorTriggeringFragment.cs
Labels: android
